{% extends "seo_base.html" %}

{% block directseo_title %}{{ site_title }}{% endblock %}

{% block meta_title %}
<meta name="title" content="{{site_title}}">
{% endblock %}

{% block publisher %}
    {% if site_config.publisher and "network" not in site_tags %}
        <link href="https://plus.google.com/{{ site_config.publisher }}" rel="publisher" />
    {% else %}
        <link href="https://plus.google.com/100406566063094579991" rel="publisher" />
    {% endif %}
{% endblock publisher %}
{% block directseo_wide_header %}{% endblock directseo_wide_header %}

{% block directseo_outer_container %}
{% if site_config.body %}{{site_config.body|safe}}{% endif %}
{% endblock directseo_outer_container %}

{% block directseo_wide_footer %}{% endblock directseo_wide_footer %}
