{% extends "seo_base.html" %}
{% block directseo_title %}{{ site_title }}{% endblock %}

{% block meta_title %}
<meta name="title" content="{{site_title}}">
<link href="http://d2e48ltfsb5exy.cloudfront.net/myjobs/logos/def.myjobs.145-03.css" type="text/css" rel="stylesheet">

<script type='text/javascript' src='http://seo.nlx.org/jobs.providenceiscalling.jobs/js/jquery.modal.js'></script>
<script type='text/javascript' src='http://seo.nlx.org/jobs.providenceiscalling.jobs/js/site.js'></script>
<link rel="stylesheet" href="http://seo.nlx.org/my.jobs/flexslider.css" type="text/css" media="screen" />
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>

<link href="{{ STATIC_URL }}my.jobs.homepage.154-29.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block publisher %}
    {% if site_config.publisher and "network" not in site_tags %}
        <link href="https://plus.google.com/{{ site_config.publisher }}" rel="publisher" />
    {% else %}
        <link href="https://plus.google.com/100406566063094579991" rel="publisher" />
    {% endif %}
{% endblock publisher %}

{% block directseo_main_content%}
<div class="cp-container">
    <div class="cp-row marquee">
        <div class="cp-grid-full">
            <form id="standardSearch" action="/jobs/">
                <div class="row standard">
                    <div class="searchHeader">
                        <div class="searchTab">
                            <label for="location">Where</label>
                            <input type="text" name="location" id="location" class="micrositeLocationField ui-autocomplete-input" value="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            <span class="helptext" id="where">city, state, country</span>

                        </div>
                        <div class="searchTab">
                            <label for="q">What</label>
                            <input type="text" name="q" id="q" class="micrositeTitleField ui-autocomplete-input" value="" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
                            <span class="helptext" id="what">job title, keywords</span>
                        </div>

                        <div class="stub">
                            <div class="pull-right">
                                <input type="submit" class="btn primary" value="search">
                            </div>
                        </div>
                    </div><!-- .searchHeader -->
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="searchFooter">
                        <a href="/jobs/" class="viewAllLink">
                            View All Jobs
                        </a>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </form>
        </div>
        <div id="mkt-icons" class="cp-grid-full clearfix">
            <div id="save" class="cp-grid-oneFourth"><span class="action-title">Save</span><p>Use save search to be alerted of new job openings.</p></div>
            <div id="share" class="cp-grid-oneFourth"><span class="action-title">Share</span><p>Instantly email jobs or share openings to your social media accounts.</p></div>
            <div id="control" class="cp-grid-oneFourth"><span class="action-title">Control</span><p>Take control of your personal brand and market yourself to potential employers.</p></div>
            <div id="connect" class="cp-grid-oneFourth last"><span class="action-title">Connect</span><p>Connect with employers in a variety of industries, located in cities across the nation.</p></div>
        </div>
    </div>
    <div class="cp-row campaign-row white-plain">
        <div class="cp-grid-full">
            <h2>Employers</h2>
            <div class="cp-grid-half">
                <div id="campaign-1" class="campaign-module">
                    <a href="http://secure.my.jobs" target="_blank" title="PRM - Partner Relationship Manager">
                    </a>
                </div>
            </div>
            <div class="cp-grid-fourth">
                <div  id="campaign-2" class="campaign-module">
                    <a href="https://www.surveymonkey.com/s/DEAM15callforpresenters" target="_blank" title="DEAM15: DirectEmployers 2015 Annual Meeting &amp; Conference">
                    </a>
                </div>
            </div>
            <div class="cp-grid-fourth last">
                <div id="campaign-3" class="campaign-module">
                    <a href="http://connect.directemployers.org/" target="_blank" title="Employers Connect Events">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cp-row lt-gray">
        <div class="cp-grid-full">
            <h2 class="homepage">Companies</h2>
            <script src="http://src.nlx.org/widgets/de_member_carousel.js"></script>
            <div id="de-member-carousel"></div>
            <div id="company-links">
                <a class="companyLink" href="/member-companies/">Member Companies</a>
                <a class="companyLink" href="/all-companies/">All Companies</a>
            </div>
        </div>
    </div>
</div>
{% if site_config.body %} {{site_config.body|safe}} {% endif %}
<a href="https://plus.google.com/101196144093609214067" rel="publisher"></a>
<script type="text/javascript" src="{{ STATIC_URL }}my.jobs.homepage.154-29.js"></script>
{% endblock %}

{% block directseo_searchbox %}{% endblock %}

