{% extends "seo_base.html" %}
{% load i18n %}
{% load seo_extras %}
{% load cache %}
{% cache 600 joblisting %}

{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">
{% endblock direct_extraHeaderContent %}

{% block publisher %}
    {% if site_config.publisher and "network" not in site_tags %}
        <link href="https://plus.google.com/{{ site_config.publisher }}" rel="publisher" />
    {% else %}
        <link href="https://plus.google.com/100406566063094579991" rel="publisher" />
    {% endif %}
{% endblock %}

{% block directseo_title %}
    {{site_title}} 
{% endblock directseo_title %}

{% block rss_feed %}
<link rel="alternate" type="application/rss+xml" title="Jobs - {{site_title}}" href="{{request.build_absolute_uri}}feed/rss">
{% endblock rss_feed %}
{% block directseo_primary_navigation %}{% endblock directseo_primary_navigation %}

{% block directseo_blurb %}
<div id="direct_blurbDiv">
    {% if site_config.defaultBlurbTitle %}<h3>{{site_config.defaultBlurbTitle}}</h3>{% endif %}
    <div id="direct_blurbContents">
        <p>{{site_config.defaultBlurb|safe}}</p>
    </div>
</div>
{% endblock directseo_blurb %}

{% block directseo_main_content %}
<a href="#filters" class="direct_mobileJumpLink">{% blocktrans %}Jump to Filters{% endblocktrans %}</a>
<h3 class="direct_highlightedText">{% trans "Jobs" %}</h3>
{% include 'includes/job_list.html' %}
{% endblock directseo_main_content %}

{% block directseo_right_hand_column %}
{% if default_jobs or featured_jobs %}
<a name="filters"></a>  
<div id="direct_shareDiv" class="direct_rightColBox direct_shareSolo" role="menu">
    <h3>{% trans "Share" %}</h3>
    {% include 'includes/add_this.html' %}<!--temp rollback of my.jobs sharing [JPS 10.4.12]-->
</div>
<a href="#top" class="direct_mobileJumpLink">{% blocktrans %}Return to top{% endblocktrans %}</a>
<div id="direct_disambiguationDiv" class="direct_rightColBox">
{% for widget in widgets %}
{% if widget.render %}
{{ widget.render }}
{% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock directseo_right_hand_column %}

{% block directseo_off_site_links %}
    {% if site_config.show_home_social_footer %}
        {% include "off_site_links.html" %}
    {% else %}
        <div id="direct_clearDiv"></div>
    {% endif %}
{% endblock directseo_off_site_links%}

{% block directseo_micrositecarousel %}
    {% if site_config.show_home_microsite_carousel %}
    <div id="listing_microsite_carousel">
        {{ block.super }}
    </div>
    {% endif %}
{% endblock directseo_micrositecarousel %}  


{% endcache %}
