{% load postajob_tags %}

<tbody id="posted-jobs">
{% if blocked_users %}
{% for blocked_user in blocked_users%}
<tr class="posted-job-tr">
    <td class="blocked_user-blocked_user-name">{{ blocked_user.get_full_name }}</td>
    <td class="blocked_user-blocked_user-email">{{ blocked_user.email }}</td>
    <td class="blocked_user-actions"><a href="{% url 'unblock_user' pk=blocked_user.id %}">Unblock</a></td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan=5>You currently have not blocked any users.</td>
</tr>
{% endif %}
</tbody>
