{% load postajob_tags %}

{% if jobs %}
    {% for job in jobs %}
    <div class="product-card no-highlight">
        <div class="big-title">
            {{ job.title }}
        </div>
        <div class="sub-title">
            {{ job.owner.name }}
        </div>
        <div class="product-details">
            Requisition ID: {{ job.reqid }} - Job URL: {% get_job_links job %}
        </div>
        <div class="product-details">
            Expires: {{ job.date_expired }}
        </div>
        {% if not job.is_past_max_expiration_date %}<a class="btn" href="{% url 'job_update' pk=job.pk %}">Edit</a>{% else %}<a class="btn disabled" title="Job is expired">Edit</a>{% endif %}
    </div>
    {% endfor %}
{% else %}
    <div class="product-card no-highlight">
        You currently have no posted jobs.
    </div>
{% endif %}