{# Error message used for when a company doesn't have a site package #}
<div class="row">
    <div class="offset1 span7">
        <div class="row">
            <div class="message-box hero-unit">
                <img class="mobile-img" src="/files/images/caution-badge.png">
                <p>
                   Please contact your member representative to activate this feature. 
                </p>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


