<div class="formBox no-padding">
    <h4>{{ formBox_title }}</h4>
    <table id="product-table-{{ company.id }}" class="table table-bordered table-striped">
        {% if offline_purchases %}
        <thead>
        <tr>
            <td>Products</td>
            <td>Redemption Code</td>
            <td>Redeemed By</td>
            <td>Redeemed On</td>
            <td></td>
        </tr>
        </thead>
        {% endif %}
        {% include "postajob/includes/offlinepurchase_rows.html" %}
    </table>
    {% if formBox_footer %}
    <div class="formBox-footer">
        <a href="{% url 'offlinepurchase' %}" class="btn pull-right">Manage Offline Purchases</a>
        <div class="clear"></div>
    </div>
    {% endif %}
</div>