{% load postajob_tags %}

{% for purchase in offline_purchases %}
    <div class="product-card no-highlight">
        <div class="big-title">{% get_product_names purchase %}</div>
        {% if purchase.redeemed_on %}<div class="sub-title">{{ purchase.redeemed_on }}</div>{% endif %}
        <div class="product-details">{{ purchase.redemption_uid }}{% if purchase.redeemed_by %} - Redeemed by: {% get_redeemer purchase %}{% endif %}</div>
        {% if not purchase.redeemed_on %}<a id="product-{{ product.id }}" class="btn" href="{% url 'offlinepurchase_delete' pk=purchase.pk %}">Delete</a> {% endif %}
    </div>
{% empty %}
    <div class="product-card no-highlight">
        You currently have no offline purchases.
    </div>
{% endfor %}