{% load postajob_tags %}

<tbody id="product-jobs">
    {% if products %}
    {% for product in products %}
        <tr class="product-tr">
            <td class="product-name">{{ product }}</td>
            <td class="product-package">{{ product.package.name }}</td>
            <td class="product-edit"><a href="{% url 'product_update' pk=product.pk %}" class="btn-link">Edit</a></td>
        </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan=2>You currently have no products.</td>
    </tr>
    {% endif %}
</tbody>