{% load postajob_tags %}

{% if product_groupings %}
{% for group in product_groupings %}
<div id="group-{{group.id}}" class="product-card no-highlight {% if order %}left-gutter{% endif %} {% if not group.is_displayed %}muted{% endif %}">
    {% if order %}
    <div class="product-group-order">
        <a class="btn"><i class="icon icon-arrow-up"></i></a>
        <a class="btn"><i class="icon icon-arrow-down"></i></a>
    </div>
    {% endif %}
    <div class="big-title" title="Group name">
        {{ group.name }}
        {% if not group.is_displayed %}
        <div class="label label-default">Not Displayed</div>
        {% endif %}
    </div>
    <div class="sub-title" title="Product name(s)">{{ group.products.all|join:", " }}</div>
    <div class="product-details">{{ group.explanation }}</div>
    <a class="btn" href="{% url 'productgrouping_update' pk=group.pk %}"> Edit</a>
</div>
{% endfor %}
{% else %}
<div class="product-card no-highlight">
    You currently have no product groups.
</div>
{% endif %}