{% load postajob_tags %}

<tbody id="posted-jobs">
{% if jobs %}
{% for job in jobs %}
<tr class="posted-job-tr {% if job.is_expired %}muted{% endif %}" {% if not job.is_past_max_expiration_date %}onclick="window.document.location='{% url 'purchasedjob_update' pk=job.pk %}';"{% endif %}>
    <td class="posted-job-title">{{ job.title }}</td>
    <td class="posted-job-company">{{ job.owner.name }}</td>
    <td class="mobile_hide posted-job-reqid">{{ job.reqid }}</td>
    <td class="posted-job-is-expired">{{ job.is_expired }}</td>
    <td class="mobile-hide posted-job-date-expired">
        {{ job.date_expired }}
        {% if job.is_expired %}
            <div class="label label-default pull-right">Expired</div>
        {% endif %}
    </td>
    <td class="mobile_hide">{% get_job_links job %}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan=5>You currently have no posted jobs for this product.</td>
</tr>
{% endif %}
</tbody>