{% load postajob_tags %}

<div class="product-card no-highlight">
    <div class="big-title">
        {{ purchased_product.product }}
    </div>
    <div class="product-details">
        Jobs: <b>{{purchased_product.job_amount_posted}} / {%if purchased_product.num_jobs_allowed == 0%}Unlimited{%else%}{{purchased_product.num_jobs_allowed}}{%endif%}</b>
    </div>
    <div class="product-details">
        Expires: <b>{{ purchased_product.expiration_date }}</b>
    </div>
    <a id="product-{{ purchased_product.id }}" class="btn" href="{% url 'purchasedjobs' purchased_product=purchased_product.pk %}">View Jobs</a>
</div>