{% load postajob_tags %}

{% for job in jobs %}
<div class="product-card no-highlight">
    <div class="big-title">
        {{ job.title }}
    </div>
    <div class="sub-title">
        {{ job.owner.name }}
    </div>
    <div class="product-details">
        Requisition ID: {{ job.reqid }} - Job URL: {% get_job_links job %}
    </div>
    <div class="product-details">
        Expires: {{ job.date_expired }} - Approved: {{ job.is_approved }}
    </div>
    {% if not job.is_past_max_expiration_date %}<a class="btn" href="{% url 'purchasedjob_update' pk=job.pk %}">Edit</a>{% else %}<a class="btn disabled" title="This job has expired" href="">Edit</a>{% endif %}
</div>
{% endfor %}