{% load postajob_tags %}

<div class="product-card no-highlight">
    <div class="big-title">
        {{ purchased_product.owner }}
    </div>
    <div class="sub-title">
        {{ purchased_product.product }}
    </div>
    {% with is_expired=purchased_product.is_expired %}
    <div class="product-details">
        {% with expired_count=purchased_product.expired_job_count num_jobs_allowed=purchased_product.num_jobs_allowed job_amount_posted=purchased_product.job_amount_posted %}
        {% if is_expired and expired_count == job_amount_posted or expired_count == num_jobs_allowed and expired_count > 0 %}
        <b>All jobs have expired.</b>
        {% else %}
        Jobs: <b>{{ job_amount_posted }} / {%if num_jobs_allowed == 0%}Unlimited{%else%}{{purchased_product.num_jobs_allowed}}{%endif%}{%if expired_count > 0%} <span class="warn">({{expired_count}} expired)</span>{% endif %}</b>
        {% endif %}
        {% endwith %}
    </div>
    <div class="product-details">
        Expire{%if is_expired %}d{%else%}s{%endif%}: <b>{{ purchased_product.expiration_date }}</b>
    </div>
    {% endwith %}
    <a id="product-{{ purchased_product.id }}" class="btn" href="{% url 'purchasedjobs' purchased_product=purchased_product.pk %}">Details</a>
</div>