{% load postajob_tags %}

{% if purchased_products %}
    {% for product in purchased_products %}
    <div id="request-{{ request.id }}" class="product-card no-highlight">
        <div class="big-title">{{ product.product }}</div>
        <div class="sub-title">{{ product.owner.name }}</div>
        <div class="product-details">
            {% if product.can_post_more and product.jobs_remaining > 0 %}{{ product.jobs_remaining }}{% elif product.can_post_more %}Unlimited{% else %}0{% endif %}
        </div>
        <a id="resend-invoice-{{ product.pk }}" class="btn" href="">Resend Invoice</a>
    </div>
    {% endfor %}
{% else %}
<div class="product-card no-highlight">
    You currently have no purchased products.
</div>
{% endif %}