{% load postajob_tags %}

{% for product in purchased_products %}
    <div class="product-card no-highlight">
        <div class="big-title">
            {{ product.product }}
        </div>
        {% with is_expired=product.is_expired %}
        <div class="product-details">
            {% with expired_count=product.expired_job_count num_jobs_allowed=product.num_jobs_allowed job_amount_posted=product.job_amount_posted %}
            {% if is_expired and expired_count == job_amount_posted or expired_count == num_jobs_allowed and expired_count > 0 %}
            <b>All jobs have expired.</b>
            {% else %}
            Jobs: <b>{{ job_amount_posted }} / {%if num_jobs_allowed == 0%}Unlimited{%else%}{{product.num_jobs_allowed}}{%endif%}{%if expired_count > 0%} <span class="warn">({{expired_count}} expired)</span>{% endif %}</b>
            {% endif %}
            {% endwith %}
        </div>
        <div class="product-details">
            Expire{%if is_expired %}d{%else%}s{%endif%}: <b>{{ product.expiration_date }}</b>
        </div>
        {% endwith %}
        <a id="product-{{ product.id }}" class="btn" href="{% url 'purchasedjobs' purchased_product=product.pk %}">Details</a>
    </div>
{% empty %}
    <div class="product-card no-highlight">
        You currently have no purchased products.
    </div>
{% endfor %}