{% load postajob_tags %}

{% if purchased_products %}
    {% for product in purchased_products %}
    <div class="product-card no-highlight">
        <div class="big-title">
            {{ product.product }}
        </div>
        <div class="product-details">
            Jobs: <b>{{product.job_amount_posted}} / {%if product.num_jobs_allowed == 0%}Unlimited{%else%}{{product.num_jobs_allowed}}{%endif%}</b>
        </div>
        <div class="product-details">
            Expires: <b>{{ product.expiration_date }}</b>
        </div>
        <a id="product-{{ product.id }}" class="btn" href="{% url 'purchasedjobs' purchased_product=product.pk %}">Details</a>
    </div>
    {% endfor %}
{% else %}
<div class="product-card no-highlight">
    You currently have no purchased products.
</div>
{% endif %}