{% load postajob_tags %}

<div class="formBox no-padding">
    <h4>{{ formBox_title }}</h4>
    <table id="purchasedproduct-jobs-table" class="table table-bordered table-striped">
        {% if purchased_jobs %}
        <thead>
        <tr>
            <td>Job Title</td>
            <td>Company</td>
            <td class="mobile_hide">Req ID</td>
            <td class="mobile-hide">Expiration Date</td>
            <td>Approved</td>
            <td class="mobile_hide">Job URL</td>
        </tr>
        </thead>
        {% endif %}
        {% include "postajob/includes/purchasedjob_admin_rows.html" with purchased_jobs=purchased_jobs %}
    </table>
    {% if formBox_footer %}
    <div class="formBox-footer">
        <a href="{% url 'purchasedjobs' %}" class="btn pull-right">Manage Purchased Jobs</a>
        <div class="clear"></div>
    </div>
    {% endif %}
</div>