{% load postajob_tags %}

<div class="card-wrapper">
    <div class="wrapper-header">
        <h4>{{ wrapper_title }}</h4>
    </div>
    {% if purchased_products %}
        {% for purchased_product in purchased_products %}
            {% get_jobs purchased_product as jobs %}
            {% include "postajob/includes/purchasedjob_admin_rows.html" with jobs=jobs %}
        {% endfor %}
    {% else %}
        <div class="product-card no-highlight">
            You currently have no {{ wrapper_title|lower }}.
        </div>
    {% endif %}
</div>
