{% load postajob_tags %}

<tbody id="posted-jobs">
{% if requests %}
{% for request in requests %}
<tr class="posted-job-tr" {% if not request.action_taken %}onclick="window.document.location='{% url 'view_request' content_type=request.content_type_id pk=request.object_id %}';"{% endif %}>
    <td class="request-request-type">{{ request.model_name }}</td>
    <td class="request-requested-on">{{ request.requesting_company }}</td>
    <td class="request-requested-on">{{ request.made_on }}</td>
    <td class="request-requested-on">{{ request.action_taken }}</td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan=5>You currently have no requests.</td>
</tr>
{% endif %}
</tbody>