{% load postajob_tags %}

{% if requests %}
    {% for request in requests %}
    <div id="request-{{ request.id }}" class="product-card no-highlight">
        <div class="big-title">{{ request.model_name }}</div>
        <div class="sub-title">Requested on: {{ request.made_on }}</div>
        <div class="product-details">
            Requested by: {{ request.requesting_company }} {% if request.action_taken %}- Action taken: {% if request.deny_reason %}Denied{% else %}Approved{% endif %}{% endif %}
        </div>
        <a class="btn" href="{% url 'view_request' pk=request.pk %}">View</a>
    </div>
    {% endfor %}
{% else %}
<div class="product-card no-highlight">
    You currently have no requests.
</div>
{% endif %}
