{% load i18n staticfiles %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2>Stylesheet Options</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

{% for inline_admin_form in inline_admin_formset %}<div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
  <h3>
    {% if forloop.first and not forloop.last %} 
      <b>Primary Stylesheet</b>
      <a id="inline_fieldsetcollapser{{forloop.counter0}}" class="collapse-toggle inline_fieldsetcollapser primaryToggle" href="javascript:void(0);">(Advanced)</a>
    {% else %}
      <b>Linked Stylesheet:</b>&nbsp;<span class="inline_label">{% if inline_admin_form.original %}{{ inline_admin_form.original.stylesheet_id }}{% else %}New{% endif %}</span>
      {% if inline_admin_form.original %}<a id="inline_fieldsetcollapser{{forloop.counter0}}" class="collapse-toggle inline_fieldsetcollapser" href="javascript:void(0);">(Show)</a>{% endif %}
    {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
    {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}<span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>
    {% endif %}
{% endif %}
  </h3>
  {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
    {% for fieldset in inline_admin_form %}
      {% include "admin/seo/configuration/includes/fieldset.html" %}
    {% endfor %}
  {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
  {{ inline_admin_form.fk_field.field }}
</div>{% endfor %}
</div>
<div style="display:none;" id="loadingDiv"></div>
<style type="text/css">
fieldset.collapsed h2 {
    background:url("/media/img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;
    color:white;
    font-size:11px;
    font-weight:bold;
    margin:0;
    padding:2px 5px 3px;
    text-align:left;
}

#id_browse_country_default, #id_browse_state_default, #id_browse_city_default, #id_browse_title_default, #id_browse_facet_default {
    width: 400px;
}
</style>
<script type="text/javascript" src="{{ STATIC_URL }}jscolor/jscolor.js"></script>
<script type="text/javascript">
(function($) {
    function getSelectedStylesheets(ssId, i) {
        $.ajax({
            type: "GET",
            url: "/admin/seo/stylesheet/"+ssId+"/?_popup=1",
            dataType: "html",
            success: function(html){
                $('#loadingDiv').empty();
                $('#loadingDiv').html(html);
                //alert("counter:"+i+" ssid:"+ssId);
                //$('#Configuration_styleSheets-'+i+' fieldset div.form-row div').hide();
                //if(i>0){ $("#loadingDiv fieldset.module").hide(); }
                $('#Configuration_styleSheets-'+i+' h3').after($("#loadingDiv fieldset.module"));
                $('#Configuration_styleSheets-'+i+' fieldset.module input, #Configuration_styleSheets-'+i+' fieldset.module textarea, #Configuration_styleSheets-'+i+' fieldset.module select[type=checkbox]').attr('name',function(j,a){return a+i});
                if(i==0){
                  jscolor.init();
                  importParsedCss(ssId);
                }
            }
        });    
    }
    
    function importParsedCss(ssId){
        $.getJSON("/admin/parsestyle/" + ssId + "/", {},
        function(j){
            $('#id_css_body').val(j);
        });
    }

    $(document).ready(function() {
        //$('div.showBrowseCountry div label[for*="order"], div.showBrowseCountry div label[for*="showBrowse"]').hide();
        {% for sheet in original.styleSheets.all%}getSelectedStylesheets({{sheet.id}}, {{forloop.counter0}});{% endfor %}
        $('a.inline_fieldsetcollapser').live('click', function(){
            var thisText = $(this).text();
            if ($(this).hasClass("primaryToggle")){
              $(this).text( thisText == "(Advanced)" ? "(Novice)" : "(Advanced)");
              $(this).parent("h3").siblings("fieldset.module").not("fieldset.hiddenFieldset").children("div.useCssBody, div.backgroundColor").toggle();               
            }
            else {
              $(this).text( thisText == "(Show)" ? "(Hide)" : "(Show)");
              $(this).parent("h3").siblings("fieldset.module").not("fieldset.hiddenFieldset").toggle();
            }
            /*$('#btnImportCss').live('click', function(){
                importParsedCss();
                }); */
        });

        var rows = "#{{ inline_admin_formset.formset.prefix }}-group .inline-related";
        var updateInlineLabel = function(row) {
            $(rows).find(".inline_label").each(function(i) {
                var count = i + 1;
                $(this).html($(this).html().replace(/(#\d+)/g, "#" + count));
            });
        }
        var reinitDateTimeShortCuts = function() {
            // Reinitialize the calendar and clock widgets by force, yuck.
            if (typeof DateTimeShortcuts != "undefined") {
                $(".datetimeshortcuts").remove();
                DateTimeShortcuts.init();
            }
        }
        var updateSelectFilter = function() {
            // If any SelectFilter widgets were added, instantiate a new instance.
            if (typeof SelectFilter != "undefined"){
                $(".selectfilter").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], false, "{{ STATIC_URL }}admin/");
                })
                $(".selectfilterstacked").each(function(index, value){
                  var namearr = value.name.split('-');
                  SelectFilter.init(value.id, namearr[namearr.length-1], true, "{{ STATIC_URL }}admin/");
                })
            }
        }
        var initPrepopulatedFields = function(row) {
            row.find('.prepopulated_field').each(function() {
                var field = $(this);
                var input = field.find('input, select, textarea');
                var dependency_list = input.data('dependency_list') || [];
                var dependencies = row.find(dependency_list.join(',')).find('input, select, textarea');
                if (dependencies.length) {
                    input.prepopulate(dependencies, input.attr('maxlength'));
                }
            });
        }
        $(rows).formset({
            prefix: "{{ inline_admin_formset.formset.prefix }}",
            addText: "{% blocktrans with inline_admin_formset.opts.verbose_name|title as verbose_name %}Add another {{ verbose_name }}{% endblocktrans %}",
            formCssClass: "dynamic-{{ inline_admin_formset.formset.prefix }}",
            deleteCssClass: "inline-deletelink",
            deleteText: "{% trans "Remove" %}",
            emptyCssClass: "empty-form",
            removed: updateInlineLabel,
            added: (function(row) {
                initPrepopulatedFields(row);
                reinitDateTimeShortCuts();
                updateSelectFilter();
                updateInlineLabel(row);
            })
        });
    });
})(django.jQuery);
</script>
