{% load i18n staticfiles %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <div class="tabular inline-related {% if forloop.last %}last-related{% endif %}">
{{ inline_admin_formset.formset.management_form }}
<fieldset class="module">
   <h2>Manage Facet Rules</h2>
       {{ inline_admin_formset.formset.non_form_errors }}
       <table>
       {% if original.id %}
         <thead><tr>
         {% for field in inline_admin_formset.fields %}
           {% if not field.widget.is_hidden %}
             <th{% if forloop.first %} colspan="2"{% endif %}{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}</th>
           {% endif %}
         {% endfor %}
             <th>Modify</th>
         {% comment %}{% if inline_admin_formset.formset.can_delete %}<th>{% trans "Delete?" %}</th>{% endif %}{% endcomment %}
         </tr></thead>

         <tbody>
         {% for inline_admin_form in inline_admin_formset %}
            {% if inline_admin_form.form.non_field_errors %}
            <tr><td colspan="{{ inline_admin_form.field_count }}">{{ inline_admin_form.form.non_field_errors }}</td></tr>
            {% endif %}
            <tr class="{% cycle "row1" "row2" %} {% if inline_admin_form.original or inline_admin_form.show_url %}has_original{% endif %}{% if forloop.last %} empty-form{% endif %}"
                 id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
            <td class="original">
              {% if inline_admin_form.original or inline_admin_form.show_url %}<p>
              {% comment %} {% if inline_admin_form.original %} {{ inline_admin_form.original }}{% endif %} {% endcomment %}
              {% if inline_admin_form.show_url %}<a href="../../../r/{{ inline_admin_form.original_content_type_id }}/{{ inline_admin_form.original.id }}/">{% trans "View on site" %}</a>{% endif %}
                </p>{% endif %}
              {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
              {{ inline_admin_form.fk_field.field }}
              {% spaceless %}
              {% for fieldset in inline_admin_form %}
                {% for line in fieldset %}
                  {% for field in line %}
                    {% if field.is_hidden %} {{ field.field }} {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endfor %}
              {% endspaceless %}
            </td>
            {% for fieldset in inline_admin_form %}
              {% for line in fieldset %}
                {% for field in line %}
                  <td class="{{ field.field.name }}">
                  {% if field.is_readonly %}
                      <p>{{ field.contents }}</p>
                  {% else %}
                          {{ field.field.errors.as_ul }}
                          {{ field.field }}
                  {% endif %}
                  </td>
                {% endfor %}
              {% endfor %}
            {% endfor %}
              <td class="modify">
                <a href="javascript:void(0);" class="editLink" id="editLink{{ forloop.counter0 }}">Edit</a>  /  
                <a href="javascript:void(0);" class="deleteLink" id="deleteLink{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">Delete</a>
              </td>
            {% comment %}{% if inline_admin_formset.formset.can_delete %}
              <td class="delete">{% if inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</td>
            {% endif %}{% endcomment %}
            </tr>
            <tr id="fsdConfigRow{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class="hideme fsdConfigRow {% cycle "row1" "row2" %}">
                <td colspan="8">
                    <form onsubmit="return false;">
                        <div id="fsdTitleBox{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class="fsdTitleBox">
                            <label class="lblTitleInput" for="fsdTitleInput{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">Rule Title:</label>
                            <input id="fsdTitleInput{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class ="fsdTitleInput" type="text"/>
                        </div>
                        <div id="selectorDiv{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class="selectorDiv">
                            <span><p>Title:</p>
                                <select class="selectorBox" id="ddlTitle{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" size=14 multiple>
                                    <option class="defaultOption" value="" selected> ---No Title Selected--- </option>
                                    {% for job in titleList %}
                                        <option class="validOption" value="{{job.title}}">{{job.title}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                            <span><p>City:</p>
                                <select class="selectorBox" id="ddlCity{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" size=14 multiple>
                                    <option class="defaultOption" value="" selected> ---No City Selected--- </option>
                                    {% for job in cityList %}
                                        <option class="validOption" value="{{job.city}}">{{job.city}}, {{job.state}}</option>
                                    {% endfor %}
                                </select>
                             </span>
                            <span><p>State:</p>
                                <select class="selectorBox" id="ddlState{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" size=14 multiple>
                                    <option class="defaultOption" value="" selected> ---No State Selected--- </option>
                                    {% for job in stateList %}
                                        <option class="validOption" value="{{job.state}}">{{job.state}}</option>
                                    {% endfor %}
                                </select>
                            </span>
                            <span><p>Keyword:</p>
                                <textarea id="keywordBox{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class="keywordBox" name="value" rows=15 ></textarea>
                                    <input class="btnClick" type="button" id="btnClick{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" value="Click Me" />
                                    <input class="btnClear" type="button" id="btnClear{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" value="Clear All" />
                            </span>
                        </div>
                        <div id="resultsDiv{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class="resultsDiv">
                            <span><p>Results:</p>
                                <select id="jobSelect{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" class="jobSelect" style="width:400px;" size=14 multiple>
                                </select>
                            <input class="btnAddRule" id="btnAddRule{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" type="button" value="Save" />
                            <input class="btnCancelRule" id="btnCancelRule{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" type="button" value="Cancel" />
                            </span>
                        </div>
                    </form>
                </td>
            </tr>
         {% endfor %}
        <tr class="new-add-row"><td colspan="7"><a id="newAddLink" href="javascript:void(0)">Add another Facet Rule</a></td></tr>
     {% else %}
        <tbody><tr><td id="noSaveRules">Please save the facet before adding rules.</td></tr>
     {% endif %}
     </tbody>
   </table>
</fieldset>
  </div>
</div>
<style type="text/css">
{% if not original.id %} 
div.submit-row {display:none;} 
{% endif %}
#noSaveRules {font-weight:bold; color:#666666;}
#buttonDiv {width:90px; padding:0 10px;}
span, #jobSelect, #buttonDiv {float:left;}
#btnSelectAll {margin-bottom:10px;margin-top:45px; width:100px;}
#selectorDiv, #resultsDiv {float:left;}
#browseByP {margin-top:0px;}
span {border:1px solid #999;border-collapse:collapse;padding:10px;height:300px;}
p {font-weight:bold;}
#btnClick, #btnClear {float:left; clear:left;}
#btnBox {float:right;}
.myInlineButton {clear:left;float:right;}
.fsdTitleInput {width:600px; margin-left:5px;}
.add-row {display:none;}
.new-add-row {
background:url("/media/img/admin/nav-bg.gif") repeat-x scroll left top #E1E1E1;
border-bottom:1px solid #DDDDDD;
color:#666666;
padding:3px 5px;}
#newAddLink {
background:url("/media/img/admin/icon_addlink.gif") no-repeat scroll 0 50% transparent;
font-size:11px;
outline:0 none;
padding-left:14px;}
.hideme {display:none;}
.new-submit-row {
background:url("/media/img/admin/nav-bg.gif") repeat-x scroll 0 100% white;
border:1px solid #CCCCCC;
margin:5px 0;
overflow:hidden;
padding:5px 7px;
text-align:right;
}
.new-submit-row input {margin-left:5px;}

</style>
{% if not original.id %}
<div class="new-submit-row">
  <input id="cancelBtn" type="button" name="_cancel" value="Cancel" onclick="document.location='../'">
  <input type="submit" name="_continue" class="default" value="Save">
</div>
{% endif %}
