<tr{% if activity_object %} class="activity-record-tr" onclick="window.document.location='{{ activity.get_object_url }}'" {% endif %}><td>
    {{ activity.action_time }}<br/>
    {% if activity_object %}
        {% if content_type == 'partner saved search' %}
            {{ user_name }} {{ action_type }} a saved search for {{ activity.contact_identifier }}.<br/>
            <span class="truncate">Search URL: {{ activity_object.url }}</span>
        {% elif content_type == 'contact record' %}
            {{ activity_object.get_record_description }}.<br/>
            {% if activity_object.subject %}Subject:  {{ activity_object.subject }} <br/>{% endif %}
            {{ activity_object.notes }}
        {% else %}
            {{ user_name }} {{ action_type }} a {{ content_type }} for {{ activity.contact_identifier }}.
        {% endif %}
    {% else %}
        {% if content_type == 'partner saved search' %}
            {{ user_name }} {{ action_type }} a saved search for {{ activity.contact_identifier }}.
        {% elif content_type == 'contact record' %}
            {{ user_name }} {{ action_type }} a contact record for {{ activity.contact_identifier }}.
        {% else %}
            {{ user_name }} {{ action_type }} a {{ content_type }} for {{ activity.contact_identifier }},
        {% endif %}
    {% endif %}
</td></tr>
