{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>{% if location %}Edit Locationg{% else %}Add Location{% endif %} {{ company.name }}</title>
    <meta name="title" content="{% if location %}Edit Location{% else %}Add Location{% endif %} {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block content %}
    {# TODO: either refactor prm_header or include the info directly so that the correct url is used #}
    {% include "mypartners/includes/prm_header.html" with page_title="Edit Location" back_to="Back to Contact Details" back_to_url="edit_contact" back_to_string="?partner="|add:partner|add:"&id="|add:contact %}
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="{% if not partner %}partner-form{% else %}contact-form{% endif %}">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company_id" value="{{ company.id }}">
                <input type="hidden" name="partner" value="{{ partner }}">
                <input type="hidden" name="ct" value="{{ content_id }}">
                <div class="actions pull-right">
                    {% if location %}<button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                    <a class="btn" href="{% if contact %}{% url 'edit_contact' %}?partner={{ partner }}&id={{ contact }}{% else %}{% url 'prm' %}{% endif %}">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn primary" id="location-save">{% trans 'Save' %}</button>
                </div>

            <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete this Location?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    {# TODO: use the correct delete url #}
                    <a class="btn" href="{% url 'delete_location' %}?partner={{ partner }}&id={{ contact }}&location={{ location }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="sidebar">
                <h2 class="top">Tips</h2>
                Contacts may have more than one location.
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}prm.163-29.js{{ gz }}"></script>
{% endblock %}
