{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>{% if contact %}Edit Contact{% elif partner %}Add Contact{% else %}Add Partner{% endif %} {{ company.name }}</title>
    <meta name="title" content="{% if contact %}Edit Contact{% elif partner %}Add Contact{% else %}Add Partner{% endif %} {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% if partner %}
        {% if contact %}
        {% include "mypartners/includes/prm_header.html" with page_title="Edit Contact" back_to="Back to Partner Details" back_to_url="partner_details" back_to_string="?partner=" add_partner_to_end=True %}
        {% else %}
        {% include "mypartners/includes/prm_header.html" with page_title="Add Contact" back_to="Back to Partner Details" back_to_url="partner_details" back_to_string="?partner=" add_partner_to_end=True %}
        {% endif %}
    {% else %}
    {% include "mypartners/includes/prm_header.html" with page_title="Add Partner" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    {% endif %}
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="{% if not partner %}partner-form{% else %}contact-form{% endif %}">
                {% if form.get_field_sets %}
                    <fieldset>
                        {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.0 %}
                    </fieldset>
                    <a class="btn desktop_hide" id="add-primary-contact">Add Primary Contact</a>
                    <fieldset id="primary-contact" class="mobile_hide">
                        <legend>{% trans 'Primary Contact' %}</legend>
                        {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.1 %}
                    </fieldset>
                {% else %}
                    {% include 'includes/form-error-highlight.html' %}
                {% endif %}
                {% csrf_token %}
                <input type="hidden" name="company_id" value="{{ company.id }}">
                <input type="hidden" name="partner_id" value="{{ partner.id }}">
                <input type="hidden" name="ct" value="{{ content_id }}">

                <div class="actions pull-right">
                    {% if contact %}<button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                    <a class="btn" href="{% if partner %}{% url 'partner_details' %}?partner={{ partner.id }}{% else %}{% url 'prm' %}{% endif %}">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn primary" id="{% if not partner %}init-partner-save{% else %}item-save{% endif %}">{% trans 'Save' %}</button>
                </div>
                <div class="clear"></div>
            </form>


        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete this contact?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?partner={{ partner.id }}&ct={{ content_id }}&id={{ contact.id }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="sidebar">
                <h2 class="top">Tips</h2>
                {% if not partner %}
                After creating a Partner, you can add additional contacts from the
                Partner Page. This is helpful if you have more than one location
                or contact for this partner.
                {% else %}
                You can filter partner reports based on a contact's city,
                but you need to be sure the following fields are completed:
                <ul>
                    <li>- City</li>
                    <li>- State/Region</li>
                </ul>
                {% endif %}
                {% if contact %}
                <div class="navigation">
                    <h2>Navigation</h2>
                    <a class="btn" href="{% url "edit_location" %}?partner={{ partner.id }}&id={{ contact.id }}">Add Location</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="edit-item-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>{% if partner %}Contact {% else %}Partner {% endif %}Already Exists</h3>
        </div>
        <div class="modal-body">
            <strong>Existing {% if partner %}Contact {% else %}Partner {% endif %} Details:</strong>
            <ul class="record-info">
            </ul>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <a id="edit-record-button" class="btn primary">Edit</a>
        </div>
    </div>
    {% if contact %}
    <div class="row">
        <div class="span8">
            <div class="card-wrapper locations">
                <div class="wrapper-header">
                    <h4>{% if not contact %}Primary Contact {% endif %}Manage Locations</h4>
                </div>
                {% if locations %}
                    {% for location in locations %}
                        <div class="product-card">
                            <div class="big-title">
                                {% if location.address_line_one %}{{ location.address_line_one }}{% endif %}
                                {% if location.address_line_two %}{{ location.address_line_two }}{% endif %}
                            </div>
                            <div class="product-details">
                                {% if location.city %}{{ location.city }}{% endif %}{% if location.state %}, {{ location.state }}{% endif %}  {% if location.postal_code %}{{ location.postal_code }}{% endif %}
                            </div>
                            <div class="partner-tags">
                                {{ location.label }}
                            </div>
                            <a class="btn pull-right" href="{% url "edit_location" %}?partner={{ partner.id }}&id={{ contact.id }}&location={{ location.id }}">Edit</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="product-card no-highlight">
                        There are no locations for {{ contact.name }}.
                    </div>
                    <div class="partner-pagination">
                        <span class="step-links">
                            <a class="pull-right" href="{% url "edit_location" %}?partner={{ partner.id }}&id={{ contact.id }}">Add Location</a>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extra-js %}
<script type="text/javascript">

    var p = {{ partners|safe }};
    $(document).ready(function() {
        {# we'll only have a partner when editing a contact #}
        var partner = {{ partner.pk|default:"0" }},
            partners = {{ partners|safe }},
            contacts = {{ contacts|safe }},
            $partnerInput = $("#id_partner-partnername"),
            $contactInput = $("#id_contact-name"),
            $editModal = $("#edit-item-modal"),
            partnerNames = $.map(partners, function(e) { return e.name; }),
            contactNames = $.map(contacts, function(e) { return e.name; });

        $partnerInput.on("blur", function() {
            var index = partnerNames.indexOf($(this).val().trim());
            if (index > -1) {
                $("ul.record-info").html(
                    "<li>Name: " + partners[index].name + "</li>" +
                    "<li>URL: " + partners[index].uri + "</li>"
                );

                {# avoiding {{ url }} so that this code isn't tied to the template and can be more easily relocated #}
                $("#edit-record-button").attr("href", "/prm/view/details?partner=" + partners[index].pk);

                $editModal.modal("show").on("hidden", function() {
                    $partnerInput.select();
                });
            }
        });

        $contactInput.on("blur", function() {
            var index = contactNames.indexOf($(this).val().trim());
            if (index > -1) {
                $("ul.record-info").html(
                    "<li>Name: " + contacts[index].name + "</li>" +
                    "<li>Email: " + contacts[index].email + "</li>" +
                    "<li>Phone: " + contacts[index].phone + "</li>"
                );

                {# avoiding {{ url }} so that this code isn't tied to the template and can be more easily relocated #}
                $("#edit-record-button").attr("href", "/prm/view/details/edit?partner=" + partner + "&id=" + contacts[index].pk + "&ct=25071");
                $editModal.modal("show").on("hidden", function() {
                    $contactInput.select()
                });
            }
        });
    });

</script>
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}prm.162-25.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
<script src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>
{% endblock %}
