{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    <title>{% if not contact %}Add Contact{% else %}Edit Contact{% endif %} {{ company.name }}</title>
    <meta name="title" content="{% if not contact %}Add Contact{% else %}Edit Contact{% endif %} {{ company.name }}">
{% endblock %}
{% load i18n %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}prm.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
    <h1><a class="mobile_hide" href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_details' %}?company={{ company.id }}&partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            {# partner checks due to Add partner page not having a partner to refer to. #}
            <span>{% if not partner %}Add Partner{% else %}Add Contact{% endif %}</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="{% if not partner %}partner-form{% else %}contact-form{% endif %}">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company_id" value="{{ company.id }}">
                <input type="hidden" name="partner_id" value="{{ partner.id }}">
                <input type="hidden" name="ct" value="{{ content_id }}">
            <div class="form-label pull-left">&nbsp;</div>
            <div class="actions pull-right">
                {% if contact %}<button type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                <a class="btn" href="{% if partner %}{% url 'partner_details' %}?company={{ company.id }}&partner={{ partner.id }}{% else %}{% url 'prm' %}?company={{ company.id }}{% endif %}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary" id="{% if not partner %}init-partner-save{% else %}item-save{% endif %}">{% trans 'Save' %}</button>
            </div>

            <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete this contact?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?company={{ company.id }}&partner={{ partner.id }}&ct={{ content_id }}&id={{ contact }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="tip-box">
                <h4>Tips</h4>
                <div class="tip-content">
                    {% if not partner %}
                    After creating a Partner, you can add additional contacts from the
                    Partner Page. This is helpful if you have more than one location
                    or contact for this partner.
                    {% else %}
                    You can filter partner reports based on a contac's city,
                    but you need to be sure the following fields are completed:
                    <ul>
                        <li>- City</li>
                        <li>- State/Region</li>
                        <li>- Country</li>
                    </ul>
                    {% endif %}
                </div>
                <div class="tip-footer">
                    {% if not partner %}
                    <a class="btn-link" href="{% url 'prm' %}?company={{ company.id }}">Back to PRM</a>
                    {% else %}
                    <a class="btn-link" href="{% url 'partner_details' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Partner Page</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}