{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>{% if contact %}Edit Contact{% elif partner %}Add Contact{% else %}Add Partner{% endif %} {{ company.name }}</title>
    <meta name="title" content="{% if contact %}Edit Contact{% elif partner %}Add Contact{% else %}Add Partner{% endif %} {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}colpick.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Edit Tag" back_to="Back to Tag Manangement" back_to_url="partner_tagging" %}
    <div class="row">
        <div class="span8">

            <form method="post" action="">
                <div class="span3 form-label pull-left initial"><label>Preview</label></div>
                <span class="tag-name" style="background-color: #{{tag.hex_color}}">{{tag.name}}</span>
                <div class="clear"></div>
                <br />
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <div class="span3 form-label pull-left initial"><label>Color</label></div>
                <div id="picker"></div>
                <br />
                <div class="form-label pull-left">&nbsp;</div>
                <div class="actions">
                    {% if tag %}<button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                    <a class="btn" href="{% url 'partner_tagging' %}">{% trans 'Cancel' %}</a>
                    <button type="submit" class="btn primary">{% trans 'Save' %}</button>
                </div>
                <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Delete Tag?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Deleting a tag will remove it from any <b>Partner</b>, <b>Contact</b>, <b>Contact Record</b> and <b>Partner Saved Search</b>.
                Are you sure you want to delete this tag?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_partner_tag' %}?id={{ tag.id }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="tip-box">
                <h3>Tips</h3>
                <div class="tip-content">
                    Any changes will globally affect all <b>partners</b>, <b>contacts</b>, <b>contact records</b>, and <b>partner saved searches</b>.
                </div>
                <div class="tip-footer">
                    <a class="btn-link" href="{% url 'partner_tagging' %}">Back to Tag Management</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extra-js %}
<script src="{{ STATIC_URL }}colpick.js{{ gz }}"></script>
<script>
    $(".hex-color-field").hide().prev().hide();
    var hex = "{{tag.hex_color}}";
    $("#picker").colpick({
        flat: true,
        layout: 'hex',
        submit: 0,
        color: hex,
        onChange: function() {
            var new_color = $(".colpick_hex_field input").val();
            $("#id_tag-hex_color").val(new_color);
            $(".tag-name").css("background-color", "#"+new_color);
        }
    });
    $(document).ready(function() {
        $("#id_tag-name").on("keyup", function() {
            $(".tag-name").html($(this).val());
        });
    });
</script>
{% endblock extra-js %}