{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>PRM New Contact Records {{ company.name }}</title>
    <meta name="title" content="PRM New Contact Record {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <h1><a class="mobile_hide" href="{% url 'prm' %}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_overview' %}?partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>{% if item_id %}Edit{% else %}New{% endif %} Contact Record</span>
            <a class="mobile_hide" href="{% url 'partner_records' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Communication Records</a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="form-status"></div>
        </div>
        <div class="span8">
            <form method="post" action="" id="contact-record-form" enctype="multipart/form-data">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company" value="{{ company.id }}">
                <input type="hidden" name="partner" value="{{ partner.id }}">
            <div class="form-label pull-left">&nbsp;</div>
            <div class="actions pull-right">
                {% if object_id %}<button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                <a class="btn" href="{% url 'partner_records' %}?partner={{ partner.id }}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary" id="partner_record_save">{% trans 'Save' %}</button>
            </div>
            <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete this record?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?partner={{ partner.id }}&ct={{ content_type }}&id={{ object_id }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}partner_edit_record.160-23.js{{ gz }}"></script>
{% endblock %}
