{% extends "base.html" %}
{% load common_tags %}
{% load activity_tags %}
{% gz as gz %}

{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>PRM Overview - {{ company.name }}</title>
        <meta name="title" content="PRM Overview - {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Communication Records" back_to="Back to Overview" back_to_url="partner_overview" back_to_string="?partner=" add_partner_to_end=True date_range=True download=True %}
    <div class="row">
        <span class="span8">
            {% for record in records %}
            {% include "mypartners/includes/record_card.html" %}
            {% endfor %}
        </span>

        <span class="span4">
            <div class="sidebar">
                <h2 class="top">Filters</h2>
                <label>Contact</label>
                <select id="record_contact" name="record_contact">
                    {% for contact in contact_choices %}
                        <option value="{{ contact.0 }}">{{ contact.1 }}</option>
                    {% endfor %}
                </select>
                <label>Contact Type</label>
                <select id="record_contact_type" name="record_contact_type">
                    {% for contact_type in contact_type_choices %}
                        <option value="{{ contact_type.0 }}">{{ contact_type.1 }}</option>
                    {% endfor %}
                </select>
                <div class="navigation">
                    <h2>Navigation</h2>
                    <a class="btn" href="{% url 'partner_edit_record' %}?partner={{ partner.id }}">New Record</a>
                </div>
            </div>
        </span>
    </div>
    <div class="black-mask" style="display: none;"></div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}partner-overview.152-13.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}record_overview.152-13.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}partner-reports.154-29.js{{ gz }}"></script>
<script>
    var company_id = {{ company.id }};
    var partner_id = {{ partner.id }};
    var admin_id = {% if admin_id %}{{ admin_id }}{% else %}'None'{% endif %};
</script>
{% endblock %}
