{% extends "base.html" %}
{% load common_tags %}
{% load activity_tags %}

{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>PRM Overview - {{ company.name }}</title>
        <meta name="title" content="PRM Overview - {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<script src="{{ STATIC_URL }}partner-overview.js{% cache_buster %}"></script>
<script src="{{ STATIC_URL }}partner-reports.js{% cache_buster %}"></script>
<script src="{{ STATIC_URL }}record_overview.js{% cache_buster %}"></script>
<script>
    var company = {{ company.id }};
    var partner = {{ partner.id }};
</script>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>Communication Records</span>
            <a href="{% url "partner_overview" %}?company={{ company.id }}&partner={{ partner.id }}">Back to Overview</a>
            <span class="pull-right" id="candidate-time-filter">{% include "mypartners/includes/date_range.html" %}</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <a class="btn" href="{% url "partner_edit_record" %}?company={{ company.id }}&partner={{ partner.id }}" style="margin-bottom: 20px;">New Record</a>
            <div class="formBox no-padding profile-mobile" id="view-records">
                <h4>View Records</h4>
                {% if records %}
                <div class="formBox-content">
                    <div class="span3 form-label pull-left initial">
                        <label for="record_contact" class="">Contact</label>
                    </div>
                    <div>
                        <select id="record_contact" name="record_contact">
                            {% for contact in contact_choices %}
                                <option value="{{ contact.0 }}">{{ contact.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="span3 form-label pull-left initial">
                        <label for="record_contact_type" class="">Contact Type</label>
                    </div>
                    <div>
                        <select id="record_contact_type" name="record_contact_type">
                            {% for contact_type in contact_type_choices %}
                                <option value="{{ contact_type.0 }}">{{ contact_type.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <table class="table table-bordered table-striped">
                    {% if records %}
                    <thead>
                        <tr>
                            <td>Date/Time</td>
                            <td>Type</td>
                            <td>Contact</td>
                            <td>Subject</td>
                            <td>Details</td>
                        </tr>
                    </thead>
                    {% endif %}
                    {% get_record_block records company partner %}
                </table>
            </div>
        </div>
        <div class="span4">
            {% if most_recent_activity %}
            <div class="tip-box mobile_hide" id="recent-activity">
                <h4>Most Recent Activity <small id="activity-num" class="pull-right"></small></h4>
                <div class="tip-content no-padding">
                    <table id="activity-table" class="table table-striped table-fixed">
                        {% for activity in most_recent_activity %}
                            {% get_activity_block activity %}
                        {% endfor %}
                    </table>
                </div>

                <div class="tip-footer">
                    <button id="next" class="btn pull-right"><span id="prm-arrow-right"></span></button>
                    <button id="previous" class="btn pull-right"><span id="prm-arrow-left"></span></button>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}