{% extends "base.html" %}
{% load common_tags %}
{% load activity_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>Overview - {{ company.name }}</title>
        <meta name="title" content="Overview - {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}
{% load label_tags %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Overview" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    <div class="row desktop_hide" id="prm-mobile-row-buttons">
        <div class="span12">
            <a class="btn" href="{% url 'partner_records' %}?partner={{ partner.id }}">Communication Records</a>
            <a class="btn" href="{% url 'partner_searches' %}?partner={{ partner.id }}">Saved Searches</a>
            <a class="btn" href="{% url 'partner_details' %}?partner={{ partner.id }}">Edit Partner Details</a>
            <a class="btn" href="{% url 'report_view' %}?partner={{ partner.id }}">Reports</a>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div id="recent-communication-records" class="card-wrapper">
                <div class="wrapper-header">
                    <h4>Most Recent Communication Record</h4>
                </div>
                {% if recent_communication %}
                    {% for record in recent_communication %}
                        {% include "mypartners/includes/record_card.html" %}
                    {% endfor %}
                {% else %}
                    <div class="product-card no-highlight">
                        No recent communication records.
                    </div>
                {% endif %}
                <div class="wrapper-footer">
                    <a class="pull-right" href="{% url 'partner_records' %}?partner={{partner.id}}">Manage Records</a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div id="recent-saved-searches" class="card-wrapper">
                <div class="wrapper-header">
                    <h4>Most Recent Saved Search</h4>
                </div>
                {% if recent_ss %}
                    {% for search in recent_ss %}
                        {% include "mypartners/includes/pss_card.html" %}
                    {% endfor %}
                {% else %}
                    <div class="product-card no-highlight">
                        No recent saved searches.
                    </div>
                {% endif %}
                <div class="wrapper-footer">
                    <a class="pull-right" href="{% url 'partner_searches' %}?partner={{ partner.id }}">Manage Searches</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="span4 mobile_hide">
            <div class="info-box">
                <div id="donut-box">
                    <img src="{{ STATIC_URL }}images/ajax-loader.gif">
                </div>
                <div class="small-chart" id="donutchart" style="display:none"></div>
                <div class="small-chart-box-holder" style="display:none"></div>
                <a class="btn" href="{% url 'report_view' %}?partner={{ partner.id }}">View Reports</a>
            </div>

            <div class="info-box" id="partner-details">
                {% include "mypartners/partner_details_widget.html" %}
            </div>

        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}partner-reports.157-24.js{{ gz }}"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".product-card:not(.no-highlight)").on("click", function() {
           window.location = $(this).find("a").attr("href");
        });
    });
    google.load("visualization", "0.1", {packages:["corechart"]});
    var company_id = {{ company.id }};
    var partner_id = {{ partner.id }};
    var total_records = {{ count }};
</script>
{% endblock %}
