{% extends "base.html" %}
{% load common_tags %}
{% load activity_tags %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>PRM Overview - {{ company.name }}</title>
        <meta name="title" content="PRM Overview - {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}
{% load label_tags %}

{% block meta-extra %}
<script src="{{ STATIC_URL }}partner-reports.js{% cache_buster %}"></script>
<script src="{{ STATIC_URL }}partner-overview.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> <small>{{ partner.name }}</small></h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>Overview</span>
        </div>
    </div>
    <div class="row desktop_hide" id="prm-mobile-row-buttons">
        <div class="span12">
            <a class="btn" href="{% url "partner_records" %}?company={{ company.id }}&partner={{ partner.id }}">Communication Records</a>
            <a class="btn" href="{% url 'partner_searches' %}?company={{ company.id }}&partner={{ partner.id }}">Saved Searches</a>
            <a class="btn" href="{% url 'partner_details' %}?company={{ company.id }}&partner={{ partner.id }}">Edit Partner Details</a>
            <a class="btn">Reports</a>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="formBox no-padding">
                <h4>Most Recent Activity <small id="activity-num" class="pull-right"></small></h4>
                {% if recent_activity %}

                <table id="activity-table" class="table table-striped">
                    {% for activity in recent_activity %}
                        {% get_activity_block activity %}
                    {% endfor %}
                </table>
                <div class="formBox-footer">
                    <button id="next" class="btn pull-right"><span id="prm-arrow-right"></span></button>
                    <button id="previous" class="btn pull-right"><span id="prm-arrow-left"></span></button>
                    <div class="clear"></div>
                </div>

                {% else %}

                No Recent Activity

                <div class="formBox-footer">
                    <button class="btn pull-right" disabled><span id="prm-arrow-right"></span></button>
                    <button class="btn pull-right" disabled><span id="prm-arrow-left"></span></button>
                    <div class="clear"></div>
                </div>

                {% endif %}
            </div>

            <div class="formBox no-padding mobile_hide">
                <h4>Most Recent Communication Records</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Date/Time</td>
                            <td>Contact</td>
                            <td>Communication</td>
                        </tr>
                    </thead>
                    {% if recent_communication %}
                    {% for record in recent_communication %}
                        <tr>
                            <td>{{ record.date_time }}</td>
                            <td>{{ record.get_record_description }}</td>
                            <td>
                                Subject: {{ record.subject }}<br/>
                                {{ record.notes }}
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>No Recent Communication Records</td>
                        <td></td><td></td>
                    </tr>
                    {% endif %}
                </table>
                <div class="formBox-footer">
                    <a class="btn pull-right" href="{% url "partner_records" %}?company={{ company.id }}&partner={{ partner.id }}">Communication Records</a>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="formBox no-padding mobile_hide">
                <h4>Most Recent Saved Searches</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Label</td>
                            <td>Search URL</td>
                            <td>Status</td>
                        </tr>
                    </thead>
                    {% if recent_ss %}
                    {% for ss in recent_ss %}
                        <tr>
                            <td>{{ ss.label }}</td>
                            <td><a href="{{ ss.url }}" target="_blank">{{ ss.url }}</a></td>
                            <td>{% make_label ss.is_active "pull-right" %}</td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tbody>
                        <tr>
                            <td>No Recent Saved Searches</td>
                            <td></td><td></td>
                        </tr>
                    </tbody>
                    {% endif %}
                </table>
                <div class="formBox-footer">
                    <a class="btn pull-right" href="{% url 'partner_searches' %}?company={{ company.id }}&partner={{ partner.id }}">Saved Searches</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="span4 mobile_hide">
            <div class="info-box">
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <script type="text/javascript">
                    google.load("visualization", "1", {packages:["corechart"]});
                    google.setOnLoadCallback(drawChart);
                </script>
                <div id="donutchart"></div>
                <a class="btn">Reports</a>
            </div>

            <div class="info-box" id="partner-details">
                <b>{{ partner.name }}</b>
                <br><br>
                {% with partner.primary_contact as contact %}
                {% if contact %}
                <b>{{ contact.name }}</b> <i>Primary Contact</i> <br>
                {% if contact.email %}
                <u>{{ contact.email }}</u> <br>
                {% endif %}
                {% if contact.address_line_one %}
                {{ contact.address_line_one }}
                    {% if contact.address_line_two %}
                    {{ contact.address_line_two }} <br>
                    {% else %}
                    <br>
                    {% endif %}
                {% endif %}
                {% if contact.city %}
                {{ contact.city }},
                    {% if contact.state %}
                    {{ contact.state }}
                        {% if contact.postal_code %}
                        {{ contact.postal_code }} <br>
                        {% else %}
                            <br>
                        {% endif %}
                    {% else %}
                        <br>
                    {% endif %}
                {% else %}
                    {% if contact.state %}
                    {{ contact.state }}
                        {% if contact.postal_code %}
                        {{ contact.postal_code }} <br>
                        {% else %}
                            <br>
                        {% endif %}
                    {% else %}
                        {% if contact.postal_code %}
                        {{ contact.postal_code }} <br>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if contact.phone %}
                {{ contact.phone }} <br>
                {% endif %}
                {% endif %}
                    <br>
                {% endwith %}
                <a class="btn" href="{% url 'partner_details' %}?company={{ company.id }}&partner={{ partner.id }}">Edit partner Details</a>
            </div>

        </div>
    </div>
{% endblock %}