{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>Partner Library {{ company.name }}</title>
        <meta name="title" content="Partner Library {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Partner Library" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    <div class="row">
        <div id="ofccp-referral-directory" class="span12">
            <small>
                <i>The partner(s) listed here are from the Office of Federal Contract Compliance Programs (OFCCP) Employment Resource <a href="http://www.dol.gov/ofccp/ERRD/errsrvs.htm" style="text-decoration: underline">Referral Directory</a>.</i>
            </small>
        </div>
    </div>
    <input id="shh" type="checkbox" />
    <div class="row">
        <div id="partner-holder" class="span8">
        {% include "mypartners/includes/partner_column.html" with on_page="partner_library" %}
        </div>
        <div class="span4">
            {% include "mypartners/includes/partner_sidebar.html" with filters=True navigation=False special_interest=True %}
        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}prm.154-29.js{{ gz }}"></script>
{% endblock %}
