{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>PRM New Saved Searches {{ company.name }}</title>
    <meta name="title" content="PRM New Saved Searches {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% if item_id %}
    {% include "mypartners/includes/prm_header.html" with page_title="Edit Partner Saved Search" back_to="Back to Manage Searches" back_to_url="partner_searches" back_to_string="?partner=" add_partner_to_end=True  %}
    {% else %}
    {% include "mypartners/includes/prm_header.html" with page_title="New Partner Saved Search" back_to="Back to Manage Searches" back_to_url="partner_searches" back_to_string="?partner=" add_partner_to_end=True  %}
    {% endif %}
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="partner-saved-search-form">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company" value="{{ company.id }}">
                <input type="hidden" name="partner" value="{{ partner.id }}">
                <input type="hidden" name="id" value="{% if item_id %}{{item_id}}{% endif %}" />
            <div class="form-label pull-left">&nbsp;</div>
            <div class="actions pull-right">
                {% if item_id %}<button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                <a class="btn" href="{% url 'partner_searches' %}?partner={{ partner.id }}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary" id="partner_ss_save">{% trans 'Save' %}</button>
            </div>
            <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete the partner saved search?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?partner={{ partner.id }}&ct={{ content_type }}&id={{ item_id }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="sidebar">
                <h2 class="top">Tips</h2>
                Use the URL Extra field to attach source codes to each of the links.
                <h2>Your Microsites</h2>
                {% for microsite in microsites %}
                    <a href="http://{{ microsite }}" target="_blank">{{ microsite }}</a><br>
                {% endfor %}
            </div>

        </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}partner_edit_search.157-30.js{{ gz }}"></script>
{% endblock %}
