{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    <title>PRM Saved Searches {{ company.name }}</title>
    <meta name="title" content="PRM Saved Searches {{ company.name }}">
{% endblock %}
{% load humanize %}
{% load i18n %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Manage Searches" back_to="Back to Overview" back_to_url="partner_overview" back_to_string="?partner=" add_partner_to_end=True %}
    <div class="row">
        <div class="span8">
            {% if searches %}
                {% include "mypartners/includes/searches_column.html" %}
            {% else %}
                No searches available.
            {% endif %}
        </div>
        <div class="span4">
            <div class="sidebar">
                <input id="p-id" type="hidden" value="{{partner.id}}" />
                <div class="navigation">
                    <h2 class="top">Navigation</h2>
                    <a class="btn" href="{% url 'partner_edit_search' %}?partner={{ partner.id }}">New Saved Search</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}record_overview.161-25.js{{ gz }}"></script>
{% endblock %}
