<b>{{ partner.name }}</b>
<br><br>
{% with partner.primary_contact as contact %}
{% if contact %}
<b>{{ contact.name }}</b> <i>Primary Contact</i> <br>
{% if contact.email %}
<u>{{ contact.email }}</u> <br>
{% endif %}
{% if contact.address_line_one %}
{{ contact.address_line_one }}
    {% if contact.address_line_two %}
    {{ contact.address_line_two }} <br>
    {% else %}
    <br>
    {% endif %}
{% endif %}
{% if contact.city %}
{{ contact.city }},
    {% if contact.state %}
    {{ contact.state }}
        {% if contact.postal_code %}
        {{ contact.postal_code }} <br>
        {% else %}
            <br>
        {% endif %}
    {% else %}
        <br>
    {% endif %}
{% else %}
    {% if contact.state %}
    {{ contact.state }}
        {% if contact.postal_code %}
        {{ contact.postal_code }} <br>
        {% else %}
            <br>
        {% endif %}
    {% else %}
        {% if contact.postal_code %}
        {{ contact.postal_code }} <br>
        {% endif %}
    {% endif %}
{% endif %}
{% if contact.phone %}
{{ contact.phone }} <br>
{% endif %}
{% endif %}
    <br>
{% endwith %}
<a class="btn" href="{% url 'partner_details' %}?partner={{ partner.id }}">Edit Partner Details</a>
