{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>Partner Details {{ company.name }}</title>
    <meta name="title" content="Partner Details {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Partner Details" back_to="Back to Overview" back_to_url="partner_overview" back_to_string="?partner=" add_partner_to_end=True %}
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="partner-form">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company_id" value="{{ company.id }}">
                <input type="hidden" name="partner_id" value="{{ partner.id }}">
                <input type="hidden" name="ct" value="{{ partner_ct }}">

                <div class="form-label pull-left">&nbsp;</div>
                <div class="actions pull-right">
                    <button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>
                    <button type="submit" class="btn primary" id="item-save">{% trans 'Save' %}</button>
                </div>
                <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete <b>{{ partner }}</b>?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?partner={{ partner.id }}&ct={{ partner_ct }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="sidebar">
                <h2 class="top">Tips</h2>
                You can only have one primary contact, but you can change it any time.
                <div class="navigation">
                    <h2>Navigation</h2>
                    <a class="btn" href="{% url 'edit_contact' %}?partner={{ partner.id }}&ct={{ contact_ct }}">Add Contact</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <div class="card-wrapper">
                <div class="wrapper-header">
                    <h4>Manage Contacts</h4>

                </div>
                {% if contacts %}
                    {% for contact in contacts %}
                    {% include "mypartners/includes/contact_card.html" %}
                    {% endfor %}
                {% else %}
                    <div class="product-card no-highlight">
                        There are no contacts for {{partner.name}}.
                    </div>
                    <div class="partner-pagination">
                        <span class="step-links">
                            <a class="pull-right" href="{% url 'edit_contact' %}?partner={{ partner.id }}&ct={{ contact_ct }}">Add Contact</a>
                        </span>
                        <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}prm.162-25.js{{ gz }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $(".product-card:not(.no-highlight)").on("click", function() {
       window.location = $(this).find("a").attr("href");
    });
});
</script>
{% endblock %}
