<p>
{{ creator }} from {{ company.name }} has created a job search for you on 
My.jobs.  If you have a My.jobs account, click
{% url 'merge_accounts' activation.activation_key as url %}
<a href="https://secure.my.jobs{{url}}">here</a> to add this to your 
saved searches.  Don't have an Account?  Click 
{% url 'registration_activate' activation_key as url %}
<a href="https://secure.my.jobs{{url}}?verify={{user.user_guid}}">here</a> to
sign up.
</p> 

<p>Please note that if your activation does not succeed within 
{{ expiration_days }} days, you will have to restart the verification process.
</p>