{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    <title>PRM New Saved Searches {{ company.name }}</title>
    <meta name="title" content="PRM New Saved Searches {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block content %}
    <h1><a class="mobile_hide" href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>{% if item_id %}Edit{% else %}New{% endif %} Partner Saved Search</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="partner-saved-search-form">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company" value="{{ company.id }}">
                <input type="hidden" name="partner" value="{{ partner.id }}">
                <input type="hidden" name="id" value="{% if item_id %}{{item_id}}{% endif %}" />
            <div class="form-label pull-left">&nbsp;</div>
            <div class="actions pull-right">
                {% if item_id %}<button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>{% endif %}
                <a class="btn" href="{% url 'partner_searches' %}?company={{ company.id }}&partner={{ partner.id }}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary" id="partner_ss_save">{% trans 'Save' %}</button>
            </div>
            <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete the partner saved search?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?company={{ company.id }}&partner={{ partner.id }}&ct={{ content_type }}&id={{ item_id }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="tip-box">
                <h4>Tips</h4>
                <div class="tip-content">
                    Use the URL Extra field to attach source codes to each of the links.
                </div>
                <div class="tip-footer">
                    <a class="btn-link" href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Overview</a>
                </div>
            </div>

            <div class="tip-box">
                <h4>Your Microsites</h4>
                <div class="tip-content">
                    {% for microsite in microsites %}
                        <a href="http://{{ microsite }}" target="_blank">{{ microsite }}</a><br>
                    {% endfor %}
                    <a href="http://my.jobs" target="_blank">www.my.jobs</a><br />
                    <a href="http://disability.jobs" target="_blank">disability.jobs</a><br />
                    <a href="http://veterans.jobs" target="_blank">veterans.jobs</a><br />
                </div>
            </div>

        </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}partner_edit_search.152-08.js{{ gz }}"></script>
{% endblock %}