{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>Tagging Management {{ company.name }}</title>
        <meta name="title" content="Tagging Management {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<link href="{{ STATIC_URL }}jquery.tagit.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Tag Management" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    <div class="row">
        <div class="span12">
            <h3>Create New Tags</h3>
            <input id="p-tags" type="text" />
            <button id="addTags" class="btn pull-right" disabled>Add Tag(s)</button>
            <div class="clearfix"></div>
            <h3>View Existing Tags</h3>
            {% if tags %}
            <div id="tag-holder">
                {% for tag in tags %}
                    <div class="product-card tag" onclick="location.href='{% url 'edit_partner_tag' %}?id={{tag.id}}'">
                        <span class="tag-name" style="background-color: #{{tag.hex_color}}">{{ tag.name }}</span>
                        <a class="btn-link pull-right" href="{% url 'edit_partner_tag' %}?id={{tag.id}}">Edit</a>
                        <div class="clearfix"></div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            No tags for <b>{{ company.name }}</b>.
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extra-js %}
<script src="{{ STATIC_URL }}tag-it.min.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}partner_tagging.156-09.js{{ gz }}"></script>
{% endblock %}