{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>Partner Library {{ company.name }}</title>
        <meta name="title" content="Partner Library {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Partner Library" back_to="Back to Partner Relationship Manager" back_to_url="prm" %}
    <div class="row">
        <div id="ofccp-referral-directory" class="span12">
            <small>
                <i>
                    The partner(s) listed here are from the <a href="http://www.dol-esa.gov/errd/index.html" target="_blank" style="text-decoration: underline">Employment Referral Resource Directory</a>,
                    the <a href="http://www.dol-esa.gov/errd/Resources.503VEVRAA.html" target="_blank" style="text-decoration: underline">Disability and Veterans Community Resource Directory</a>, and other sources.
            </small>
        </div>
    </div>
    <div class="row">
        <div id="lib-alerts" class="span12">
        </div>
    </div>
    <div class="row row-filler">
        <input type="checkbox" />
    </div>
    <div class="row">
        <div id="partner-holder" class="span8">
        {% include "mypartners/includes/partner_column.html" with on_page="partner_library" %}
        <div class="clearfix"></div>
        </div>
        <div id="partner-sidebar-holder" class="span4">
            {% include "mypartners/includes/partner_sidebar.html" with on_page="partner_library" filters=True navigation=False filter_tag=False special_interest=True %}
        </div>
    </div>
    <div id="partner-library-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3>Add OFCCP Partner</h3>
        </div>
        <div class="modal-body">
            <p>Would you like to add "Company"?</p>
        </div>
        <div class="modal-footer">
            <div id="library-modal-check" class="pull-left">
                <input id="go-to-partner" type="checkbox" />
                <span>Transfer me to my copy of this partner after Add</span>
            </div>
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancel</a>
            <a id="add-partner-library" class="btn primary">Add</a>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
<script src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}prm.162-25.js{{ gz }}"></script>
{% endblock %}
