{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}

{% block site-title %}
    <title>Partner Reports {{ company.name }}</title>
    <meta name="title" content="Partner Reports {{ company.name }}">
{% endblock %}
{% load i18n %}

{% block content %}
    <h1><a href="{% url 'prm' %}">{{ company.name }}</a> <small><a href="{% url 'partner_overview' %}?partner={{ partner.id }}">{{ partner.name }}</a></small></h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>Reports</span>
            <a class="mobile_hide" href="{% url 'partner_overview' %}?partner={{ partner.id }}">Back to Overview</a>
            <span class="pull-right">
                <span id="admin-filter">{% include "mypartners/includes/company_admins.html" %}</span>
                <span id="date-filter">{% include "mypartners/includes/date_range.html" %}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Communication Activity</h4>
            <div class="big-chart big-trans-box" id="ajax-loading-donut">
                <img src="{{ STATIC_URL }}images/ajax-loader.gif">
            </div>
            <div class="big-chart" id="donutchart" style="display:none"></div>
            <div class="chart-box-holder" style="display:none"></div>
        </div>

        <div class="span6">
            <h4>Referral Activity</h4>
            <div class="big-chart big-trans-box" id="ajax-loading-bar">
                <img src="{{ STATIC_URL }}images/ajax-loader.gif">
            </div>
            <div class="big-chart" id="barchart" style="display:none"></div>
            <div class="chart-box-holder" style="display:none"></div>
        </div>
    </div>

    <div class="row mobile_hide">
        {% if contacts %}
        <div class="span6">
            <h4>All Contacts</h4>
            {% for contact in contacts %}
            <table class="all-contacts-table">
                <tr onclick="window.document.location='{% url 'partner_records' %}?partner={{ partner.id }}&contact={{ contact.name }}&date_start={{ date_start|date:'m/d/Y' }}&date_end={{ date_end|date:'m/d/Y' }}{%if admin_id %}&admin={{ admin_id }}{% endif %}';">
                    <td>
                        <span>{% get_nonuser_gravatar contact.name '55' %}</span>
                    </td>
                    <td>
                        {{ contact.name }}<br>
                        {{ contact.email }}
                    </td>
                    <td>
                        <a class="chart-box-link" href="{% url 'partner_records' %}?partner={{ partner.id }}&contact={{ contact.name }}&contact_type=job&date_start={{ date_start|date:'m/d/Y' }}&date_end={{ date_end|date:'m/d/Y' }}{%if admin_id %}&admin={{ admin_id }}{% endif %}">
                            <div class="chart-box small-chart-box inline-box">
                                <div class="big-num">{{ contact.ref_count }}</div>
                                <div class="reports-record-type">Referral Records</div>
                            </div>
                        </a>
                        <a class="chart-box-link" href="{% url 'partner_records' %}?partner={{ partner.id }}&contact={{ contact.name }}&date_start={{ date_start|date:'m/d/Y' }}&date_end={{ date_end|date:'m/d/Y' }}{%if admin_id %}&admin={{ admin_id }}{% endif %}">
                            <div class="chart-box small-chart-box inline-box">
                                <div class="big-num">{{ contact.cr_count }}</div>
                                <div class="reports-record-type">Contact Records</div>
                            </div>
                        </a>
                    </td>
                </tr>
            </table>
            {% endfor %}
        </div>
        {% endif %}
        <div class="span6">
            {% if top_contacts %}
            {% if top_contacts.count >= 3 %}
            <h4>Top 3 Contacts</h4>
            {% elif top_contacts.count == 2 %}
            <h4>Top {{ top_contacts.count }} Contacts</h4>
            {% else %}
            <h4>Top Contact</h4>
            {% endif %}
            <div id="top-contacts">
                {% for contact in top_contacts %}
                <a class="chart-box-link" href="{% url 'partner_records' %}?partner={{ partner.id }}&contact={{ contact.name }}&date_start={{ date_start|date:'m/d/Y' }}&date_end={{ date_end|date:'m/d/Y' }}{%if admin_id %}&admin={{ admin_id }}{% endif %}">
                    <div class="chart-box inline-box">
                        <div class="big-num">{{ contact.count }}</div>
                        <div class="reports-record-type">{{ contact.name|truncatechars:13 }}</div>
                    </div>
                </a>
                {% endfor %}
                <div class="chart-box inline-box" id="others" style="margin-right:0">
                    <div class="big-num">{{ others }}</div>
                    <div class="reports-record-type">All Others</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
<div class="black-mask" style="display: none;"></div>
{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}partner-reports.163-29.js{{ gz }}"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>
<script>
var total_records = {{ total_records }};
var total_ref = {{ referral }};
var company_id = {{ company.id }};
var company = {{ company.id }};
var partner = {{ partner.id }};
var partner_id = {{ partner.id }};
var date_start = '{{ date_start|date:'m/d/Y' }}';
var date_end = '{{ date_end|date:'m/d/Y' }}';
var admin_id = {% if admin_id %}{{ admin_id }}{% else %}'None'{% endif %};
</script>
{% endblock %}
