{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    <title>PRM New Saved Searches {{ company.name }}</title>
    <meta name="title" content="PRM New Saved Searches {{ company.name }}">
{% endblock %}
{% load i18n %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}partner_edit_search.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>{% if item_id %}Edit{% else %}New{% endif %} Partner Saved Search</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="partner-saved-search-form">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company" value="{{ company.id }}">
                <input type="hidden" name="partner" value="{{ partner.id }}">
                <input type="hidden" name="id" value="{% if item_id %}{{item_id}}{% endif %}" />
            <div class="form-label pull-left">&nbsp;</div>
            <div class="actions pull-right">
                {% if id %}<a class="btn" href="">{% trans 'Delete' %}</a>{% endif %}
                <a class="btn" href="{% url 'partner_searches' %}?company={{ company.id }}&partner={{ partner.id }}">{% trans 'Cancel' %}</a>
                <button type="submit" class="btn primary" id="partner_ss_save">{% trans 'Save' %}</button>
            </div>
            <div class="clear"></div>
            </form>
        </div>
        <div class="span4">
            <div class="tip-box">
                <h4>Tips</h4>
                <div class="tip-content">
                    Use the URL Extra field to attach source codes to each of the links.
                </div>
                <div class="tip-footer">
                    <a class="btn-link" href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Overview</a>
                </div>

            {% if microsites %}
            <div class="formBox no-padding">
                <h4>Your Microsites</h4>
                {{ microsites }}
            </div>
            {% endif %}
        </div>
{% endblock %}