{% extends "base.html" %}
{% load common_tags %}
{% block site-title %}
    <title>Partner Details {{ company.name }}</title>
    <meta name="title" content="Partner Details {{ company.name }}">
{% endblock %}
{% load i18n %}
{% block meta-extra %}
<script src="{{ STATIC_URL }}prm.js{% cache_buster %}"></script>
{% endblock %}

{% block content %}
    <h1><a class="mobile_hide" href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> <small><a href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">{{ partner.name }}</a></small></h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>Partner Details</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <form method="post" action="" id="partner-form">
                {% include "includes/form-error-highlight.html" %}
                {% csrf_token %}
                <input type="hidden" name="company_id" value="{{ company.id }}">
                <input type="hidden" name="partner_id" value="{{ partner.id }}">
                <input type="hidden" name="ct" value="{{ partner_ct }}">

                <div class="form-label pull-left">&nbsp;</div>
                <div class="actions pull-right">
                    <button type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>
                    <button type="submit" class="btn primary" id="item-save">{% trans 'Save' %}</button>
                </div>
                <div class="clear"></div>
            </form>
        </div>
        <div id="delete-confirm" class="modal hide fade row">
            <div class="modal-header">
                {% trans 'Really Delete?' %}
            </div>
            <div class="modal-body">

                {% blocktrans %}

                Are you sure you want to delete <b>{{ partner }}</b>?

                {% endblocktrans %}

            </div>
            <div class="modal-footer">
                <div class="actions">
                    <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                    <a class="btn" href="{% url 'delete_prm_item' %}?company={{ company.id }}&partner={{ partner.id }}&ct={{ partner_ct }}">{% trans 'Delete' %}</a>
                </div>
            </div>
        </div>{# /delete-confirm #}
        <div class="span4">
            <div class="tip-box mobile_hide">
                <h4>Tips</h4>
                <div class="tip-content">
                    You can only have one primary contact, but you can change
                    it any time.
                </div>
                <div class="tip-footer">
                    <a class="btn-link" href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Overview</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span8">
            <div class="formBox profile-mobile" id="manage-contacts">
                <h4>Manage Contacts</h4>
                {% if contacts %}
                <table class="table table-striped table-bordered">
                    <tbody>
                    {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.name }}</td>
                            <td>{% if contact.email %}{{ contact.email }}{% endif %}</td>
                            <td><a class="btn-link pull-right" href="{% url 'edit_contact' %}?company={{ company.id }}&partner={{ partner.id }}&id={{ contact.id }}&ct={{ contact_ct }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <a class="pull-right btn mobile-btn" href="{% url 'edit_contact' %}?company={{ company.id }}&partner={{ partner.id }}&ct={{ contact_ct }}">New Contact</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}