{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>{{ company.name }} Partner Relationship Manager</title>
        <meta name="title" content="{{ company.name }} Partner Relationship Manager">
    {% endwith %}
{% endblock %}
{% load i18n %}
{% block meta-extra %}
{# Sidebar has different heights on prm and partner library. I'm sorry, it had to be done. #}
<style type="text/css">
    @media screen and (max-width: 500px) {
        #partner-holder {
            margin-top: 795px !important;
        }
    }
</style>

<link rel="stylesheet" href="{{STATIC_URL}}pickadate/themes/classic.css" id="theme_base">
<link rel="stylesheet" href="{{STATIC_URL}}pickadate/themes/classic.date.css" id="theme_date">
{% endblock meta-extra %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Partner Relationship Manager" %}
    {% if not company.partner_set.all %}
        <div class="row">
            <div class="span8 offset2">
                <div class="row centered">
                    <h2 style="margin-top: 0;">Add Your First Partner</h2>
                </div>
                <div class="row centered prm-no-partner">
                    <div class="span4" onclick="location.href='{% url 'create_partner' %}?ct={{ partner_ct }}'">
                        <h4 style="text-align: center">Create a Partner</h4>
                        <p>Already have the right partner? Enter it here.</p>
                        <span class="bold-next-step">next &#8594;</span>
                    </div>
                    <div class="span4" onclick="location.href='{% url 'partner_library' %}'">
                        <h4>Search OFCCP Partner Library</h4>
                        <p>Search for and find the right partner for you!</p>
                        <span class="bold-next-step">next &#8594;</span>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div id="partner-holder" class="span8">
                {% include "mypartners/includes/partner_column.html" with on_page="prm" %}
            </div>
            <div id="sidebar-holder" class="span4">
                {% include "mypartners/includes/partner_sidebar.html" with on_page="prm" filters=True navigation=True filter_tag=True special_interest=False %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra-js %}
<script>
    $("body").on("click", ".product-card", function() {
        var partner_id = $(this).attr("id").split("-")[1];
        location.href="{% url 'partner_overview' %}?partner="+partner_id;
    });
</script>
<script src="{{ STATIC_URL }}prm.162-5.js{{ gz }}"></script>
<script src="{{ STATIC_URL }}pickadate/picker.js"></script>
<script src="{{ STATIC_URL }}pickadate/picker.date.js"></script>
<script src="{{ STATIC_URL }}pickadate/legacy.js"></script>
{% endblock %}
