{% extends "base.html" %}
{% load common_tags %}
{% gz as gz %}
{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>{{ company.name }} Partner Relationship Manager</title>
        <meta name="title" content="{{ company.name }} Partner Relationship Manager">
    {% endwith %}
{% endblock %}
{% load i18n %}
{% block meta-extra %}
{# Sidebar has different heights on prm and partner library. I'm sorry, it had to be done. #}
<style type="text/css">
    @media screen and (max-width: 500px) {
        #partner-holder {
            margin-top: 480px !important;
        }
    }
</style>
{% endblock meta-extra  %}

{% block content %}
    {% include "mypartners/includes/prm_header.html" with page_title="Partner Relationship Manager" %}
    {% if not partners %}
        <div class="row">
            <div class="span8 offset2">

                <div class="centered">

                    <a class="btn" href="{% url 'partner_library' %}">Search OFCCP Partner Library</a>
                    <a class="btn" href="{% url 'create_partner' %}?ct={{ partner_ct }}">Create New Partner</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div id="partner-holder" class="span8">
                {% include "mypartners/includes/partner_column.html" with on_page="prm" %}
            </div>
            <div id="sidebar-holder" class="span4">
                {% include "mypartners/includes/partner_sidebar.html" with filters=True navigation=True special_interest=False %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block extra-js %}
<script src="{{ STATIC_URL }}prm.154-29.js{{ gz }}"></script>
{% endblock %}
