<tbody id="record-results">
    {% if records %}
    {% for record in records %}
        <tr class="contact-record-tr" onclick="window.document.location='{% url 'record_view' %}?company={{ company.id }}&partner={{ partner.id }}&id={{ record.id }}';">
            <td>{{ record.date_time }}</td>
            <td>{{ record.get_record_description }}</td>
            <td>
                Subject: {{ record.subject }}<br/>
                {{ record.notes }}
            </td>
        </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan=3>No records available.</td>
    </tr>
    {% endif %}
</tbody>