<tbody id="record-results">
    {% if records %}
    {% for record in records %}
        <tr class="contact-record-tr" onclick="window.document.location='{% url 'record_view' %}?company={{ company.id }}&partner={{ partner.id }}&id={{ record.id }}&offset={{ forloop.counter0 }}{% if contact_type %}&type={{ contact_type }}{% endif %}{% if contact_name %}&name={{ contact_name }}{% endif %}';">
            <td>{{ record.date_time }}</td>
            <td>{{ record.get_record_description }}</td>
            <td>
                {% if record.subject %}Subject: {{ record.subject }}<br/>{% endif %}
                {{ record.notes }}
            </td>
        </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan=3>No records available.</td>
    </tr>
    {% endif %}
</tbody>