{% load activity_tags %}
{% load tz %}

{% localtime on %}
<tbody id="record-results">
    {% if records %}
    {% for record in records %}
        <tr class="contact-record-tr" onclick="window.document.location='{% url 'record_view' %}?partner={{ partner.id }}&id={{ record.id }}&offset={{ forloop.counter0 }}{% if contact_type %}&type={{ contact_type }}{% endif %}{% if contact.name %}&name={{ contact.name }}{% endif %}{% if date_start %}&date_start={{ date_start|date:'m/d/Y' }}{% endif %}{% if date_end %}&date_end={{ date_end|date:'m/d/Y' }}{% endif %}{% if admin_id %}&admin={{ admin_id }}{% endif %}';">
            <td class="mobile_hide record-time">{{ record.date_time }}</td>
            <td class="desktop_hide record-time-mobile">{{ record.shorten_date_time }}</td>
            <td class="mobile_hide record-type">{{ record.get_human_readable_contact_type }}</td>
            <td class="mobile_hide record-contact">{{ record.contact.name }}</td>
            <td class="record-subject">{{ record.subject }}</td>
            <td class="mobile_hide record-details">{{ record.notes|strip_tags|truncatewords_html:'20' }}</td>
        </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan=5>No records available.</td>
    </tr>
    {% endif %}
</tbody>
{% endlocaltime %}
