{% extends "base.html" %}
{% load common_tags %}
{% load activity_tags %}

{% block site-title %}
    {% with name_obj=user.full_name %}
        <title>PRM Overview - {{ company.name }}</title>
        <meta name="title" content="PRM Overview - {{ company.name }}">
    {% endwith %}
{% endblock %}
{% load i18n %}

{% block meta-extra %}
<script src="{{ STATIC_URL }}record_overview.js{% cache_buster %}"></script>
    <script src="{{ STATIC_URL }}partner-reports.js{% cache_buster %}"></script>
<script>
    var company = {{ company.id }};
    var partner = {{ partner.id }};
</script>
{% endblock %}

{% block content %}
    <h1><a href="{% url 'prm' %}?company={{ company.id }}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_overview' %}?company={{ company.id }}&partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>Records</span>
            <a class="mobile_hide" href="{% url 'report_view' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Reports</a>
            <span class="pull-right">
                <span id="record-download">{% include "mypartners/includes/download_records.html" %}</span>
                <span id="date-filter">{% include "mypartners/includes/date_range.html" %}</span>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="formBox no-padding">
                <h4>Records</h4>
                <div class="formBox-content">
                    <div class="span3 form-label pull-left initial">
                        <label for="record_contact" class="">Contact</label>
                    </div>
                    <div>
                        <select id="record_contact" name="record_contact">
                            {% for contact in contact_choices %}
                                <option value="{{ contact.0 }}">{{ contact.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="span3 form-label pull-left initial">
                        <label for="record_contact_type" class="">Contact Type</label>
                    </div>
                    <div>
                        <select id="record_contact_type" name="record_contact_type">
                            {% for contact_type in contact_type_choices %}
                                <option value="{{ contact_type.0 }}">{{ contact_type.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <table class="table table-bordered table-striped">
                    {% if records %}
                    <thead>
                        <tr>
                            <td>Date/Time</td>
                            <td class="mobile_hide">Type</td>
                            <td class="mobile_hide">Contact</td>
                            <td>Subject</td>
                            <td class="mobile_hide">Details</td>
                        </tr>
                    </thead>
                    {% endif %}
                    {% get_record_block records company partner %}
                </table>
            </div>
        </div>
    </div>
<div class="black-mask" style="display: none;"></div>
{% endblock %}