{% extends "base.html" %}
{% load activity_tags %}
{% load i18n %}

{% block site-title %}
    <title>PRM Contact Record {{ company.name }}</title>
    <meta name="title" content="PRM Contact Record {{ company.name }}">
{% endblock %}

{% block content %}
    <h1><a href="{% url 'prm' %}">{{ company.name }}</a> {% if partner %}<small><a href="{% url 'partner_overview' %}?partner={{ partner.id }}">{{ partner.name }}</a></small>{% endif %}</h1>
    <div class="row">
        <div class="span12 prm-header">
            <span>{% if record.subject %}{{ record.subject }} - {% endif %}{{ record.date_time|date:'M d, Y' }} </span>
            <a class="mobile_hide" href="{% url 'partner_records' %}?company={{ company.id }}&partner={{ partner.id }}">Back to Communication Records</a>
            <span class="pull-right">
                {% if records.has_previous %}
                    <a href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ records.previous_page_number }}">Previous</a>
                {% endif %}
                {% if records.has_next %}
                    <a href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ records.next_page_number }}">Next</a>
                {% endif %}
                &nbsp;&nbsp;
            </span>
        </div>
    </div>

    <div class="row">
        <div class="span3">
            <div class="tip-box" id="details">
            <h5>Contact Details</h5>
                <div class="tip-content">
                {{ record.contact.name }} <br/>
                {% if record.contact_email %}{{ record.contact_email }}<br/>{% endif %}
                {% if record.contact_phone %}{{ record.contact_phone }}<br/>{% endif %}
                </div>
            </div>
            {% if record.subject %}
            <div class="tip-box" id="subject">
            <h5>Subject</h5>
                <div class="tip-content">
                    {{ record.subject }}
                </div>
            </div>
            {% endif %}
            <div class="tip-box" id="type">
            <h5>Contact Type</h5>
                <div class="tip-content">
                    {{ record.get_human_readable_contact_type }}
                </div>
            </div>
            {% if record.job_id %}
            <div class="tip-box" id="job-information">
            <h5>Job Information</h5>
                <div class="tip-content">
                    Job ID: {{ record.job_id }}<br/>
                    {% if record.job_applications %}Applications: {{ record.job_applications }}<br/>{% endif %}
                    {% if record.job_interviews %}Interviews: {{ record.job_interviews }}<br/>{% endif %}
                    {% if record.job_hires %}Hires: {{ record.job_hires }}<br/>{% endif %}
                </div>
            </div>
            {% endif %}
            <div class="tip-box" id="time">
            <h5>Date & Time of Contact</h5>
                <div class="tip-content">
                    {{ record.date_time }}
                </div>
            </div>
            {% if attachments %}
            <div class="tip-box" id="attachments">
            <h5>Attachments</h5>
                <div class="tip-content">
                {% for attachment in attachments %}
                    {% attachment_link attachment partner %}<br/>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="span6">
            <div class="tip-box" id="notes">
            <h5>Details, Notes or Transcript</h5>
                <div class="tip-content">
                    {% if record.notes %}
                        {{ record.notes|bleach_clean }}
                    {% else %}
                        There are no notes for this record.
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="span3">
            <a class="btn one-hundred-percent-button-border-boxed" 
               href="{% url 'partner_edit_record' %}?id={{ record.id }}&{{ request.GET.urlencode }}">Edit</a>
            <div class="tip-box" id="record-history">
            <h5>Record History</h5>
                <div class="tip-content">
                    {% if not record_history %}
                    No history for this record could be found.
                    {% else %}
                        {% for activity in record_history %}
                            {% get_action_type activity %} - {{ activity.action_time|date:'M d, Y' }}<br/>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="tip-box">
                <h5>Tags</h5>
                <div class="tip-content">
                    {% if not record.tags.count %}
                    No tags for this record.
                    {% else %}
                        {% for tag in record.tags.all %}
                            <span class="tag-name small" style="background-color: #{{tag.hex_color}}">{{ tag.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
