{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load i18n %}
{% load postajob_tags %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
    {% if not object.redeemed_on %}
        The offline purchase has been completed. Products will be assigned to the purchaser upon redemption of the the following product code: <b>{{ object.redemption_uid }}</b>
    {% else %}
        The offline purchase has been completed. Products have been assigned to {% get_redeemer object %}.
    {% endif %}
</div>
<div class="direct_rightColBox">
    {% include "postajob/includes/postajob_navigation.html" %}
</div>
{% endblock %}