<style>
    {% include 'includes/email.css' %}
</style>

{% with invitation.inviting_user.get_full_name as inviting_user_name %}
    Dear {% if invitation.invitee.get_full_name %}{{ invitation.invitee.get_full_name }}{% else %}{{ invitation.invitee_email }}{% endif %},

    {% url 'invitation_activate' activation_key as url %}
    {% if invitation.added_saved_search %}
        <p>
            {% if inviting_user_name %}
                {{ inviting_user_name }}
            {% else %}
                {{ invitation.inviting_user.email }}
            {% endif %}
            of {{ invitation.inviting_company.name }} has invited you to join My.jobs in order to begin receiving
            {{ invitation.inviting_company.name }}'s available job opportunities on
            a regular basis.
        </p>
    {% elif invitation.added_permission %}
        <p>
            {% if inviting_user_name %}
                {{ inviting_user_name }}
            {% else %}
                {{ invitation.inviting_user.email }}
            {% endif %}
            has reserved a spot for you to join My.jobs in order to help
            administer {{ invitation.inviting_company.name }}'s recruitment
            and outreach tools.
        </p>
    {% else %}
        <p>
            Your colleague
            {% if inviting_user_name %}
                {{ inviting_user_name }}
            {% else %}
                {{ invitation.inviting_user.email }}
            {% endif %}
            has reserved a spot for you to join My.jobs in order to access and
            administer your job board.
        </p>
    {% endif %}

    <p>Please click on the Activate Account button below to get started.</p>

    <p><a href="https://secure.my.jobs{{ url }}?verify={{ invitation.invitee.user_guid}}" class="btn">Activate Account</a></p>

    Sincerely,<br />
    My.jobs on behalf of
    {% if inviting_user_name %}
        {{ inviting_user_name }}
    {% else %}
        {{ invitation.inviting_user.email }}
    {% endif %}

    {% if invitation.added_saved_search %}
        <hr />
        {{ initial_search_email|safe }}
    {% endif %}
{% endwith %}
