{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load form_tags %}
{% load selection_boxes %}

{% block content %}
{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
  {% csrf_token %}
  <fieldset>
      {# Include but don't display hidden fields #}
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}
      
      {# Include the visible fields #}
      {% for field in form.visible_fields %}
        {% if field.errors %}
            <span class="required">
            <div class="error-box">
                {% for error in field.errors %}
                <div class="span3 form-label pull-left initial form-spacer"></div>
                <div class="error-text">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="span3 form-label pull-left {% if is_boolean %}checkbox-label{% else %}initial{% endif %} {{ field.label|slugify }}-label">
            {% add_required_label field %}
        </div>
        <div class="profile-form-input {{ field.label|slugify }}-field">
            {{ field }}
            {% if field.help_text %}
                {% if field|is_checkbox_field %}
                    <br/><span class="help-block checkbox-help-block">{{ field.help_text|safe }}</span>
                {% else %}
                    <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
            {% endif %}
        </div>
        {% if field.errors %}
            </span>
        {% endif %}
      {% endfor %}
  </fieldset>
  <div class="actions">
    <button type="submit" class="btn primary" value="submit">{% trans 'Change my password' %}</button>&nbsp;
    <button type="reset"class="btn">Cancel</button>
    <span class="help-block">
    </span>
  </div>  
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

{% endif %}
{% endblock content %}
