{# Using seosite.domain because apparently seosite.name isn't always... a name #}
{% load i18n %}{% autoescape off %}
{% load password_reset_tags %}
{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {% endblocktrans %}{% get_current_seosite 'domain' 'capitalize' %}.

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://{% get_current_seosite 'domain' %}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {% endblocktrans %}{% get_current_seosite 'domain' 'capitalize' %} {% blocktrans %}Team{% endblocktrans %}

Powered by My.jobs

{% endautoescape %}
