{# Using seosite.domain because apparently seosite.name isn't always... a name #}
{% load i18n %}{% autoescape off %}
{% load password_reset_tags %}
<p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {% endblocktrans %}{% get_current_seosite 'domain' 'capitalize' %}.</p>

<p><a href="http://{% get_current_seosite 'domain' %}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}">
    {% trans "Please click here and choose a new password." %}
</a></p>
<p>{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}</p>

{% trans "Thanks for using our site!" %}<br />

{% blocktrans %}The {% endblocktrans %}{% get_current_seosite 'domain' 'capitalize' %} {% blocktrans %}Team{% endblocktrans %}

<hr />

Powered by <a href="my.jobs">My.jobs</a>

{% endautoescape %}
