<div id="moduleColumn" class="span8">
    <h3>Thanks for updating your {{ model_name }}</h3>
    <p>
        Updating your {{ model_name }} will help employers locate you and increase your
        chances at getting noticed.  You can continue to improve your profile 
        with the options to the below.
    </p>

    {% for suggestion in suggestions %}
        <a class="btn primary suggestion add-module-btn" 
           href="{{ suggestion.url }}" 
           data-msg="{{ suggestion.msg }}">
            Add
            <span>{{ suggestion.module }}</span>
        </a>
    {% endfor %}

    <div id="description" class="span6">&nbsp;</div>

    <a class="btn-link" 
       href="{% url 'view_profile' %}"
       style="float:right;">No thanks, Take me to my Profile</a>
</div>
<div class="span4" id="suggestions">
    
    <div class="formBox">
        <h4>Updated {{model_name|title }}</h4>
        {% include 'myprofile/details_tmpl.html' %}
    </div>
</div>