{% extends "base.html" %}
{% load i18n %}

{% block site-title %}
<title>Purchased Jobs Overview - My.jobs</title>
<meta name="title" content="Purchased Product Overview - My.jobs">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>{{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12 prm-header">
            <span>Post a Job</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="card-wrapper">
                <div class="wrapper-header">
                    <h4>Active Products</h4>
                </div>
                {% for product in active_products %}
                    {% include "postajob/includes/purchasedproduct_formBox.html" with purchased_product=product %}
                {% empty %}
                <div class="product-card no-highlight">
                    You currently have no active products.
                </div>
                {% endfor %}
            </div>
            <div class="card-wrapper">
                <div class="wrapper-header">
                    <h4>Expired Products</h4>
                </div>
                {% for product in expired_products %}
                    {% include "postajob/includes/purchasedproduct_formBox.html" with purchased_product=product %}
                {% empty %}
                <div class="product-card no-highlight">
                    You currently have no expired products.
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="span4">
            <div class="sidebar">
                <div class="navigation">
                    <h2 class="top">Navigation</h2>
                    <a class="btn" href="{% url 'companyprofile_add' %}">Company Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}postajob.159-9.css{{ gz }}">
{% endblock %}
