{% extends "postajob/myjobs/postajob_template.html" %}
{% gz as gz %}
{% load i18n %}

{% block site-title %}
    <title>Purchased Products Overview - My.jobs</title>
    <meta name="title" content="Purchased Products Overview - My.jobs">
{% endblock %}
{% load i18n %}

{% block page_title %}
Purchased Products
{% endblock page_title %}

{% block goback_link %}
<a href="{% url 'purchasedmicrosite_admin_overview' %}">Back to Admin Overview</a>
{% endblock %}


{% block postajob_content %}
    <div class="row">
        <div class="span8">
            {% include "postajob/includes/purchasedproduct_purchasedjob_admin_formBox.html" %}
        </div>
        <div class="span4">
            {% include "postajob/includes/postajob_navigation.html" %}
        </div>
    </div>
{% endblock %}


{% block extra-js %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}postajob.159-9.css{{ gz }}">
    <script type="text/javascript" src="{{ STATIC_URL }}postajob-tabs.160-13.js{{ gz }}"></script>
{% endblock %}
