{% extends "base.html" %}
{% load i18n %}

{% block site-title %}
<title>Purchased Products Overview - My.jobs</title>
<meta name="title" content="Purchased Product Overview - My.jobs">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h1>{{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12 prm-header">
            <span>Purchased Product Overview</span>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <div class="card-tabs">
                <ul>
                    <li id="active-tab-products" class="active">Active Products{% if active_products %}<span class="amount">{{active_products|length}}</span>{% endif %}</li>
                    <li id="expired-tab-products">Expired Products{% if expired_products %}<span class="amount">{{expired_products|length}}</span>{% endif %}</li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div id="active-products" class="card-wrapper">
                {% for product in active_products %}
                    {% include "postajob/includes/purchasedproduct_formBox.html" with purchased_product=product %}
                {% empty %}
                <div class="product-card no-highlight">
                    You currently have no active products.
                </div>
                {% endfor %}
            </div>
            <div class="clearfix"></div>
            <div id="expired-products" class="card-wrapper" style="display:none;">
                {% for product in expired_products %}
                    {% include "postajob/includes/purchasedproduct_formBox.html" with purchased_product=product %}
                {% empty %}
                <div class="product-card no-highlight">
                    You currently have no expired products.
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="span4">
            <div class="sidebar">
                <div class="navigation">
                    <h2 class="top">Navigation</h2>
                    <a class="btn" href="{% url 'companyprofile_add' %}">Company Profile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}postajob-tabs.160-13.js"></script>
{% endblock %}
