{% extends "postajob/myjobs/postajob_template.html" %}
{% load i18n %}

{% block site-title %}
<title>Requests Overview - My.jobs</title>
<meta name="title" content="Requests Overview - My.jobs">
{% endblock %}
{% load i18n %}

{% block page_title %}
Requests
{% endblock page_title %}

{% block goback_link %}
<a href="{% url 'purchasedmicrosite_admin_overview' %}">Back to Admin Overview</a>
{% endblock %}

{% block postajob_content %}
<div class="row">
    <div class="span8">
        {% include "postajob/includes/request_formBox.html" with wrapper_title="Pending Requests" requests=pending_requests %}
        {% include "postajob/includes/request_formBox.html" with wrapper_title="Processed Requests" requests=processed_requests %}
    </div>
    <div class="span4">
        {% include "postajob/includes/postajob_navigation.html" %}
    </div>
</div>
{% endblock %}


{% block extra-js %}
{% endblock %}
