{% extends "base.html" %}
{% load i18n %}
{% load disable_tags %}
{% block site-title %}
    <title>Account Settings - My.jobs</title>
    <meta name="title" content="Account Settings - My.jobs">
{% endblock %}

{% block content %}
{% block modal %}
{% endblock %}
<div class="wrapper">
    <div class="row">
        <div class="form-status"></div>
        <div class="span12">
            <h1>{% trans "Account " %}<small>{% trans "Settings" %}</small></h1>
        </div>
        {% if not user.is_active %}
            <div class="alert alert-error">
                <p>{% trans "Your account doesn't have full access to MyJobs features! Please activate it using the activation link sent to your email. "%} <a href="{% url 'resend_activation' %}">{% trans "Resend my activation email." %}</a></p>
            </div>
        {% endif %}
        {% if user.password_change %}
            <div class="alert alert-error">
                <p>Welcome to my.jobs. Before doing anything else, you need to change your password from the one we created for you.</p>
                {{ change_pass }}
            </div>
        {% endif %}
        {% if message_body %}
            <div class="alert alert-{{ messagetype }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message_body }}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div id="as-communication" class="span12">
            <h4>Communication Settings</h4>
            <hr />
            <div class="as-content">
                <form method="post" action="" id="as-communication-form">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="as-password" class="span12">
            <h4>Change Password</h4>
            <hr />
            <div class="as-content">

            </div>
        </div>
    </div>
    <div class="row">
        <div id="as-disable" class="span12">
            <h4>Disable Account</h4>
            <hr />
            <div class="as-content">

            </div>
        </div>
    </div>
    <div class="row">
        <div id="as-delete" class="span12">
            <h4>Delete Account</h4>
            <hr />
            <div class="as-content">

            </div>
        </div>
    </div>
</div>

<section>
    <div class="wrapper">
        <div class="row">
          <div class="form-status">
          </div>
            {% if message_body %}
            <div class="alert alert-{{messagetype}}">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message_body}}
            </div>
            {% endif %}
            <div class="span12">
                <h1>{% trans "Account " %}<small>{% trans "Settings"%}</small></h1>
                <div class="account-box">
                    <div class="row">
                    <div class="span4 pull-left settings-nav">
                        <ul>
                        <a href="" class="account-menu-item {{user.password_change|display}}" id="account-basic"><li><h4 class="account-menu-header">{% trans "Personal Information" %}</h4>
                        </li></a>

                        {% if user.is_active %}

                            <a href="{% url 'edit_communication' %}" class="account-menu-item {{user.password_change|display}}" id="account-communication"><li><h4 class="account-menu-header">{% trans "Communication Settings" %}</h4></li></a>

                        {% endif %}

                        <a href="{% url 'edit_password' %}" class="account-menu-item" id="account-password"><li><h4 class="account-menu-header">{% trans "Change Password" %}</h4></li></a>
                        <a href="{% url 'edit_disable' %}" class="account-menu-item {{user.password_change|display}}" id="account-disable"><li><h4 class="account-menu-header">{% trans "Disable Account" %}</h4></li></a>
                        <a href="{% url 'edit_delete' %}" class="account-menu-item {{user.password_change|display}}" id="account-delete"><li><h4 class="account-menu-header">{% trans "Delete Account" %}</h4></li></a>
                        </ul>
                    </div>

                    <div class="span8 account-settings">
                        {% block edit-main %}
                        {% if user.password_change %}
                            <p>Welcome to my.jobs. Before doing anything else, you need to change your password from the one we created for you.</p>
                            {{ change_pass }}
                        {% endif %}
                        <form action="" method="POST" id="form-{{section_name}}">
                          {% include "includes/form-error-highlight.html" %}
                          {% csrf_token %}
                          <div class="actions">
                            <a href="" class="btn pull-right">{% trans 'Cancel' %}</a>
                            <button type="submit" class="btn primary pull-right" value="submit">{% trans "Save" %}</button>
                            <div class="clear"></div>
                          </div>
                        </form>

                        {% endblock%}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script src="{{ STATIC_URL }}account-settings.151-01.js"></script>
<script type="text/javascript">
    var auto_user = {% if user.password_change %}true{% else %}false{% endif %}
</script>
{% endblock %}