{% extends "base.html" %}

{% block meta-extra %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
{% include "myemails/includes/header.html" with title="..." %}

<div class="row">
    <div class="span12">
        <h3 style="margin-bottom: 0;">Headers</h3>
        <a class="awrap" href="{% url 'edit-template' %}">
            <div class="product-card" style="padding: 10px; font-size: 1.3em;">
                <i class="fa fa-plus-circle" style="color: #009900;"></i> <span style="color: #000;">Create New Header</span>
            </div>
        </a>
        {% for something in "heads" %}
            <div style="padding: 5px 10px; position: relative; background-color: {% if forloop.counter|divisibleby:2 %}#F7F7F7{%else%}#FEFEFE{% endif %};">
                <span style="font-size: 1.3em; padding: 8px 0; display: inline-block;">Header Name {{forloop.counter}}</span>

                <div style="float: right;">
                    <a class="btn" href="{% url 'edit-template' %}"><i class="fa fa-pencil fa-lg"></i> Edit</a>
                    <a class="btn" href="{% url 'view-template' %}"><i class="fa fa-eye fa-lg"></i> View</a>
                    <a class="btn btn-danger" style="color: #FFF;"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
        <h3 style="margin-bottom: 0;">Footers</h3>
        <a class="awrap" href="{% url 'edit-template' %}">
            <div class="product-card" style="padding: 10px; font-size: 1.3em;">
                <i class="fa fa-plus-circle" style="color: #009900;"></i> <span style="color: #000;">Create New Footer</span>
            </div>
        </a>
        {% for something in "foot" %}
            <div style="padding: 5px 10px; position: relative; background-color: {% if forloop.counter|divisibleby:2 %}#F7F7F7{%else%}#FEFEFE{% endif %};">
                <span style="font-size: 1.3em; padding: 8px 0; display: inline-block;">Footer Name {{forloop.counter}}</span>

                <div style="float: right;">
                    <a class="btn" href="{% url 'edit-template' %}"><i class="fa fa-pencil fa-lg"></i> Edit</a>
                    <a class="btn" href="{% url 'view-template' %}"><i class="fa fa-eye fa-lg"></i> View</a>
                    <a class="btn btn-danger" style="color: #FFF;"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}