{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load i18n %}
{% load common_tags %}
{% load form_tags %}
{% gz as gz %}


{% block directseo_main_content %}
{% block modal %}
{% endblock %}
<div class="wrapper">
    <div class="row">
        <div class="span12">
            <h1>{% trans "Account " %}<small>{% trans "Settings" %}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% if user.password_change %}
                <div class="alert alert-error">
                    You are required to change your password before accessing My.jobs features.
                    {{ change_pass }}
                </div>
            {% endif %}
            {% if message_body %}
                <div class="alert alert-{{ messagetype }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message_body }}
                </div>
            {% endif %}
        </div>
    </div>
    {% if communication_form %}
    <div class="row as">
        <div class="span12">
            <div id="as-communication" class="as-section"><h3>Communication Settings</h3></div>
            <div class="as-content" style="display: block;">
                <form method="post" action="{% url 'edit_account' %}?communication#as-communication" id="as-communication-form">
                    {% with communication_form as form %}
                    {% include "includes/form-error-highlight.html" %}
                    {% csrf_token %}
                    {% endwith %}
                    <div class="offset4 span4 actions">
                        <button type="submit" class="btn pull-right" value="submit">{% trans "Save" %}</button>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row as">
        <div class="span12">
            <div id="as-password" class="as-section"><h3>Change Password</h3></div>
            <div id="as-password-content" class="as-content">
                <form method="post" action="{% url 'edit_account' %}?password#as-password" id="as-communication-form">
                    {% with password_form as form %}
                    {% include "includes/form-error-highlight.html" %}
                    {% csrf_token %}
                    {% endwith %}
                    <div class="offset4 span4 actions">
                        <button type="submit" class="btn pull-right" value="submit">{% trans "Save" %}</button>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row as">
        <div class="span12">
            <div id="as-disable" class="as-section"><h3>Disable Account</h3></div>
            <div class="as-content">
                <div class="span3 pull-left">
                    <div class="gravatar-message">
                        <div class="gravatar-message">
                            {% get_gravatar user '150' %}<br>
                            <img class="warning-badge" src="{{STATIC_URL}}images/caution-badge.png" />
                        </div>
                    </div>
                </div>
                <div class="span8 pull-right">
                    <div class="row">
                        <div class="span8">
                            {% trans "This will do the following:" %}<br/>
                            <ul>
                                <li>{% trans "Deactivate all your job search tools" %}</li>
                                <li>{% trans "Deactivate all your saved searches" %}</li>
                                <li>{% trans "Disable all resume modules except your name and email" %}</li>
                                <li>{% trans "Prevent My.jobs from sending you any email" %}</li>
                            </ul>
                            {% trans "You can activate your account at a later time, which will re-enable everything and let you pick up where you left off." %}
                        </div>
                    </div>
                </div>
                <div class="offset4 span6 actions">
                    <button id="delete" type="button" data-toggle="modal" data-target="#disable-confirm" class="btn pull-right confirm-modal">{% trans 'Disable Account' %}</button>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="row as">
        <div class="span12">
            <div id="as-delete" class="as-section"><h3>Delete Account</h3></div>
            <div class="as-content">
                <div class="span3 pull-left">
                    <div class="gravatar-message">
                        {% get_gravatar user '150' %}
                        <br>
                        <img class="warning-badge" src="{{STATIC_URL}}images/critical-badge.png" />
                    </div>
                </div>
                <div class="span8 pull-right">
                    <div class="row">
                        <div class="span8">
                            {% trans "This will do the following:" %}<br/>
                            <ul>
                                <li>{% trans "Delete all your resume data" %}</li>
                                <li>{% trans "Delete all your saved searches" %}</li>
                                <li>{% trans "Delete your login information" %}</li>
                            </ul>
                            {% trans "This cannot be reversed." %}<br /> <br />
                            {% trans "If you want to preserve your account for use later, then you should disable your account instead." %}
                        </div>
                    </div>
                </div>
                <div class="offset4 span6 actions">
                    <button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn pull-right confirm-modal">{% trans 'Delete Account' %}</button>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div id="disable-confirm" class="modal hide fade row">
        <div class="modal-header">
            {% trans 'Disable Account?' %}
        </div>
        <div class="modal-body">

            {% blocktrans %}

            Are you sure you want to disable your account?

            {% endblocktrans %}

        </div>
        <div class="modal-footer">
            <div class="actions">
                <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                <a href="{% url 'disable_account' %}" class="btn">Yes, disable my account</a>
            </div>
        </div>
    </div>{# /disable-confirm #}
    <div id="delete-confirm" class="modal hide fade row">
        <div class="modal-header">
            {% trans 'Delete Account?' %}
        </div>
        <div class="modal-body">

            {% blocktrans %}

            Are you sure you want to delete your account?

            {% endblocktrans %}

        </div>
        <div class="modal-footer">
            <div class="actions">
                <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                <a href="{% url 'delete_account' %}" class="btn">{% trans "Yes, delete my account" %}</a>
            </div>
        </div>
    </div>{# /delete-confirm #}
</div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="//www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script src="{{ STATIC_URL }}account-settings.153-12.js{{ gz }}"></script>
<script type="text/javascript">
    var auto_user = {% if user.password_change %}true{% else %}false{% endif %}
</script>

<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>

{% endblock %}
