{% extends "admin/base_site.html" %}
{% load i18n admin_modify staticfiles %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url '"admin" jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<style>
form{
    display: block;
    float: left;
    width: 65%;
}
#jobMatches{
    display: block;
    float: left;
    width: 33%;
    padding: 0 0 0 20px;
}
#jobMatches table{
    border: 1px solid #ddd;
}
</style>
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}
{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form>
<div id="jobMatches">
<h3>Jobs that will match this mapping:</h3>
<div>
<table style='width: 100%'><tbody>

</tbody></table>
</div>
</div>
<script>
(function($){
    $("document").ready(function(){            
        get_jobs($("#id_onet option:selected").val());
        buildJobSelector();
    });
    $("#id_onet").change(function(){            
        select_job_title();
    });
    buid_set = [{% for business_unit in original.businessunit_set.all %}
        {"title":"{{business_unit.title}}","buid":{{business_unit.id}}}{%if not forloop.last%},{%endif%}            
    {% endfor %}];
    function buildJobSelector(){
        row_template = $(".form-row.onet").clone();
        row_template.removeClass("onet");
        row_template.addClass("jobtitle");
        $(".form-row.onet").before(row_template);
        $(".form-row.jobtitle div label").html("Job Titles:");
        $(".form-row.jobtitle div label").attr("for","jobtitle");
        $(".form-row.jobtitle div label").attr("name","jobtitle:");
        $(".form-row.jobtitle div select").html("")
        $(".form-row.jobtitle div .help").html("Jobs currently on your microsite.")
        buildSelectOptions();
        $(".form-row.jobtitle div select").change(function(){
            select_onet();
        });        
    }
    function select_onet(){        
        the_onet = $(".form-row.jobtitle div select option:selected").val();
        if(the_onet==""){
            the_onet = $(".form-row.jobtitle div select option:eq(1)").val();
        }
        $("#id_onet option[value='"+the_onet+"']").attr('selected', 'selected')
        select_job_title();
    }
    function select_job_title(){
        the_onet = $(".form-row.onet div select option:selected").val();
        $(".form-row.jobtitle div select option[value='"+the_onet+"']").attr('selected', 'selected')
        get_jobs(the_onet);
    }
    function buildSelectOptions(){
        $(".form-row.jobtitle div select").append('<option value="">---</option>');
        for(b=0;b<buid_set.length;b++){
            the_url = "http://ec2-50-19-85-235.compute-1.amazonaws.com:8983/solr/select?";
            the_url += "q=company:"+buid_set[b].title;
            the_url += "&wt=json";
            ajax =  $.ajax({
                //url: "/feed/json?q="+str+"&location=",
                url: the_url,
                dataType:"jsonp",
                jsonp: 'json.wrf',
                success: function(result){
                    result = result.response.docs;                    
                    for(i=0;i<result.length;i++){
                        option = "<option value='"+result[i].onet+"'>("+result[i].company+") "+result[i].title+"</option>"
                        $(".form-row.jobtitle div select").append(option);                    
                    }                
                    select_job_title();
                }
            })
        }
    }
    
    function get_jobs(str){
        //alert(str);
        $("#jobMatches > div table tbody").html("<tr><td><img src="{{ STATIC_URL }}ui-anim_basic_16x16.gif"'/> Loading...</td></tr>");
        for(b=0;b<buid_set.length;b++){
            the_url = "http://ec2-50-19-85-235.compute-1.amazonaws.com:8983/solr/select?";
            the_url += "q=company:"+buid_set[b].title;
            the_url += "+onet:"+str+"&wt=json";
            ajax =  $.ajax({
                //url: "/feed/json?q="+str+"&location=",
                url: the_url,
                dataType:"jsonp",
                jsonp: 'json.wrf',
                success: updateMatchedJobs
            })
        }
    }
    function updateMatchedJobs(result){
        var return_str = "";
        if(result.length==0){
            return_str = "<tr><td><b><em>No matching jobs</em></b></td></tr?";
        }else{
            return_str = "";
            result = result.response.docs
            for (i=0;i<result.length;i++){
                if(i%2==0){
                    row="class='row1'";
                }else{
                    row="class='row2'";
                }
                return_str += "<tr "+row+"><td><a target='_blank' href='/";
                return_str += result[i].uid+"/jobs/'>";
                return_str += result[i].title+" ("+result[i].company+")</a></td></tr>";
            }
        }
        $("#jobMatches > div table tbody").html(return_str);
    }
})(django.jQuery);
</script>
</div>
{% endblock %}
