<div id="direct_disambiguationDiv">
    <div id="direct_searchCriteria" role="menu">
        <h3 id="direct_searchCriteriaHeader" style="float:left;">{% blocktrans %}Current Search Criteria{% endblocktrans %}</h3>
        <div style="clear:left;"></div>
        <ul id="direct_searchOptions">
            {% if site_config.browse_company_show %}
            <li>
                <a href="{{ job_detail_breadcrumbs.company.path }}" title="Remove {{ job_detail_breadcrumbs.company.display }}">
                    {{ job_detail_breadcrumbs.company.display|smart_truncate }}
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{{ job_detail_breadcrumbs.title.path }}" title="Remove {{ job_detail_breadcrumbs.title.display }}">
                    {{ job_detail_breadcrumbs.title.display|smart_truncate }}
                </a>
            </li>
            {# if job_detail_breadcrumbs.city.display #}
            <li>
                <a href="{{ job_detail_breadcrumbs.city.path }}" title="Remove {{ job_detail_breadcrumbs.city.display }}">
                    {{ job_detail_breadcrumbs.city.display|smart_truncate }}
                </a>
            </li>
            {# endif #}
            {% if job_detail_breadcrumbs.state %}
            {# job_detail_breadcrumbs.state won't exist for international listings, e.g. Beijing, China #}
            <li>
                <a href="{{ job_detail_breadcrumbs.state.path }}" title="Remove {{ job_detail_breadcrumbs.state.display }}">
                    {{ job_detail_breadcrumbs.state.display|smart_truncate }}
                </a>
            </li>
            {% endif %}
            {% if job_detail_breadcrumbs.q %}
            <li>
                <a href="{{ job_detail_breadcrumbs.q.path }}" title="Remove {{ job_detail_breadcrumbs.q.display }}">
                    {{ job_detail_breadcrumbs.q.display|smart_truncate }}
                </a>
            </li>
            {% endif %}
            {% if job_detail_breadcrumbs.moc %}
            <li>
                <a href="{{ job_detail_breadcrumbs.moc.path }}" title="Remove {{ job_detail_breadcrumbs.moc.display }}">
                    {{ job_detail_breadcrumbs.moc.display|smart_truncate }}
                </a>
            </li>
            {% endif %}

            <li><a href="/jobs/" title="Clear All">{% blocktrans %}Clear All{% endblocktrans %}</a></li>
        </ul>
    </div>
</div>