<div id="direct_jobListingTitle">
    <h3>
          <span class="direct_jobListingCompany" itemprop="hiringOrganization"
                itemscope itemtype="http://schema.org/Organization">
          <span itemprop="name">{{ requested_job.company}}</span>
          </span>
          <span class="direct_highlightedText">
            <span itemprop="title">{{ requested_job.title|cut:"?"|cut:"~" }}</span> in
            <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% if requested_job.city != None %}
                <span itemprop="addressLocality">{{ requested_job.city }}</span>
                {% endif %}
                {% if requested_job.state != None %}
                <span itemprop="addressRegion">{{ requested_job.state }}</span>
                {% endif %}
                <span itemprop="addressCountry">{{ requested_job.country }}</span>
              </span>
            </span>
          </span>
    </h3>
</div>