<div itemscope itemtype="http://schema.org/JobPosting" role="main">
    {% if site_commitments_string %}
        <meta itemprop="specialCommitments" content="{{ site_commitments_string }}" />
    {% endif %}
    <meta itemprop="employmentType" content="Paid Work" />

    <div id="direct_horzRule"></div>

    <div id="direct_listingDiv">
        <meta itemprop="datePosted" content="{{ requested_job.date_updated|date:'c'}}"/>
        <div id="direct_jobDescriptionText" itemprop="description">
            {% if requested_job.html_description %}
                {{ requested_job.html_description|safe|cut:"??"|cut:"~" }}
            {% else %}
                {{ requested_job.description|safe|linebreaks|cut:"??"|cut:"~" }}
            {% endif %}
            <meta name="de-buid" content="{{ requested_job.buid.id}}"/>
            <meta name="de-buid-associated-jobs" content="{{ requested_job.buid.associated_jobs}}"/>
            <meta name="de-buid-title" content="{{ requested_job.buid.title}}"/>
            <meta name="de-buid-date-crawled" content="{{ requested_job.buid.date_crawled|date:'c'}}"/>
            <meta name="de-buid-date-updated" content="{{ requested_job.buid.date_updated|date:'c'}}"/>
            <meta name="de-special-commits" content="{% for commitment in site_commitments.all %}{{commitment.commit}} {% endfor %}"/>
            <meta name="de-buid-title-slug" content="{{ requested_job.buid.title_slug}}"/>
        </div>

    </div>

</div>


<script>
    $(document).ready(function(){RetrieveExternalCampaignCookie();});
</script>

