{% load i18n %}

<div class="direct-login-form {{ block.bootstrap_classes }}" id="direct-login-form-{{ block.id }}">
    <form action="" method="post" id="direct-login-form">
        <fieldset>
            {{ login_form.as_ul }}
        </fieldset>
        {% csrf_token %}
    </form>
    <div class="actions">
        <button type="submit" class="btn pull-right" name="login" id="login">Login</button>
        <div class="clear"></div>
            <span class="pull-right pagination-right">
                <a href="{% url 'password_reset' %}">lost password</a>
            </span>
        <div class="clear"></div>
    </div>
</div>