{% if request.user.is_anonymous or not request.user.is_authenticated %}
    <form action="{{ login_action }}" method="post" id="direct-login-form">
        <h3>Sign In</h3>
        <fieldset>
            {{ login_form.as_ul }}
        </fieldset>
        {% csrf_token %}
        <div class="actions pull-right">
            <button type="submit" class="direct-login-btn btn" value="login" name="{{ login_submit_btn_name }}">Login</button>
            <div class="clear"></div>
            <span class="pull-right pagination-right">
                <a href="{% url 'password_reset' %}">lost password</a>
            </span>
            <div class="clear"></div>
        </div>
    </form>
{% else %}
    <div class="centered">
        {% if request.user.is_disabled %}
            <h2>{% trans "Your account is disabled." %} </h2>
            <p><a href="{% url 'resend_activation' %}">Send me an activation link to bring back my account!</a></p>
        {% else %}
            {% with short_email=request.user.email|truncatechars:"20" %}
            {% with name_obj=request.user.get_full_name %}
                <h3><small>Welcome</small> {% if not name_obj %}{{ short_email }}{% else %}<br/>{{ name_obj }}{% endif %}</h3>
            {% endwith %}
            {% endwith %}
        {% endif %}
        {% if not user.is_active %}
            <div class="alert-message info">
                <p>{% trans "Please activate it using the activation link sent to your email. "%} <a href="{% url 'resend_activation' %}">{% trans "Resend my activation email." %}</a></p>
            </div>
        {% endif %}
        <a class="btn direct-logout-btn" href="{% url 'auth_logout' %}">Log Out</a>
    </div>
{% endif %}
