{% if request.user.is_anonymous %}
    <form action="{{ registration_action }}" method="post" id="direct-registration-form">
        <h3>Sign Up</h3>
        <fieldset>
            {{ registration_form.as_ul }}
        </fieldset>
        {% csrf_token %}
        <div class="actions pull-right">
            <button type="submit" class="direct-registration-btn btn" name="{{ registration_submit_btn_name }}" id="registration">Create Account</button>
            <div class="clear"></div>
        </div>
    </form>
{% endif %}