{% load job_setup %}
{% load seo_extras %}
{% load i18n %}
<div class="direct-search-result-block {{ block.bootstrap_classes }}" id="direct-search-result-block-{{ block.id }}">
    <div id="direct_listingDiv" role="main">
        {% if not default_jobs and not featured_jobs and not request.is_ajax %}
            <ul id="featured_jobListing">
                <li class="direct_noJobs">
                <div id="no-results">
                    {% if location_term != "\*" or title_term != "\*" %}
                        {% blocktrans %} There are no jobs that match: {% endblocktrans %}<br>
                        <p id="no-results-search-terms">
                        {% if title_term != "\*" %}
                            <span class="no-results-term">{{ title_term }}</span><br>
                        {% endif %}
                        {% if location_term != "\*" and title_term = "\*" %}
                            <span class="no-results-term">{{ location_term }}</span><br>
                        {% elif location_term != "\*" %}
                            in<br>
                            <span class="no-results-term">{{ location_term }}</span><br>
                        {% endif %}
                    {% else %}
                        {% blocktrans %}No results found.{% endblocktrans %}
                        </p>
                    {% endif %}
                    <br>
                </div>
                {% if "network" in site_tags %}
                    {% blocktrans %} You can retry your search with a different
                    keyword or location. You can also save this search using the
                    form on the right, and we will email results when they become
                    available.{% endblocktrans %}
                {% else %}
                    {% blocktrans %} Please try again with a different
                    keyword or location. {% endblocktrans %}
                    {% endif %}
                </li>
            </ul>
        {% else %}
            {% arrange_jobs %}
            {% with fj_len=featured_jobs|length dj_len=default_jobs|length %}
                {% if fj_len|add:dj_len > site_config.num_job_items_to_show %}
                    <span id="direct_moreLessLinks_listingDiv" data-type={% if data_type %}"{{ data_type }}"{% else %}{% trans "listing" %}{% endif %} class="more_less_links_container" offset="{{site_config.num_job_items_to_show|multiply_value:2}}" data-num-items="{{site_config.num_job_items_to_show}}">
                        <a id="button_moreJobs" href="#" rel="nofollow">More</a>
                    </span>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
</div>