{% if arranged_jobs %}
    <div id="direct_listingDiv" role="main">
        {% for job_list in arranged_jobs %}
            {% with featured=job_list.class|slice:":19"|compare:'featured_jobListing' %}
                <ul class="{{ job_list.class }}" {% if not job_list.jobs %}style="display: none;"{% endif %}>
                    {% if featured %}<li class = "featured_jobs_note">Featured Jobs</li>{% endif %}
                    {% for job in job_list.jobs %}
                    <li class="direct_joblisting{% if 'network' in site_tags and job.company_enhanced %} enhanced_job{% endif %}{% if job.highlighted %} with_description{% endif %}" itemscope itemtype="http://schema.org/JobPosting">
                        {% if "network" in site_tags and job.company_enhanced %}<div class="enhanced_favicon"style="background-image:url('//d2e48ltfsb5exy.cloudfront.net/favicons/{{ job.company_slab|to_slug }}.ico');"></div>{% endif %}
                        <h4 itemprop="title" {% if featured %}style="background-image:url('//d2e48ltfsb5exy.cloudfront.net/favicons/{{ job.company_slab|to_slug }}.ico');"{% endif %}><a href="{{ job|joblist_url }}"><span class="resultHeader">{{ job.title|cut:"?"|cut:"~" }}</span></a></h4>
                        {% if job.country_short|lower == "usa" and site_commitments_string%}<meta itemprop="specialCommitments" content="{{site_commitments_string}}" />{% endif %}
                        <div class="direct_joblocation">
                            {% if show_co_names %}
                                <span  class="hiringOrganization" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
                                    <b itemprop="name">{{ job.company }}</b>
                                </span>
                                <span class="listingHyphen">-</span>
                            {% endif %}
                            <span class="hiringPlace" itemscope itemtype="http://schema.org/Place">
                                <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    {% if job.state_short %}
                                        {% if job.city %}<span itemprop="addressLocality">{{ job.city }}</span>, {% endif %}<span itemprop="addressRegion">{{ job.state_short }}</span>
                                    {% else %}
                                        {% if job.city %}
                                            <span itemprop="addressLocality">{{ job.city }}</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if job.country_short|lower == "usa" and job.state_short %}
                                        <meta itemprop="addressCountry" content="{{ job.country }}" />
                                    {% else %}
                                        <span itemprop="addressCountry">{{ job.country }}</span>
                                    {% endif %}
                                </span>
                            </span>
                        </div>
                        {% if query_string %}
                            {% if location_term or title_term or moc_term %}
                                <div class="directseo_jobsnippet" itemprop="description">
                                    {% highlight job.text with title_term html_tag "b" max_length 200 %}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if "network" in site_tags and job.company_enhanced and job.company_canonical_microsite != None %}
                            <div class="enhanced_job_canonical_microsite">
                                <a href="{{ job.company_canonical_microsite }}">{{ job.company_canonical_microsite|cut:"http://"|cut:"/" }}</a>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endwith %}
        {% endfor %}
    </div>
{% else %}
    <script type="text/javascript">
        $('#button_moreJobs').hide()
    </script>
{% endif %}