{% for widget in widgets %}
    {% if widget.show_widget %}
        <h3>
            <span class="direct_filterLabel">Filter By</span>
            <span class="direct_highlightedText">{{ widget.get_title }}</span>
        </h3>
        <ul role="menu" id="direct_{{ widget.selector_type }}Disambig">
            {% for item in widget.shown_items %}
                <li role="menuitem"><a href="{{ item.url }}">{{ item.name }}{% if item.count %} ({{ item.count }}){% endif %}</a></li>
            {% endfor %}
            {% for item in widget.hidden_items %}
                <li role="menuitem" class="direct_hiddenOption"><a href="{{ item.url }}">{{ item.name }}{% if item.count %} ({{ item.count }}){% endif %}</a></li>
            {% endfor %}
        </ul>
        {% if widget.hidden_items %}
        <span id="direct_moreLessLinks_{{ widget.selector_type }}Disambig" data-type="{{ widget.selector_type }}" class="more_less_links_container" data-num-items="{{ widget.num_to_show }}" data-total-items="{{ widget.shown_items|add:widget.hidden_items|length }}" data-offset="{{ widget.offset }}">
                <a class="direct_optionsMore" href="#" rel="nofollow">More</a>
                <a class="direct_optionsLess" href="#" rel="nofollow">Less</a>
            </span>
        {% endif %}
    {% endif %}
{% endfor %}