<div id="direct_shareDiv" class="direct_rightColBox direct_shareSolo" role="menu">
    <h3>{% trans "Share" %}</h3>
    <!-- AddThis Button BEGIN -->
    <div id="addThis" class="addthis_toolbox addthis_32x32_style addthis_default_style" att="pad">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_linkedin"></a>
        <a class="addthis_button_google_plusone" g:plusone:href="{{ request.build_absolute_uri }}" g:plusone:count="false" g:plusone:expandTo="left"></a>
        <a class="addthis_button_email"></a>
        <a class="addthis_button_compact"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=jobsdotjobs"></script>
    <!-- AddThis Button END -->
</div>
