{% for message in messages %}
    <tr id="message-{{ message.message.pk }}"{% if message.read %} class="read"{% endif %}>
        <td>
            <span class="circle {{ message.message.message_type }}" title="{{ message.message.display_type }}"></span>
        </td>
        <td>{{ message.message.start_on.date }}</td>
        <td>
            {{ message.message.subject }}
            <div id="message-{{ message.message.pk }}-full" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-header">
                    <h3>{{ message.message.subject }}</h3>
                </div>
                <div class="modal-body">
                    {{ message.message.body|safe }}
                </div>
                <div class="modal-footer">
                    <div class="actions">
                        <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    </div>
                </div>
            </div>
        </td>
        <td>
            {% if not message.read %}
                <a class="btn mymessage-read-{{ message.message.id }}-{{ user.id }}">Mark Read</a>
            {% endif %}
            <a class="btn mymessage-delete-{{ message.message.id }}-{{ user.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
