<p>
    The new OFCCP regulations that went into effect March 24, 2014 for VEVRAA

    and Section 503 require federal contractors to build meaningful

    relationships with diversity, disability, veteran, female and other

    minority organizations. This also means recording communications and

    exchanges with those partners and demonstrating outreach effectiveness.
</p>
<p>
    DirectEmployers Association designed a new tool to help companies

    streamline this process by providing a single location to enter, access and

    store this data, regardless of their device or location. This new

    Member-driven benefit, Partner Relationship Manager (PRM), is included with

    DirectEmployers Membership at no-additional cost. PRM empowers employers to:
</p>
<ul>
    <li>Track outreach efforts with local partners</li>
    <li>Share jobs with relevant partners</li>
    <li>Record notes on all partner interactions</li>
    <li>Utilize source code tracking to measure specific partner outreach efforts</li>
    <li>Pull reports that demonstrate outreach efforts and effectiveness</li>
</ul>
<p>To learn more, contact DirectEmployers at 866-268-6206.</p>