{% extends 'base.html' %}
{% block content %}
<style>
td:last-child {
    text-align: right;
}
tr>*:first-child {
    padding-left: 5px;
}
tr>*:last-child {
    padding-right: 5px;
}
</style>
    <div id="inbox" class="span8 offset2">
        {% if messages %}
            <table class="table" style="width: 100%; table-layout: fixed; border: 1px solid black;">
                <tr><th>Date</th><th>Message</th><th>{# actions #}</th></tr>
                {% for message in messages %}
                    <tr>
                        <td>{{ message.start_on }}</td>
                        <td>
                            <span class="circle {{ message.message_type }}" title="{{ message.display_type }}"></span>
                            {{ message.subject }}
                        </td>
                        <td><a>mark read</a><a>delete</a></td>
                    </tr>
                    {% comment %}
                    <div class="{{ message.message_type }}">
                        <div class="message-subject {{ message.message_type }}">
                            {{ message.subject }}
                        </div>
                        <div class="message-body {{ message.message_type }}">
                            {{ message.body|safe }}
                        </div>
                    </div>
                    {% endcomment %}
                {% endfor %}
            </table>
        {% else %}
            <p>No messages</p>
        {% endif %}
    </div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript">
        $(document).ready(function() {
            accordion('.message-subject', '.message-body');
        });
    </script>
{% endblock %}