{% extends "admin/base_site.html" %}
{% load i18n admin_modify staticfiles %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="../../../jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jscolor/jscolor.js"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
<style type="text/css">
.hiddenFieldset, .dynamic-Configuration_styleSheets.last-related fieldset, #Configuration_styleSheets-0 fieldset div.form-row.backgroundColor, .dynamic-Configuration_styleSheets fieldset div.form-row.useCssBody, #Configuration_styleSheets-0 fieldset{
  display:block;
}

#Configuration_styleSheets-0 .hiddenFieldset, .form-row.useCssBody, div.dynamic-Configuration_styleSheets fieldset .form-row.backgroundColor, #Configuration_styleSheets-0 fieldset .form-row.useCssBody, .dynamic-Configuration_styleSheets fieldset {
  display:none;
}
</style>
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
{% comment %}
   {% include "admin/includes/fieldset.html" %}
{% endcomment %}

   {% include "admin/seo/configuration/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include "admin/seo/configuration/edit_inline/stacked.html" %}
{% endfor %}
<script type="text/javascript" src="{{ STATIC_URL }}group_perm.js"></script>
<script type"text/javascript">
(function($) {
    $(document).ready(function(){
    	// this configObj varies for the type of admin site GroupPermission is being used for
    	// currently all models but MicrositeCarousel have a single site box, but MicrositeCarousel
    	// has both a "linked_sites" and "active_sites" field, so it is only admin site with
    	// a different configObj.
    	configObj = {
			sites_container: "div.sites div div.selector",
			sites_to_selector: "#id_sites_to",
			sites_from_selector: "#id_sites_from",
			addCacheToKeys: ["id_sites_to"],
			addCacheFromKeys: ["id_sites_from"],
			siteTypes: ['sites'],
			originalData: {group: $('#id_group').val(), sites: $('#id_sites').val()}
    	}
		GroupPermission.init(configObj);
	{% include "includes/group_perm_handler.js" %}
    });
})(django.jQuery);
</script>

{% block after_related_objects %}{% endblock %}

{% comment %}{% submit_row %}{% endcomment %}
<div class="submit-row">
<input id="btnSubmit" type="submit" name="_save" class="default" value="Save">
<p class="deletelink-box"><a class="deletelink" href="delete/">Delete</a></p>

<input type="submit" name="_addanother" value="Save and add another">
<input type="submit" name="_continue" value="Save and continue editing">
</div>

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}
</div>
</form></div>
{% endblock %}
