<div id="posting-nav">
    <ul id="ul-posting-nav">
        <li id="product-listing"><a href="{% url 'product_listing' %}">Product Listing</a></li>
        <li id="our-postings"><a href="{% url 'jobs_overview' %}">Posted Jobs</a></li>
        <li id="purchased-products"><a href="{% url 'purchasedproducts_overview' %}">Purchased Jobs</a></li>
        <li id="posting-admin"><a href="{% url 'purchasedmicrosite_admin_overview' %}">Partner Microsite</a></li>
    </ul>
    <div class="clearfix"></div>
</div>