{% extends "seo_base.html" %}

{% block directseo_title %}{% endblock %}

{% block directseo_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/style/posting-style.css?version={{site_config.id}}-{{site_config.revision}}">
{% endblock directseo_css %}

{% block directseo_searchbox %}{% endblock %}

{% block directseo_main_content %}
{% include "postajob/dseo/dseo_navigation.html" %}
{% endblock %}

{% block directseo_off_site_links %}{% endblock %}
{% block directseo_micrositecarousel %}{% endblock %}

{% block extra-js %}{% endblock extra-js %}