{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load postajob_tags %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
    <div class="card-wrapper">
        <div class="wrapper-header">
            <h2>Jobs</h2>
        </div>
        {% include "postajob/includes/job_rows.html" %}
    </div>
</div>
<div class="direct_rightColBox">
    <div class="navigation">
        <h2 class="top">Navigation</h2>
        <a class="btn" href="{% url 'job_add' %}">Post a New Job</a>
    </div>
</div>
<div class="clearfix"></div>
{% endblock directseo_main_content %}