{% extends "postajob/dseo/dseo_posting_base.html" %}

{% block directseo_main_content %}
{{ block.super }}
<div id="posting-grouping-list ">
    {% if product_groupings|length %}
        {% for grouping in product_groupings %}
            <div id="products-{{ grouping.pk }}" class="product-grouping">
                <div class="heading">{{ grouping.display_title }}</div>
                <div class="group-description">{{ grouping.explanation }}</div>
                <div class="product-listing">
                    <ul>
                        {% for product in grouping.products.all %}
                            <li id="product-{{ grouping.pk }}-{{ product.pk }}">
                                <a href="{% url 'purchasedproduct_add' product.pk %}">{{ product }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no products configured for purchase.</p>
    {% endif %}
</div>
<div class="clearfix"></div>
{% endblock directseo_main_content %}