{% extends "postajob/dseo/dseo_posting_base.html" %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
    {% include "postajob/includes/productgroup_formBox.html" with wrapper_title="Groupings" order=True %}
</div>
<div class="direct_rightColBox">
    {% include "postajob/includes/postajob_navigation.html" with primary_btn=True url_name="add" btn_name="Add Grouping" %}
</div>
<div class="clearfix"></div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript" src="{{ STATIC_URL }}postajob-reorder.158-18.js"></script>
{% endblock extra-js %}