{% extends "postajob/dseo/dseo_posting_base.html" %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
    {% include "postajob/includes/purchasedproduct_purchasedjob_admin_formBox.html" with wrapper_title="Active Products" purchased_products=active_products %}
</div>
<div class="direct_rightColBox">
    {% include "postajob/includes/postajob_navigation.html" %}
</div>
<div class="clearfix"></div>
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
    $(".card-tabs li").on("click", function() {
        $(".card-tabs li").removeClass("active");
        $(this).addClass("active");
        var clicked = $(this).attr("id").split("-")[0];
        $(".card-wrapper").css("display", "none");
        $("div[id*='"+clicked+"-']").css("display", "block");
    });
</script>
{% endblock %}