{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load postajob_tags %}

{% block directseo_main_content %}
{{ block.super }}
    <div id="direct_listingDiv">
        <div class="card-tabs">
            <ul>
                <li id="active-tab-jobs" class="active">Active Jobs{% if active_jobs %}<span class="amount">{{active_jobs|length}}</span>{% endif %}</li>
                <li id="expired-tab-jobs">Expired Jobs{% if expired_jobs %}<span class="amount">{{expired_jobs|length}}</span>{% endif %}</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div id="active-jobs" class="card-wrapper">
            {% for job in active_jobs %}
                <div class="product-card">
                    <div class="big-title">
                        {{ job.title }}
                    </div>
                    <div class="product-details">
                        {% if job.reqid %}Requisition ID: <b>{{ job.reqid }}</b>{% else %}No job requisition ID{% endif %}
                    </div>
                    <div class="product-details">
                        Expires: <b>{{ job.date_expired }}</b>
                    </div>
                    {% get_content_type job as content_type %}
                    <a class="btn" href="{% url 'admin_view_job' purchased_product=purchased_product.pk pk=job.pk %}">View</a>
                </div>
            {% empty %}
                <div class="product-card">
                    You currently have no jobs for <b>{{ purchased_product.product }}</b>.
                </div>
            {% endfor %}
            <div class="wrapper-footer">
                <a class="pull-right" href="{% url 'admin_view_invoice' purchased_product=purchased_product.pk %}">View Product Invoice</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="expired-jobs" class="card-wrapper" style="display: none;">
            {% for job in expired_jobs %}
            <div class="product-card">
                <div class="big-title">
                    {{ job.title }}
                </div>
                <div class="product-details">
                    {% if job.reqid %}Requisition ID: <b>{{ job.reqid }}</b>{% else %}No job requisition ID{% endif %}
                </div>
                <div class="product-details">
                    Expires: <b>{{ job.date_expired }}</b>
                </div>
                {% get_content_type job as content_type %}
                <a class="btn" href="{% url 'admin_view_job' purchased_product=purchased_product.pk pk=job.pk %}">View</a>
            </div>
            {% empty %}
            <div class="product-card">
                You currently have no jobs for <b>{{ purchased_product.product }}</b>.
            </div>
            {% endfor %}
            <div class="wrapper-footer">
                <a class="pull-right" href="{% url 'admin_view_invoice' purchased_product=purchased_product.pk %}">View Product Invoice</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="direct_rightColBox">
        <h3>Product Details</h3>
        <label>Job Limit:</label>
        {% with is_expired=purchased_product.is_expired num_jobs_allowed=purchased_product.num_jobs_allowed %}
        <b>
            {% if not is_expired %}
                {% if num_jobs_allowed == 0 %}
                    Unlimited
                {%else%}
                    {{ num_jobs_allowed }} ({{purchased_product.jobs_remaining}} left)
                {%endif%}
            {% else %}
                This product has expired.
            {% endif %}
        </b>
        <br /><label>Purchase Date:</label>
        <b>{{ purchased_product.purchase_date }}</b>
        <br/><label>Expire{%if is_expired %}d{%else%}s{%endif%}:</label>
        <b>{{ purchased_product.expiration_date }}</b>
        {% endwith %}
    </div>
<div class="clearfix"></div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{{ STATIC_URL }}postajob-tabs.160-13.js"></script>
{% endblock %}