{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load postajob_tags %}

{% block directseo_main_content %}
{{ block.super }}
    <div id="direct_listingDiv">
        {% if jobs %}
        {% for job in jobs %}
        <div class="product-card">
            <div class="big-title">
                {{ job.title }}
            </div>
            <div class="product-details">
                {% if job.reqid %}Requisition ID: <b>{{ job.reqid }}</b>{% else %}No job requisition ID{% endif %}
            </div>
            <div class="product-details">
                Expires: <b>{{ job.date_expired }}</b>
            </div>
            {% get_content_type job as content_type %}
            <a class="btn" href="{% url 'view_job' purchased_product=purchased_product.pk pk=job.pk %}">View</a>
        </div>
        {% endfor %}
        {% else %}
        <div class="product-card">
            You currently have no jobs for <b>{{ purchased_product.product }}</b>.
        </div>
        {% endif %}
    </div>
    <div class="direct_rightColBox">
        <h3>Product Details</h3>
        <label>Job Limit:</label>
        <b>{% if purchased_product.num_jobs_allowed == 0 %}Unlimited{%else%}{{ purchased_product.num_jobs_allowed }} ({{purchased_product.jobs_remaining}} left){%endif%}</b>
        <br /><label>Purchase Date:</label>
        <b>{{ purchased_product.purchase_date }}</b>
        <br/><label>Expires:</label>
        <b>{{ purchased_product.expiration_date }}</b>
        <br />
        <div class="navigation">
            {% get_purchasedjob_add_link %}
        </div>
    </div>
<div class="clearfix"></div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modalmanager.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/bootstrap-modal.js"></script>
{% endblock %}