{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load postajob_tags %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
    <table id="job-table">
        <tr id="job-title">
            <td>Title:</td>
            <td>{{ job.title }}</td>
        </tr>
        <tr id="job-reqid">
            <td>Requisition ID:</td>
            <td>{% if job.reqid %}{{ job.reqid }}{% else %}No Requisition ID{% endif %}</td>
        </tr>
        <tr id="job-description">
            <td>Description:</td>
            <td>{{ job.description }}</td>
        </tr>
        <tr id="job-expires">
            {% if job.is_expired %}
            <td>Expired:</td>
            <td>{{ job.date_expired }}</td>
            {% else %}
            <td>Expires:</td>
            <td>{{ job.date_expired }}</td>
            {% endif %}
        </tr>
        {% if object.apply_link %}
        <tr id="job-apply">
            <td>Application Link:</td>
            <td>{{ job.apply_link }}</td>
        </tr>
        {% else %}
        <tr id="job-apply">
            <td>Application Instructions:</td>
            <td>{{ job.apply_info }}</td>
        </tr>
        {% endif %}
        <tr id="job-links">
            <td>Job Links:</td>
            <td>{% get_job_links job=job %}</td>
        </tr>
    </table>
</div>
<div class="direct_rightColBox">
    <h3 class="top">
        Tips
    </h3>
    Job links may take up to 30 minutes to appear after they are approved.
    <h3>
        Product Details
    </h3>
    <label>Job Limit:</label>
    <b>{% if purchased_product.num_jobs_allowed == 0 %}Unlimited{%else%}{{ purchased_product.num_jobs_allowed }} ({{purchased_product.jobs_remaining}} left){%endif%}</b>
    <br /><label>Purchase Date:</label>
    <b>{{ purchased_product.purchase_date }}</b>
    <br/><label>Expires:</label>
    <b>{{ purchased_product.expiration_date }}</b>
    <br />
    {% if not admin %}
    <div class="navigation">
        <h3>Navigation</h3>
        <br/>
        <a class="btn" href="{% url 'purchasedjob_update' pk=job.pk %}">Edit</a>
    </div>
    {% endif %}
</div>
<div class="clearfix"></div>
{% endblock %}
