{% extends "postajob/dseo/dseo_posting_base.html" %}
{% load postajob_tags %}

{% block directseo_main_content %}
{{ block.super }}
<div id="direct_listingDiv">
    {% if alert %}
        <div class="alert alert-success">
            {{ alert_message|safe }}
        </div>
    {% endif %}
    <div id="invoice">
        {% include "postajob/invoice_email.html" %}
    </div>
</div>
<div class="direct_rightColBox">
    <h3>Product Details</h3>
    <label>Job Limit:</label>
    <b>{% if purchased_product.num_jobs_allowed == 0 %}Unlimited{%else%}{{ purchased_product.num_jobs_allowed }} ({{purchased_product.jobs_remaining}} left){%endif%}</b>
    <br /><label>Purchase Date:</label>
    <b>{{ purchased_product.purchase_date }}</b>
    <br/><label>Expires:</label>
    <b>{{ purchased_product.expiration_date }}</b>
    <br />
    <div class="navigation">
        <h3>Navigation</h3>
        <a class="btn" href="{% url 'resend_invoice' pk=purchased_product.pk %}">Send Me This Invoice</a>
        <a class="btn"
           onclick="var new_window = window.open();
                    new_window.document.write(document.getElementById('invoice').innerHTML);
                    new_window.print();">
            Print Invoice
        </a>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}