{% load widget_tweaks %}
{% load form_tags %}
{% load selection_boxes %}

{% is_boolean_field field as is_boolean %}

{% if field.errors %}
    <span class="required">
    <div class="error-box">
        {% for error in field.errors %}
        <div class="span3 form-label pull-left initial form-spacer"></div>
        <div class="error-text">{{ error }}</div>
        {% endfor %}
    </div>
{% endif %}

{% if 'country_code' in field.html_name %}
    <div class="profile-form-input {{ field.label|slugify }}-field">
        {% with "id_"|add:form.prefix|add:"-country_sub_division_code" as region_id %}
            {% country_select selected=field|default_country html_id=field.id_for_label  region_html_id=region_id input_name=field.html_name %}
        {% endwith %}
    </div>
{% else %}
    <div class="span3 form-label pull-left {% if is_boolean %}checkbox-label{% else %}initial{% endif %} {{ field.label|slugify }}-label">
        {% add_required_label field %}
    </div>
    <div class="profile-form-input {{ field.label|slugify }}-field">
        {% if field.label == 'Send Results to *' %}
            <select id="id_email" name="email" style="display: inline-block;">
            {% for email, contact in form.fields.email.choices %}
                <option value={{ email }} {% if contact.user and not contact.user.opt_in_myjobs %}disabled title="This contact has opted out of My.jobs communications"{% endif %}>{{ contact.name|default:"----------" }}</option>
            {% endfor %}
            </select>
        {% else %}
            {{ field }}
        {% endif %}
        {% if field.help_text %}
            {% if field|is_checkbox_field %}
                <br/><span class="help-block checkbox-help-block">{{ field.help_text|safe }}</span>
            {% else %}
                <span class="help-block">{{ field.help_text|safe }}</span>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

{% if field.errors %}
    </span>
{% endif %}

<div class="clear"></div>

{% if field.html_name == "gravatar" %}
    <div class="form-label pull-left">
        {{ gravatar_100 }}
    </div>
    <div class="clear"></div>
{% endif %}
