{% load seo_extras %}
{% load i18n %}

{% if site_config.browse_moc_show %}
<h3>{% trans "Filter by " %}<span class="direct_highlightedText">{{site_config.browse_moc_text}}</span></h3>
<ul id="direct_mocDisambig">
    {% disambig_include "moc" %}
</ul>
{% if distinct_mocs|length > site_config.num_filter_items_to_show %}
<span id="direct_moreLessLinks_mocDisambig" type="moc" class="more_less_links_container">
    {% include "includes/more_less_links.html" with num_show=site_config.num_filter_items_to_show %}
</span>
{% endif %}
{% endif %}

{% if distinct_facets %}
<h3>{% trans "Filter by " %}<span class="direct_highlightedText">{{site_config.browse_facet_text}}</span></h3>
<ul id="direct_facetDisambig">
    {% disambig_include 'facet'%}
</ul>
{% if distinct_facets|length > site_config.num_filter_items_to_show %}
<span id="direct_moreLessLinks_facetDisambig" type="facet" class="more_less_links_container">
    {% include "includes/more_less_links.html" with num_show=site_config.num_filter_items_to_show %}
</span>
{% endif %}
{% endif %}

{% if distinct_countries|length > 1 %}
<h3>{% trans "Filter by " %}<span class="direct_highlightedText">{% trans "Country" %}</span></h3>
<ul id="direct_countryDisambig">
    {% disambig_include "country" %}
</ul>
{% if distinct_countries|length > site_config.num_filter_items_to_show %}
<span id="direct_moreLessLinks_countryDisambig" type="country" class="more_less_links_container">
    {% include "includes/more_less_links.html" with num_show=site_config.num_filter_items_to_show %}
</span>
{% endif %}
{% endif %}

{% if distinct_states|length > 1 %}
<h3>{% trans "Filter by " %}<span class="direct_highlightedText">{% trans "State" %}</span></h3>
<ul id="direct_stateDisambig">
    {% disambig_include "state" %}
</ul>
{% if distinct_states|length > site_config.num_filter_items_to_show %}
<span id="direct_moreLessLinks_stateDisambig" type="state" class="more_less_links_container">
    {% include "includes/more_less_links.html" %}
</span>
{% endif %}
{% endif %}

{% if distinct_cities|length > 1 %}
<h3>{% trans "Filter by " %}<span class="direct_highlightedText">{% trans "City" %}</span></h3>
<ul id="direct_cityDisambig">
    {% disambig_include "city" %}
</ul>
{% if distinct_cities|length > site_config.num_filter_items_to_show %}
<span id="direct_moreLessLinks_cityDisambig" type="city" class="more_less_links_container">
    {% include "includes/more_less_links.html" %}
</span>
{% endif %}
{% endif %}

{% if distinct_titles|length > 1 %}
<h3>{% trans "Filter by " %}<span class="direct_highlightedText">{% "Job Title" %}</span></h3>
<ul id="direct_titleDisambig">
    {% disambig_include "title" %}
</ul>
{% if distinct_titles|length > site_config.num_filter_items_to_show %}
<span id="direct_moreLessLinks_titleDisambig" type="title" class="more_less_links_container">
    {% include "includes/more_less_links.html" %}
</span>
{% endif %}
{% endif %}
