{% comment %}
form-error-highlight.html -- simple loop for displaying forms/modelforms.

Uses the following default django template tags:
    hidden -- built in for all hidden form fields.
    form -- the rest of the form.
{% endcomment %}

<fieldset>
    {# Include but don't display hidden fields #}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        {% include 'includes/error-highlight.html' %}
    {% endfor %}
</fieldset>
