{# Error message used for when a user hasn't clicked the activation link #}
<div class="row">
    <div class="offset1 span10">
        <div class="row">
            <div class="message-box hero-unit">
                <img class="mobile-img" src="/files/images/caution-badge.png">
                <p>
                    This feature is unavailable because you have yet to activate your account.
                </p>
                <a class="btn mobile-btn pull-right" href="/accounts/register/resend/">Resend Activation</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


