{% load i18n %}
{% load common_tags %}
{% comment %}
meta.html -- default page metadata 
{% endcomment %}
<meta name="description" content="{{ description }}">
<meta name="author" content="DirectEmployers Foundation">
<meta name="keywords" content="{{ keywords }}">
<meta http-equiv="X-UA-Compatible" content="IE=9" >
<meta name="viewport" content="width=device-width"/>
<script src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/secure/js/def.ui.core.js"></script>
<script src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/secure/js/def.ui.bootstrap.alerts.js"></script>
<script src="{{ STATIC_URL }}underscore-min.js"></script>
<script src="{{ STATIC_URL }}backbone-min.js"></script>
<script src="{{ STATIC_URL }}my.jobs.js{% cache_buster %}"></script>
<script src="{{ STATIC_URL }}jquery.placeholder.js"></script>
