{% load i18n %}
{% load common_tags %}
<link href="{{ STATIC_URL }}topbar.153-19.css" rel="stylesheet" type="text/css">
<div class="topbar" data-dropdown="dropdown" role="menubar">
    <div class="topbar-inner">
        <div id="de-topbar-content" class="wrapper" {% if from_ajax %}style="margin:0 auto; width:960px; display:block;"{% endif %}>
            <div id="logo-block" class="de-topbar-item">
                <a id="anchor-logo" href="http://www.my.jobs/">
                    <h3 id="topbar-logo">My.jobs</h3>
                </a>
            </div>

            {% get_ms_name as microsite_name %}
            {% if microsite_name != None %}
            <div id="last-microsite" class="de-topbar-item">
                <a href="{% get_ms_url %}">
                    <span id="last-microsite-name">
                        {{ microsite_name }}
                    </span>
                    <span class="arrow pull-left"></span>
                </a>
            </div>
            {% endif %}

            <div class="menu-container" role="menu">
                {% if user.is_authenticated %}
                <ul class="mobile_hide">
                    {% is_a_group_member user "Employer" as group_member %}
                    {% get_company_name user as company_name %}
                    {% get_company_from_cookie as company %}
                    {% if group_member %}
                    <li class="{% active_tab 'employer-tools' %} has-drop">
                        <a>{% trans "Employers" %}</a>
                        <ul id="employer-apps" class="submenu">
                            {% if company.prm_access %}
                                <li><a id="candidate-tab" href="{{ ABSOLUTE_URL }}candidates/view?company={{ company.id }}">{% trans "Candidates" %}</a></li>
                                <li><a id="partner-tab" href="{{ ABSOLUTE_URL }}prm/view?company={{ company.id }}">{% trans "PRM" %}</a></li>
                            {% endif %}
                            {% if company.product_access %}
                                <li><a id="purchasedmicrosite-tab" href="{% url 'purchasedmicrosite_admin_overview' %}">{% trans "Partner Microsite" %}</a></li>
                            {% endif %}
                            {% if company.has_purchased_products %}
                                <li><a id="purchasedproducts-tab" href="{% url 'purchasedjobs_overview' %}">{% trans "Purchased Products" %}</a></li>
                            {% endif %}
                            {% if company.posting_access %}
                                <li><a id="posted-jobs-tab" href="{% url 'jobs_overview' %}">{% trans "Posted Jobs" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    <li class="has-drop">
                        <a onclick="return false;">{{ user.email }}</a>
                        <ul class="submenu">
                            <li><a href="{{ ABSOLUTE_URL }}profile/view/">{% trans "My Resume" %}</a></li>
                            <li><a href="{{ ABSOLUTE_URL }}saved-search/view/">{% trans "My Saved Searches" %}</a></li>
                            <li><a href="{{ ABSOLUTE_URL }}account/edit">{% trans "Account Settings" %}</a></li>
                            <li><a href="{% get_ms_url %}">{% trans "Search Jobs" %}</a></li>
                            <li><a href="{{ ABSOLUTE_URL }}accounts/logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>

                <a id="topbar-back" class="desktop_hide" href="#" onclick="javascript:window.history.back(-1);return false;"><span id="prm-arrow-left"></span></a>
                <div id="" class="menu-bar desktop_hide" style="text-align: right;">
                    <ul id="nav">
                        <li>
                            <a class="main-nav"></a>
                            <ul class="span4" id="pop-menu">
                                <li id="logged-in-li">
                                    {% trans "Logged in as " %}
                                    <b>

                                        {% with short_email=user.email|truncatechars:"20" %}

                                        {% with name_obj=user.get_full_name %}

                                        {% if not name_obj %}

                                        {{ short_email }}

                                        {% else %}

                                        {{ name_obj }}

                                        {% endif %}

                                        {% endwith %}

                                        {% endwith %}

                                    </b>
                                </li>
                                <li id="back-btn-li" class="no-show"><a id="back-btn"><span class="arrow-left"></span></a></li>

                                {% if not user.is_disabled %}
                                    <li><a id="profile-link" class="no-show seeker-menu" href="{{ ABSOLUTE_URL }}profile/view/">{% trans "My Resume" %}</a></li>

                                    {% if user.is_active %}

                                        <li><a id="savedsearch-link" class="no-show seeker-menu" href="{{ ABSOLUTE_URL }}saved-search/view/">{% trans "My Saved Searches" %}</a></li>

                                        {% if company.prm_access  %}

                                            <li><a id="employer-tools" class="no-show desktop_hide" style="cursor: pointer;">{% trans "Employer" %}</a></li>

                                            <li><a id="candidate-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}candidates/view?company={{ company.id }}">{% trans "Candidates" %}</a></li>

                                            <li><a id="partner-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}prm/view?company={{ company.id }}">{% trans "PRM" %}</a></li>

                                        {% endif %}
                                        {% if company.product_access %}
                                            <li><a id="purchased-microsite-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}{% url 'purchasedmicrosite_admin_overview' %}">{% trans "Partner Microsite" %}</a></li>
                                        {% endif %}
                                        {% if company.has_purchased_products %}
                                            <li><a id="purchasedproducts-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL}}{% url 'purchasedproduct' %}">{% trans "Purchased Products" %}</a></li>
                                        {% endif %}
                                        {% if company.posting_access %}
                                            <li><a id="purchased-microsite-link" class="no-show sub-nav-item employer-menu" href="{{ ABSOLUTE_URL }}{% url 'jobs_overview' %}">{% trans "Posted Jobz" %}</a></li>
                                        {% endif %}
                                    {% endif %}
                                    <li><a id="account-link" href="{{ ABSOLUTE_URL }}account/edit">{% trans "Account Settings" %}</a></li>
                                    <li><a id="search-jobs" href="{% get_ms_url %}">{% trans "Search Jobs" %}</a></li>
                                    <li><a id="settings-link" style="cursor: pointer;">{% trans "Settings" %}</a></li>

                                {% endif %}

                                <li><a id="logout-link" href="https://secure.my.jobs/accounts/logout/">Log Out</a></li>

                                <li><a class="settings-nav-item sub-nav-item no-show" href="{{ ABSOLUTE_URL }}account/edit">{% trans "Account Settings" %}</a></li>
                                <li><a class="settings-nav-item sub-nav-item no-show" href="{{ ABSOLUTE_URL }}accounts/logout">Log Out</a></li>
                            </ul>{# /pop-menu #}
                        </li>
                    </ul>{# /nav #}
                </div>{# /menu-bar pagination-right pull-right #}
                {% else %}
                    {# MOBILE VIEW #}
                    <ul class="mobile_hide">
                        <li><a href="http://www.my.jobs/employers/">{% trans "Employers / Post Jobs" %}</a></li>
                        <li><a href="{{ ABSOLUTE_URL }}">{% trans "Post Resume" %}</a></li>
                        <li><a href="{{ ABSOLUTE_URL }}">{% trans 'Login' %}</a></li>
                    </ul>
                    <a id="topbar-back" class="desktop_hide" href="#" onclick="javascript:window.history.back(-1);return false;"><span id="prm-arrow-left"></span></a>
                    <div id="" class="menu-bar desktop_hide" style="text-align: right;">
                        <ul id="nav">
                            <li>
                                <a class="main-nav"></a>
                                <ul id="pop-menu">
                                    <li><a id="demo-link" class="no-show" href="http://www.my.jobs/employers/">{% trans "Employers / Post Jobs" %}</a></li>
                                    <li><a id="create-profile" class="no-show" href="{{ ABSOLUTE_URL }}">{% trans "Post Resume" %}</a></li>
                                    <li><a id="login-link" class="no-show" href="{{ ABSOLUTE_URL }}">{% trans 'Login' %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function addEvents(func) {
        /*
        window.onload is being used here because this code uses jQuery which
        is at the bottom of the page on My.jobs and not loaded yet when
        this topbar runs.

        Looks to see if there is an window.onload already set.  If not then
        use window.onload.  Otherwise execute the current window.onload function
        then execute :func:.

        Inputs:
        :func:      Additional logic to add to window.onload.

         */
        var current_onload = window.onload;
        if(typeof(window.onload) != 'function') {
            window.onload = func;
        } else {
            window.onload = function() {
                if(current_onload)
                    current_onload();
                func();
            }
        }
    }

    addEvents(function() {
        /*
        Explicit control of main menu, primarily for mobile but also provides
        non hover and cover option if that becomes an issue.
        */
        $(".main-nav").click(function(e){
            e.preventDefault();
            if($(window).width() < 994){
                $("#nav").toggleClass("active");
                $(".company-nav-item").addClass("no-show");
                $(".settings-nav-item").addClass("no-show");
                $(".employer-menu").addClass("no-show");
                $("#back-btn-li").addClass("no-show");
                $("#account-link").addClass("no-show");
                $("#logout-link").addClass("no-show");
                $("#logged-in-li").addClass("no-show");
                $(".multiple_companies").addClass("no-show");

                $("#mobile-company-select").removeClass("no-show");
                $(".seeker-menu").removeClass("no-show");
                $("#employer-tools").removeClass("no-show");
                $("#search-jobs").removeClass("no-show");
                $('#settings-link').removeClass("no-show");

                //Not logged in mobile view
                $("#demo-link").removeClass("no-show");
                $("#create-profile").removeClass("no-show");
                $("#login-link").removeClass("no-show");
            }
        });

        $("#pop-menu").mouseleave(function(){
            $("#back-btn-li").addClass("no-show");

            $("#account-link").removeClass("no-show");
            $("#logout-link").removeClass("no-show");
            $("#search-jobs").removeClass("no-show");
            $("#logged-in-li").removeClass("no-show");
            $("#nav").removeClass("active");
        });

        $("#employer-tools").click(function(e) {
            $("#back-btn-li").removeClass("no-show");
            $(".employer-menu").removeClass("no-show");

            $(".seeker-menu").addClass("no-show");
            $("#mobile-company-select").addClass("no-show");
            $("#settings-link").addClass("no-show");
            $("#search-jobs").addClass("no-show");
            $("#job-tools").addClass("no-show");
            $("#employer-tools").addClass("no-show");
        });

        $('#settings-link').click(function(e) {
            $(".settings-nav-item").removeClass("no-show");
            $("#back-btn-li").removeClass("no-show");

            $("#mobile-company-select").addClass("no-show");
            $("#settings-link").addClass("no-show");
            $("#job-tools").addClass("no-show");
            $("#employer-tools").addClass("no-show");
            $("#search-jobs").addClass("no-show");
            $("#profile-link").addClass("no-show");
            $("#savedsearch-link").addClass("no-show");
            $("#candidate-link").addClass("no-show");
            $("#partner-link").addClass("no-show");
            $("#account-link").addClass("no-show");
        });

        $("#back-btn").click(function(e){
            e.preventDefault();

            $(".company-nav-item").addClass("no-show");
            $(".partner-nav-item").addClass("no-show");
            $(".settings-nav-item").addClass("no-show");
            $(".employer-menu").addClass("no-show");
            $("#back-btn-li").addClass("no-show");
            $(".multiple_companies").addClass("no-show");

            $(".seeker-menu").removeClass("no-show");
            $("#mobile-company-select").removeClass("no-show");
            $("#job-tools").removeClass("no-show");
            $("#employer-tools").removeClass("no-show");
            $("#search-jobs").removeClass("no-show");
            $("#settings-link").removeClass("no-show");
        });

        {% if group_member and company_name|length > 1 %}
        // See if a cookie is already set. If so update employer links.
        var cid = read_cookie();
        if(cid)
            update_employer_tools(cid);

        // Build multiple company selector
        get_companies();
    });

    function get_companies() {
        // Function builds multiple company elements and functions
        {% json_companies company_name as companies %}
        var data = {{ companies|safe }};
        var parent_list_item = document.createElement("li");
        parent_list_item.setAttribute("id", "current-company");
        parent_list_item.setAttribute("class", "submenu-dropdown");

        parent_list_item.onclick = function(event) {
            event.preventDefault();
            var li_last_child = parent_list_item.lastChild;

            if (li_last_child.currentStyle ? li_last_child.currentStyle.display : getComputedStyle(li_last_child, null).display === "none")
                li_last_child.style.display = "block";
            else
                li_last_child.style.display = "none";
        };

        var label = document.createElement("a");

        // Company id from myjobs_company cookie
        var cid = read_cookie();

        var list = document.createElement("ul");
        list.setAttribute("id", "select_company");

        // Company name used to show user what current company is selected
        var menu_company_name;

        // Creating li items for "list" (the ul)
        for(var i=0; i<data.length; i++) {
            // Get company name from cid, if cid exists
            if(!menu_company_name) {
                if(cid) {
                    if(data[i].id == cid)
                        menu_company_name = data[i].name;
                }
                else {
                    set_cookie(data[0].id, 14);
                    menu_company_name = data[0].name;
                }
            }
            var list_item = document.createElement("li");
            list_item.setAttribute("id", "company_" + String(data[i].id));
            list_item.setAttribute("style", "cursor: pointer");
            list_item.innerHTML = "<a>"+data[i].name+"</a>";
            list_item.onclick = function() {
                // this.id Format: company_COMPANYID
                var item_id = this.id.split("_")[1];

                // 14 = 2 weeks
                set_cookie(item_id, 14);

                // replaces text of main li holding company list
                parent_list_item.firstChild.innerHTML = "<b>"+ this.firstChild.innerHTML +"</b>";

                // update employer links
                update_employer_tools(item_id);
            };
            list.appendChild(list_item);
        }
        label.innerHTML = "<b>"+ menu_company_name +"</b>";
        parent_list_item.appendChild(label);
        parent_list_item.appendChild(list);

        var parent_element = document.getElementById("employer-apps");
        var first_child = parent_element.firstChild;
        parent_element.insertBefore(parent_list_item, first_child);

        // Mobile
        var mobile_parent_element = document.createElement("li");
        mobile_parent_element.setAttribute("id", "mobile-company-select");
        mobile_parent_element.setAttribute("class", "no-show");
        mobile_parent_element.setAttribute("style", "cursor:pointer");
        var mobile_label = document.createElement("a");
        mobile_label.innerHTML = "<b>" + menu_company_name + "</b>";
        if(menu_company_name.length > 20)
            mobile_label.setAttribute("style", "font-size: 21px");
        mobile_parent_element.appendChild(mobile_label);
        mobile_parent_element.onclick = function() {
            $(".multiple_companies").removeClass("no-show");
            $("#back-btn-li").removeClass("no-show");

            $("#mobile-company-select").addClass("no-show");
            $("#settings-link").addClass("no-show");
            $("#job-tools").addClass("no-show");
            $("#employer-tools").addClass("no-show");
            $("#search-jobs").addClass("no-show");
            $("#profile-link").addClass("no-show");
            $("#savedsearch-link").addClass("no-show");
            $("#candidate-link").addClass("no-show");
            $("#partner-link").addClass("no-show");
            $("#account-link").addClass("no-show");
        };
        var pop_menu = document.getElementById("pop-menu");
        var search_item = document.getElementById("search-jobs");
        pop_menu.insertBefore(mobile_parent_element, search_item.parentNode);

        for(var j=0; j<data.length; j++) {
            var mobile_list_item = document.createElement("li");
            mobile_list_item.setAttribute("id", "mobilecompany_" + data[j].id);
            mobile_list_item.setAttribute("class", "no-show sub-nav-item multiple_companies");
            mobile_list_item.setAttribute("style", "cursor:pointer");
            mobile_list_item.innerHTML = "<a>"+ data[j].name +"</a>";
            mobile_list_item.onclick = function() {
                var mobile_item_id = this.id.split("_")[1];
                set_cookie(mobile_item_id, 14);
                mobile_parent_element.firstChild.innerHTML = "<b>"+ this.firstChild.innerHTML + "</b>";
                update_employer_tools(mobile_item_id);
                $("#back-btn").click();
            };
            pop_menu.appendChild(mobile_list_item);
        }
    }

    function set_cookie(company_id, days) {
        var expires;
        if(days) {
            var date = new Date();
            date.setTime(date.getTime()+(days*24*60*60*1000));
            expires = "; expires="+date.toGMTString();
        } else
            expires = "";
        document.cookie = "myjobs_company="+company_id+expires+"; path=/";
    }

    function read_cookie() {
        var nameEQ = "myjobs_company=";
        var ca = document.cookie.split(';');
        for (var i=0; i< ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ')
                c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0)
                return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function delete_cookie() {
        set_cookie("", -1);
    }

    function update_employer_tools(company_id) {
        // li_children are children of Employer Tools
        var li_children = document.getElementById("employer-apps").children;

        // Editing links from old company to newly set company
        for(var i=0; i<li_children.length; i++)
            li_children[i].firstChild.search = "company="+company_id;

        var candidate_link = document.getElementById("candidate-link");
        candidate_link.search = "company=" + company_id;

        var partner_link = document.getElementById("partner-link");
        partner_link.search = "company=" + company_id;
    }

    {% else %}
    });
    {% endif %}
</script>
