{% load common_tags %}
{% load email_tags %}
{% load tz %}

{% localtime on %}
    {% with saved_search.user.get_expiration as expiration %}
        {% if expiration %}
            <table>
                <tr>
                    <td>
                        Your account is not currently active.

                        Please <a href="https://secure.my.jobs{% get_activation_link saved_search.user %}">activate your account.</a>
                        {% if expiration.days > 0 %}
                            In {{ expiration.days }} days, your activation window will expire.
                        {% else %}
                            {# We should only be sending emails to active users #}
                            {# or users with an ongoing activation window #}
                            {# If days isn't > 0, then it must equal 0 (today) #}
                            Your activation window will expire today.
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        Your account was created on {{ saved_search.user.source }}, {{ saved_search.user.date_joined }}
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endwith %}
{% endlocaltime %}
