{% load common_tags %}

{% if user.profile_completion < 100 %}
<table>
    <tr>
        <td>
            Your resume is {{ user.profile_completion }}% complete:<br />
        </td>
    </tr>
    <tr>
        <td>
            <ul>
            {% for suggestion in user|get_suggestions %}
                <li>
                    <a href="https://secure.my.jobs{{ suggestion.url }}&verify={{ user.user_guid }}">Add {{ suggestion.module.lower }}</a>
                </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>
{% endif %}
