{% load i18n %}

<table style="display: table;">
    <tr>
        <td colspan=2>
            <table>
                <tr>
                    <td style="text-align: left;">
                        <a href="https://secure.my.jobs">
                            <img src="https://d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_small.png" alt="My.jobs logo">
                        </a>
                    </td>
                    {% block email-title %}
                    <td style="text-align: left; vertical-align: center;"><b>Partner Relationship Manager</b></td>
                    {% endblock %}
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            {% block content %}
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td colspan=2>
            For additional assistance, please contact your member representative or email prm@directemployers.org.
        </td>
    </tr>
</table>

