{% extends 'mypartners/email/email_base.html' %}
{% block content %}
    {% if error %}
        {{ error }}<br/>
    {% endif %}

    {% if created_records %}
        We have successfully created contact records for:<br/>
        {% for record in created_records %}
            <a href="https://secure.my.jobs{{ record.get_record_url }}">{{ record.contact_name }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if attachment_failures %}
        <br />We were unable to associate your email attachments with the following individuals. Please add the attachments via the Partner Relationship Manager.<br />
        {% for individual in attachment_failures %}
            <a href="https://secure.my.jobs{{ individual.get_record_url }}">{{ individual.contact_name }}</a><br />
        {% endfor %}
    {% endif %}

    {% if created_contacts %}
        <br/>Contacts have been created for the following email addresses:<br/>
        {% for contact in created_contacts %}
            <a href="https://secure.my.jobs{{ record.get_contact_url }}">{{ contact.name }}</a><br/>
        {% endfor %}
    {% endif %}

    {% if unmatched_contacts %}
        <br/>No contacts or contact records could be created for the following email addresses. You will need to log in and manually create contact records for these contacts:<br/>
        {% for contact in unmatched_contacts %}
            {{ contact }}<br/>
        {% endfor %}
    {% endif %}

- My.jobs

Please note: this inbox is not monitored and replies will not receive a response.
{% endblock %}

{% block footer-right %}

{% endblock %}
