{% load filter_tags %}

<ul id="company-admins-menu" class="header-menu">
    <li>
        <span class="hover-element">All Users</span>
        <ul id="admin-list" style="margin-left: -93px;">
            <li class="inside-list-title">
                Select User
                <span class="pull-right"><i class="icon icon-user"></i></span>
            </li>
            {% with company|get_admins as admins %}
                {% for admin in admins %}
                    <li value={{ admin.id }}>{{ admin.name|truncatechars:19 }}</li>
                {% endfor %}
            {% endwith %}
        </ul>
    </li>
</ul>