<div class="card-wrapper">
    {% if records.has_previous or records.has_next %}
    <div class="partner-pagination">
        <span class="step-links">
            {% if records.has_previous %}
                <a id="previous_page" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ records.previous_page_number }}">&#8592; Previous</a>
            {% endif %}

            <span class="current">
                Page {{ records.number }} of {{ records.paginator.num_pages }}
            </span>

            {% if records.has_next %}
                <a id="next_page" class="pull-right" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ records.next_page_number }}">Next &#8594;</a>
            {% endif %}
            <div class="clearfix"></div>
        </span>
    </div>
    {% endif %}
    {% if records.paginator.count > 0 %}
    <div class="partner-sort">
        <label>Sort by:</label>
        {% if request.GET.sort_by %}
            {% if request.GET.sort_by == "name" %}
            <div class="sort-by active {% if request.GET.desc %}descending{%else%}ascending{%endif%}" title="Click to change sort">Name</div>
            <div class="sort-by" title="Click to change sort">Date</div>
            {% elif request.GET.sort_by == "date" %}
            <div class="sort-by" title="Click to change sort">Name</div>
            <div class="sort-by active {% if request.GET.desc %}descending{%else%}ascending{%endif%}" title="Click to change sort">Date</div>
            {% else %}
            <div class="sort-by" title="Click to change sort">Name</div>
            <div class="sort-by" title="Click to change sort">Date</div>
            {% endif %}
        {% else %}
            <div class="sort-by" title="Click to change sort">Name</div>
            <div class="sort-by active descending" title="Click to change sort">Date</div>
        {% endif %}
        <div id="per-page" class="pull-right">
            <span title="Click to edit">{% if request.GET.per_page %}{{ request.GET.per_page }}{% else %}10{% endif %}</span>
            <label>Per Page</label>
        </div>
    </div>
    {% endif %}
    {% for record in records %}
        {% include "mypartners/includes/record_card.html" with index=forloop.counter page=records.number %}
    {% endfor %}
    {% if records.has_previous or records.has_next %}
    <div class="partner-pagination">
        <span class="step-links">
            {% if records.has_previous %}
                <a id="previous_page" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ records.previous_page_number }}">&#8592; Previous</a>
            {% endif %}

            <span class="current">
                Page {{ records.number }} of {{ records.paginator.num_pages }}
            </span>

            {% if records.has_next %}
                <a id="next_page" class="pull-right" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ records.next_page_number }}">Next &#8594;</a>
            {% endif %}
            <div class="clearfix"></div>
        </span>
    </div>
    {% endif %}
</div>
