<div class="product-card">
    <div class="big-title">
        {{ contact.name }}
    </div>
    {% if contact.locations.exists %}
    <div class="sub-title">
        {% for location in contact.locations.all %}
            {{ location }}{% if not forloop.last %}; {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="product-details">
        {% if contact.email %} {{contact.email}} {% endif %}
        {% if contact.phone %} {% if contact.email %} &#8226; {% endif %} &#9742;{{contact.phone}} {% endif %}
    </div>
    {% if contact.library %}
    <div class="product-details">
        <i class="icon icon-list-alt" alt="original import source"></i>
        {{ contact.library.data_source }}
    </div>
    {% endif %}
    <div class="partner-tags">
        {% for tag in contact.tags.all %}
        <span class="tag-name small" style="background-color: #{{tag.hex_color}}">{{ tag.name }}</span>
        {% endfor %}
    </div>
    <a id="contact-{{contact.id}}" class="btn" href="{% url 'edit_contact' %}?partner={{ partner.id }}&id={{ contact.id }}&ct={{ contact_ct }}">Edit</a>
</div>
