<div class="day-picker">
    <div class="partner-tag days button disabled-tag" title="Activity from 1 day ago" data-days="1">1 Day</div>
    <div class="partner-tag days button disabled-tag" title="Activity from 30 days ago" data-days="30">30 Days</div>
    <div class="partner-tag days button disabled-tag" title="Activity from 90 days ago" data-days="90">90 Days</div>
</div>
<div class="partner-tag custom button disabled-tag" title="Activity within specific date range">Custom</div>
<div class="date-picker-widget">
    <input class="datepicker picker-left" id="activity-start-date" type="text" placeholder="Activity Start Date" />
    <span class="datepicker" id="activity-to-">to</span>
    <input class="datepicker picker-right" id="activity-end-date" type="text" placeholder="Activity End Date" />
</div>
<div class="centered">
    <a id="reset-date-range">Reset activity date range</a>
</div>
