{% load filter_tags %}

<ul id="time-range-menu" class="header-menu">
    <li>
        <span class="hover-element date-range-description">30 Days</span>
        <ul id="date-range-list">
            <li class="inside-list-title">
                Select Time Range
                <span class="pull-right"><i class="icon icon-time"></i></span>
            </li>
            <a href="?company={{ company.id }}&partner={{ partner.id }}{% if admin %}&admin={{ admin }}{% endif %}{% if contact %}{{ contact }}{% endif %}{% if contact_type %}&record_type={{ contact_type }}{% endif %}&date=1"><li id="today">1 Day</li></a>
            <a href="?company={{ company.id }}&partner={{ partner.id }}{% if admin %}&admin={{ admin }}{% endif %}{% if contact %}{{ contact }}{% endif %}{% if contact_type %}&record_type={{ contact_type }}{% endif %}&date=30"><li id="thirty-days">30 Days</li></a>
            <a href="?company={{ company.id }}&partner={{ partner.id }}{% if admin %}&admin={{ admin }}{% endif %}{% if contact %}{{ contact }}{% endif %}{% if contact_type %}&record_type={{ contact_type }}{% endif %}&date=90"><li id="ninety-days">90 Days</li></a>
            <li id="date-drop">
                Custom Date
                <span id="date-dropdown-display" class="pull-right small-black-arrow-left"></span>
                <ul id="custom-date-dropdown" style="display: none;">
                        <div>From</div>
                        <div id="from-date">
                            {% render_datepicker 'date-start-chooser' date_start %}
                        </div>
                        <div>To</div>
                        <div id="to-date">
                            {% render_datepicker 'date-end-chooser' date_end %}
                        </div>
                    <a class="btn primary pull-right date-range-submit">Submit</a>
                    <div class="clearfix"></div>
                </ul>
            </li>
        </ul>
    </li>
</ul>