{% load filter_tags %}

<ul id="time-range-menu" class="header-menu">
    <li>
        <span class="hover-element">30 Days</span>
        <ul id="date-range-list">
            <li class="inside-list-title">
                Select Time Range
                <span class="pull-right"><i class="icon icon-time"></i></span>
            </li>
            <li>1 Day</li>
            <li>30 Days</li>
            <li>90 Days</li>
            <li id="date-drop">
                Custom Date
                <span id="date-dropdown-display" class="pull-right small-black-arrow-left"></span>
                <ul id="custom-date-dropdown" style="display: none;">
                    {% with 'thing'|render_datepicker as date_filter %}
                        From<br>
                        {{ date_filter }}<br>
                        To<br>
                        {{ date_filter }}
                    {% endwith %}
                </ul>
            </li>
        </ul>
    </li>
</ul>