<ul class="header-menu">
    <li>
        <span class="hover-element">Download</span>
        <ul id="download-list">
            {% with date_start=request.GET.date_start contact=request.GET.contact contact_type=request.GET.contact_type date_end=request.GET.date_end %}
            <li class="inside-list-title">
                Export Type
                <span class="pull-right"><i class="icon icon-download"></i></span>
            </li>
            <a class="records-csv-export-link" href="{% url 'prm_export' %}?partner={{ partner.id }}{%if contact_type %}&record_type={{contact_type}}{% endif %}{% if contact %}&contact={{contact}}{% endif %}{% if date_start %}&date_start={{ date_start }}{% endif %}{% if date_end %}&date_end={{ date_end }}{% endif %}">
                <li class="records-csv-export">CSV</li>
            </a>
            <a class="records-xml-export-link" href="{% url 'prm_export' %}?partner={{ partner.id }}&file_format=xml{%if contact_type %}&record_type={{contact_type}}{% endif %}{% if contact %}&contact={{contact}}{% endif %}{% if date_start %}&date_start={{ date_start }}{% endif %}{% if date_end %}&date_end={{ date_end }}{% endif %}">
                <li class="records-xml-export">XML</li>
            </a>
            <a class="records-printer-friendly-export-link" href="{% url 'prm_export' %}?partner={{ partner.id }}&file_format=printer_friendly{%if contact_type %}&record_type={{contact_type}}{% endif %}{% if contact %}&contact={{contact}}{% endif %}{% if date_start %}&date_start={{ date_start }}{% endif %}{% if date_end %}&date_end={{ date_end }}{% endif %}">
                <li class="records-printer-friendly-export">Printer Friendly</li>
            </a>
        </ul>
        {% endwith %}
    </li>
</ul>
