
{% if on_page == 'partner_library' %}
<div id="library-{{partner.id}}" class="product-card" data-source="{{ partner.data_source }}">
{% else %}
<div id="partner-{{partner.id}}" class="product-card">
{% endif %}
    <div class="big-title">
        <b>{{ partner.name }}</b>
    </div>
    {% if on_page == 'partner_library' and not partner.city %}
    {% else %}
    <div class="sub-title">
        <small>
            {% if on_page == 'prm' %}

            {% for location in partner.get_contact_locations %}
            <span title="Click to filter location">
                {% if not forloop.last %}
                    {{ location }};
                {% else %}
                    {{ location }}
                {% endif %}
            </span>
            {% endfor %}

            {% elif on_page == 'partner_library' %}
            <span title="Click to filter location">
            {% if partner.city %}
            {{ partner.city }}{% if partner.st %}, {{ partner.st }} {% endif %}
            {% else %}
            {{ partner.city }}
            {% endif %}
            </span>

            {% endif %}
        </small>
    </div>
    {% endif %}
    <div class="product-details">
        {% if on_page == 'prm' %}

        {% if partner.primary_contact %}
        {% if partner.primary_contact.name %}
        <i class="icon icon-user icon-black" alt="primary contact"></i>
        {{ partner.primary_contact.name }}
        {% if partner.primary_contact.email %}
        <span class="details-subtext">({{ partner.primary_contact.email }})</span>
        {% endif %}
        {% else %}
        {{ partner.primary_contact.email }}
        {% endif %}
        {% else %}
        No Primary Contact
        {% endif %}

        {% elif on_page == 'partner_library' %}

        {% if partner.contact_name %}
        {{ partner.contact_name }}
        {% if partner.email %}
        <span class="details-subtext">({{partner.email}})</span>
        {% endif %}
        <input id="{{partner.id}}-name" class="partner-name" type="hidden" />
        {% else %}
        Name not available
        {% endif %}
        {% if partner.email %}
        <input id="{{partner.id}}-{{partner.email}}" class="partner-email" type="hidden" />
        {% endif %}
        {% if partner.phone %}
        <input id="{{partner.id}}-{{partner.phone}}" class="partner-phone" type="hidden" />
        {% endif %}
        {% endif %}
    </div>
    {% if partner.library or partner.data_source %}
    <div class="product-details">
        {% if on_page == 'prm' %}
        <i class="icon icon-list-alt icon-black" alt="original import source"></i>
        {{ partner.library.data_source }}
        {% else %}
        <i class="icon icon-list-alt icon-black" alt="original import source"></i>
        {{ partner.data_source }}
        {% endif %}
    </div>
    {% endif %}
    <div class="partner-tags">
        {% if on_page == 'prm' %}
            {% for tag in partner.get_all_tags %}
                <span class="tag-name small" style="background-color: #{{tag.hex_color}}">{{ tag.name }}</span>
            {% endfor %}
        {% elif on_page == 'partner_library' %}

            {% if partner.is_veteran %}
                <div class="partner-tag veteran">Veteran</div>
            {% endif %}
            {% if partner.is_female %}
                <div class="partner-tag female">Female</div>
            {% endif %}
            {% if partner.is_minority %}
                <div class="partner-tag minority">Minority</div>
            {% endif %}
            {% if partner.is_disabled %}
                <div class="partner-tag disabled">Disability</div>
            {% endif %}
            {% if partner.is_disabled_veteran %}
                <div class="partner-tag disabled-veteran">Disabled Veteran</div>
            {% endif %}

        {% endif %}
    </div>
    {% if on_page == 'prm' %}
    <a id="partner-{{ partner.id }}" class="btn pull-right" href="{% url 'partner_overview' %}?partner={{ partner.id }}">Open</a>
    {% elif on_page == 'partner_library' %}
    <a id="partner-{{ partner.id }}" class="btn pull-right">Add</a>
    {% endif %}
</div>
