<div class="sidebar">
    {% if filters %}
    <div class="partner-filters">
        <h2 class="top">Filter Partners</h2>
        <label>Keywords:</label>
        <input id="lib-keywords" type="text" placeholder="Keywords" {% if request.GET.keywords %}value="{{request.GET.keywords}}"{% endif %} />
        <label>State:</label>
        {% include "includes/state_dropdown.html" %}
        <label>City:</label>
        <input id="lib-city" type="text" placeholder="City" {% if request.GET.city %}value="{{request.GET.city}}"{% endif %} />
        {% if filter_tag %}
        <label>Tags:</label>
        <input id="lib-tag" type="text" placeholder="Tags" {% if request.GET.tag %}value="{{request.GET.tag}}"{% endif %} />
        {% endif %}
        {% if on_page = "prm" %}
        <label>Last Activity:</label>
        {% include "mypartners/includes/date_widget.html" %}
        {% endif %}

        {% if special_interest %}
        <label>Special Interest:</label>
        <div class="tag-holder">
            <div class="partner-tag veteran button disabled-tag" title="Click to filter">Veteran</div>
            <div class="partner-tag female button disabled-tag" title="Click to filter">Female</div>
            <div class="partner-tag minority button disabled-tag" title="Click to filter">Minority</div>
            <div class="partner-tag disabled button disabled-tag" title="Click to filter">Disability</div>
            <div class="partner-tag disabled-veteran button disabled-tag" title="Click to filter">Disabled Veteran</div>
            <div class="partner-tag unspecified button disabled-tag" title="Click to filter">Unspecified</div>
        </div>
        <div class="help_text">
            <small>(click to filter on selected interest)</small>
        </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    {% endif %}
    {% if navigation %}
    <div class="navigation">
        {% if filters %}
        <h2>Navigation</h2>
        {% else %}
        <h2 class="top">Navigation</h2>
        {% endif %}
        <a class="btn" href="{% url 'create_partner' %}?ct={{ partner_ct }}">Create New Partner</a>
        <a class="btn" href="{% url 'partner_library' %}">Search OFCCP Partner Library</a>
        <a class="btn" href="{% url 'partner_tagging' %}">Tag Management</a>
    </div>
    {% endif %}
</div>

