{% if partners.has_previous or partners.has_next %}
<div class="partner-pagination">
    <span class="step-links">
        {% if partners.has_previous %}
            <a id="previous_page" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ partners.previous_page_number }}"><< Previous</a>
        {% endif %}

        <span class="current">
            Page {{ partners.number }} of {{ partners.paginator.num_pages }}
        </span>

        {% if partners.has_next %}
            <a id="next_page" class="pull-right" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ partners.next_page_number }}">Next >></a>
        {% endif %}
    </span>
    <div class="clearfix"></div>
</div>
{% endif %}
{% for partner in partners %}
    {% if on_page = "prm" %}
    {% include "mypartners/includes/partner_card.html" with on_page="prm" %}
    {% endif %}
    {% if on_page = "partner_library" %}
    {% include "mypartners/includes/partner_card.html" with on_page="partner_library" %}
    {% endif %}
{% endfor %}
{% if partners|length > 6 and partners.has_previous or partners.has_next %}
<div class="partner-pagination">
    <span class="step-links">
        {% if partners.has_previous %}
            <a id="previous_page" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ partners.previous_page_number }}"><< Previous</a>
        {% endif %}

        <span class="current">
            Page {{ partners.number }} of {{ partners.paginator.num_pages }}
        </span>

        {% if partners.has_next %}
            <a id="next_page" class="pull-right" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ partners.next_page_number }}">Next >></a>
        {% endif %}
    </span>
    <div class="clearfix"></div>
</div>
{% endif %}
{% if not partners and on_page = "partner_library" or not partners and on_page = "prm" and ajax = "true" %}
No results found {% if request.GET.keywords %}for keyword(s) {{ request.GET.keywords }}{% endif %}
{% if request.GET.state %} in {% if request.GET.city %} {{ request.GET.city }}, {% endif %}{{ request.GET.state }}
{% elif request.GET.city %} for city {{ request.GET.city }}{% endif %}
{% endif %}
