<div class="sidebar">
    {% if filters %}
    <div class="partner-filters">
        <h2 class="top">Filter Partners</h2>
        <label>Keywords:</label>
        <input id="lib-keywords" type="text" placeholder="Keywords" {% if request.GET.keywords %}value="{{request.GET.keywords}}"{% endif %} />
        <label>State:</label>
        {% include "includes/state_dropdown.html" %}
        <label>City:</label>
        <input id="lib-city" type="text" placeholder="City" {% if request.GET.city %}value="{{request.GET.city}}"{% endif %} />
        {% if filter_tag %}
        <label>Tag:</label>
        <input id="lib-tag" type="text" placeholder="Tag" {% if request.GET.tag %}value="{{request.GET.tag}}"{% endif %} />
        {% endif %}
        {% if on_page = "prm" %}
        <label>Last Activity:</label>
        <div class="day-picker">
            <div class="partner-tag days button disabled-tag" title="Activity from 1 day ago" data-days="1">1 Day</div>
            <div class="partner-tag days button disabled-tag" title="Activity from 30 days ago" data-days="30">30 Days</div>
            <div class="partner-tag days button disabled-tag" title="Activity from 90 days ago" data-days="90">90 Days</div>
        </div>
        <div class="partner-tag custom button disabled-tag" title="Activity within specific date range">Custom</div>
        <div class="date-picker-widget">
            <input class="datepicker picker-left" id="activity-start-date" type="text" placeholder="Activity Start Date" />
            <span class="datepicker" id="activity-to-">to</span>
            <input class="datepicker picker-right" id="activity-end-date" type="text" placeholder="Activity End Date" />
        </div>
        <a id="reset-date-range" class="pull-right">Reset activity date range</a>
        {% endif %}

        {% if special_interest %}
        <label>Special Interest:</label>
        <div class="tag-holder">
            <div class="partner-tag veteran button disabled-tag" title="Click to filter">Veteran</div>
            <div class="partner-tag female button disabled-tag" title="Click to filter">Female</div>
            <div class="partner-tag minority button disabled-tag" title="Click to filter">Minority</div>
            <div class="partner-tag disabled button disabled-tag" title="Click to filter">Disabled</div>
            <div class="partner-tag disabled-veteran button disabled-tag" title="Click to filter">Disabled Veteran</div>
            <div class="partner-tag unspecified button disabled-tag" title="Click to filter">Unspecified</div>
        </div>
        <div class="help_text">
            <small>(click to filter on selected interest)</small>
        </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
    {% endif %}
    {% if navigation %}
    <div class="navigation">
        {% if filters %}
        <h2>Navigation</h2>
        {% else %}
        <h2 class="top">Navigation</h2>
        {% endif %}
        <a class="btn" href="{% url 'create_partner' %}?ct={{ partner_ct }}">Create New Partner</a>
        <a class="btn" href="{% url 'partner_library' %}">Search OFCCP Partner Library</a>
        <a class="btn" href="{% url 'partner_tagging' %}">Tag Management</a>
    </div>
    {% endif %}
</div>

