<h1>
    <a href="{% url 'prm' %}" title="Back to Partner Relationship Manager">{{ company.name }}</a>
    {% if partner.name %}
    <small><a href="{% url 'partner_overview' %}?partner={{ partner.id }}" title="Back to Overview">{{ partner.name }}</a></small>
    {% endif %}
</h1>
<div class="row">
    <div class="span12 prm-header">
        <span>{{ page_title }}</span>
        {% if back_to %}
        <a class="mobile_hide" href="{% url back_to_url %}{{ back_to_string }}{% if add_partner_to_end %}{{partner.id}}{% endif %}">{{ back_to }}</a>
        {% endif %}
        {% if date_range %}
        <span class="pull-right" id="candidate-time-filter">{% include "mypartners/includes/date_range.html" %}</span>
        {% endif %}
        {% if download %}
        <span class="pull-right" id="record-download">{% include "mypartners/includes/download_records.html" with date_start=request.GET.date_start date_end=request.GET.date_end %}</span>
        {% endif %}
    </div>
</div>
