{% load label_tags %}
<div class="product-card">
    <div class="big-title">
        {{ search.label }} {% make_label search.is_active %} {% if search.unsubscribed %}{% make_label search.unsubscribed true_msg="unsubscribed" extra_classes="important-label" %}{% endif %}
    </div>
    <div class="sub-title">
        Sent to: {{search.email}}
    </div>
    <div class="partner-tags">
        {% for tag in search.tags.all %}
        <span class="tag-name small" style="background-color: #{{tag.hex_color}}">{{ tag.name }}</span>
        {% endfor %}
    </div>
    <div class="product-details">
        Last sent: {{search.last_sent|default:"Never"}}
    </div>
    <a id="savedsearch-{{search.id}}" class="btn" href="{% url 'partner_view_full_feed' %}?partner={{ partner.id }}&id={{ search.id }}">View</a>
</div>
