<div class="card-wrapper">
    {% if searches.has_previous or searches.has_next %}
    <div class="partner-pagination">
        <span class="step-links">
            {% if searches.has_previous %}
                <a id="previous_page" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ searches.previous_page_number }}">&#8592; Previous</a>
            {% endif %}

            <span class="current">
                Page {{ searches.number }} of {{ searches.paginator.num_pages }}
            </span>

            {% if searches.has_next %}
                <a id="next_page" class="pull-right" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ searches.next_page_number }}">Next &#8594;</a>
            {% endif %}
            <div class="clearfix"></div>
        </span>
    </div>
    {% endif %}
    {% for search in searches %}
        {% include "mypartners/includes/pss_card.html" %}
    {% endfor %}
    {% if searches.has_previous or searches.has_next %}
    <div class="partner-pagination">
        <span class="step-links">
            {% if searches.has_previous %}
                <a id="previous_page" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ searches.previous_page_number }}">&#8592; Previous</a>
            {% endif %}

            <span class="current">
                Page {{ searches.number }} of {{ searches.paginator.num_pages }}
            </span>

            {% if searches.has_next %}
                <a id="next_page" class="pull-right" href="?{% for key, values in request.GET.iterlists %}{% ifnotequal key 'page' %}{% for value in values %}{{ key }}={{ value }}&amp;{% endfor %}{% endifnotequal %}{% endfor %}page={{ searches.next_page_number }}">Next &#8594;</a>
            {% endif %}
            <div class="clearfix"></div>
        </span>
    </div>
    {% endif %}
</div>