<h1>Event Email Manager</h1>
<div class="row">
    <div class="span12">
        <div class="prm-header">
            <span>{{ title }}</span>
            <div class="links" style="float:right;">
                <a href="{% url 'email-overview' %}" style="border-right: 2px solid #888; padding: 0 4px 0 0;">Overview</a>
                <a href="{% url 'manage-h-f' %}" style="border-right: 2px solid #888; padding: 0 4px 0 0;">Manage Header/Footer</a>
                <a href="{% url 'manage-template' %}" style="padding: 0 3px 0 0">Manage Templates</a>
            </div>
        </div>
    </div>
</div>