{% extends "base.html" %}
{% load i18n %}
{% load common_tags %}
{% load postajob_tags %}
{% gz as gz %}

{% block site-title %}
    <title>{% get_form_action %} {{ display_name }} - My.jobs</title>
    <meta name="title" content="{{ display_name }} - My.jobs">
{% endblock site-title %}


{% block content %}
    <div class="row">
        <div class="span12">
            <h1>
                {% get_form_action %}
                <small>{{ display_name }}</small>
            </h1>
        </div>
    </div>
    {% block form %}
    <form action="?" method="post">
        {% include "includes/form-error-highlight.html" %}
        {% csrf_token %}
        <div class="clear"></div>
        <div class="actions">
            <div class="form-label pull-left">&nbsp;</div>
            {% if item.pk and not prevent_delete %}
                <button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>
                <div id="delete-confirm" class="modal hide fade row">
                    <div class="modal-header">{% trans 'Really Delete?' %}</div>
                    <div class="modal-body">{% blocktrans %}Are you sure you want to delete this {{verbose}}?{% endblocktrans %}</div>
                    <div class="modal-footer">
                        <div class="actions">
                            <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                            <a class="btn pull-right" href="{{ delete_url }}">{% trans 'Delete' %}</a>
                        </div>{# /actions #}
                    </div>{# /modal=footer #}
                </div>{# /delete-confirm #}
            {% endif %}
            <a href="{{ success_url }}" class="btn">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn primary" id="profile-save">{% trans 'Save' %}</button>
        </div>{# /actions #}
    </form>
    {% endblock form %}
{% endblock content %}

{% block extra-js %}
    {{ form.media }}
{% endblock %}
