{% load postajob_tags %}
<table width="400">
    <tr><td align="center">
        {{ invoice.owner.name }}
        {% if invoice.owner.companyprofile %}
            <br/>{{ invoice.owner.companyprofile.address_line_one }}
            {% if invoice.owner.companyprofile.address_line_two %}<br/>{{ invoice.owner.companyprofile.address_line_two }}{% endif %}
            <br/>{{ invoice.owner.companyprofile.city}}, {{ invoice.owner.companyprofile.state }} {{ invoice.owner.companyprofile.zipcode }} {{ invoice.owner.companyprofile.country }}
            {% if invoice.owner.companyprofile.phone %}<br/>{{ invoice.owner.companyprofile.phone }}{% endif %}
        {% endif %}
    </td></tr>
    <tr><td align="right">
        Invoice No: {{ invoice.transaction }}
        <br/>Date: {{ invoice.date_created }}
    </td></tr>
</table>

<table border="1px solid" width="400">
    <tr><td align="center" colspan="4"><b>Invoice</b></td></tr>
    <tr><td colspan="4">
        Company: {{ invoice.owner.name }}
        {% if invoice.first_name and invoice.last_name %}
            <br/>Address: {{ invoice.address_line_one }}, {{ invoice.address_line_two }}
            <br/>City: {{ invoice.city }}
            <br/>State: {{ invoice.state }}
            <br/>ZIP: {{ invoice.zipcode }}
            <br/>Country: {{ invoice.country }}
        {% endif %}
    </td></tr>
    <tr>
        <td align="center" colspan="2"><b>Description</b></td>
        <td align="center" colspan="2"><b>Price</b></td>
    </tr>
    {% for purchase in purchases %}
        <tr>
            <td colspan="2">{{ purchase.product_name }}</td>
            <td colspan="2">${{ purchase.purchase_amount }}</td>
        </tr>
    {% endfor %}
    {% get_purchase_total purchases as total %}
    <tr>
        <td colspan="3" align="right">Subtotal</td>
        <td align="right">${{ total }}</td>
    </tr>
    <tr>
        <td colspan="3" align="right">Taxes</td>
        <td align="right">$0.00</td>
    </tr>
    <tr>
        <td colspan="3" align="right">Total</td>
        <td align="right">${{ total }}</td>
    </tr>
</table>

{% if invoice.transaction_type != FREE %}
    <table>
        <tr><td><b>Payment Details</b></td></tr>
        <tr><td>
            {% if invoice.transaction_type == AUTHORIZE_NET %}
                Credit Card Number: *************{{ invoice.card_last_four }}
                <br/>Expiration: {{ invoice.card_exp_date.month }}/{{ invoice.card_exp_date.year }}
                <br/>Name on Credit Card: {{ invoice.first_name }} {{ invoice.last_name }}
                <br/>Amount Charged: ${{ total }}
            {% else %}
                {# transaction_type == OFFLINE_PURCHASE #}
                Redemption Code: {{ invoice.transcation }}
            {% endif %}
        </td></tr>
    </table>
{% endif %}