{% load postajob_tags %}
<table width="400">
    <tr><td align="center">
        {{ purchase.product.owner.name }}
        {% if purchase.product.owner.companyprofile %}
            <br/>{{ purchase.product.owner.companyprofile.address_line_one }}
            {% if purchase.product.owner.companyprofile.address_line_two %}<br/>{{ purchase.product.owner.companyprofile.address_line_two }}{% endif %}
            <br/>{{ purchase.product.owner.companyprofile.city}}, {{ purchase.product.owner.companyprofile.state }} {{ purchase.product.owner.companyprofile.zipcode }} {{ purchase.product.owner.companyprofile.country }}
            {% if purchase.product.owner.companyprofile.phone %}<br/>{{ purchase.product.owner.companyprofile.phone }}{% endif %}
        {% endif %}
    </td></tr>
    <tr><td align="right">
        Invoice No: {{ invoice.transaction }}
        <br/>Date: {{ purchase_date }}
    </td></tr>
</table>

<table border="1px solid" width="400">
    <tr><td align="center" colspan="4"><b>Invoice</b></td></tr>
    <tr><td colspan="4">
        Company: {{ invoice.owner.name }}
        {% if invoice.first_name and invoice.last_name %}
            <br/>Address: {{ invoice.address_line_one }}, {{ invoice.address_line_two }}
            <br/>City: {{ invoice.city }}
            <br/>State: {{ invoice.state }}
            <br/>ZIP: {{ invoice.zipcode }}
            <br/>Country: {{ invoice.country }}
        {% endif %}
    </td></tr>
    <tr>
        <td align="center" colspan="2"><b>Description</b></td>
        <td align="center" colspan="2"><b>Price</b></td>
    </tr>
    {% for purchase in purchases %}
        <tr>
            <td colspan="2">{{ purchase.product.name }}</td>
            <td colspan="2">${{ purchase.purchase_amount }}</td>
        </tr>
    {% endfor %}
    {% get_purchase_total purchases as total %}
    <tr>
        <td colspan="3" align="right">Subtotal</td>
        <td align="right">${{ total }}</td>
    </tr>
    <tr>
        <td colspan="3" align="right">Taxes</td>
        <td align="right">$0.00</td>
    </tr>
    <tr>
        <td colspan="3" align="right">Total</td>
        <td align="right">${{ total }}</td>
    </tr>
</table>

<table>
    <tr><td><b>Payment Details</b></td></tr>
    <tr><td>
        {% if invoice.first_name and invoice.last_name %}
            Credit Card Number: *************{{ purchase.card_last_four }}
            <br/>Expiration: {{ invoice.card_exp_date.month }}/{{ invoice.card_exp_date.year }}
            <br/>Name on Credit Card: {{ invoice.first_name }} {{ invoice.last_name }}
            <br/>Amount Charged: ${{ total }}
        {% else %}
            Redemption Code: {{ purchases.0.redemption_uid }}
        {% endif %}
    </td></tr>
</table>