{% extends 'postajob/form.html' %}
{% load i18n %}
{% load common_tags %}
{% load postajob_tags %}
{% gz as gz %}

{% block form %}
    <form action="?" method="post">
        {% csrf_token %}
        {{ form.owner }}
        <div> <!-- wraps all forms -->
            <div class="contents">
                <fieldset>
                    <legend>Job Details</legend>
                    {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.0 %}
                </fieldset>
            </div>
            <div class="contents">
                <fieldset>
                    <legend>Job Locations</legend>
                    {% for error in formset.non_form_errors %}
                        <div class="span3 form-label pull-left initial form-spacer"></div>
                        <div class="error-text">{{ error }}</div>
                    {% endfor %}
                    <div id="job-location-forms" class="no-show">
                        {# This will be hidden #}
                        {% for formset_form in formset.forms %}
                            <div class="formset-form">
                                {{ formset_form }}
                            </div>
                        {% endfor %}
                        <div id="hidden-options"></div>
                    </div>
                    <div id="empty-form">
                        {% include 'includes/form-error-highlight.html' with form=formset.empty_form %}
                    </div>
                    {{ formset.management_form }}
                    <div class="actions">
                        <div class="form-label pull-left">&nbsp;</div>
                        <a class="btn" href="?" id="add-location">Add</a>
                    </div>
                    <div class="offset3 span9">
                        <div id="job-location-display" class="card-wrapper">
                            <div class="wrapper-header">
                                <h4>Locations</h4>
                            </div>
                            <div id="no-locations" class="product-card no-highlight">Please add locations using the form above.</div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="contents">
                <fieldset>
                    <legend>Application Instructions</legend>
                    {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.1 %}
                </fieldset>
            </div>
            <div class="contents">
                <fieldset>
                    <legend>Job Expiration</legend>
                    {% if item %}
                    {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.2 %}
                    {% else %}
                    {% comment %}Remove the is_expired box if we are creating a new job{% endcomment %}
                    {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.2|slice:":-1" %}
                    {% endif %}
                </fieldset>
            </div>
            <div class="contents">
                {% if form.get_field_sets.3 %}
                    <fieldset>
                        <legend>Posting Location</legend>
                        {% include 'includes/fieldset-error-highlight.html' with fieldset=form.get_field_sets.3 %}
                    </fieldset>
                {% else %}
                    <div class="span3 form-label pull-left initial site-label">
                        <label>Job will be visible on these sites:</label>
                    </div>
                    <div class="profile-form-input site-field">
                        <ul id="id_site_packages">
                            {% for site in form|get_sites %}
                                <li>{{ site }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="actions">
            <div class="form-label pull-left">&nbsp;</div>
            {% if item.pk and not prevent_delete %}
                <button id="delete" type="button" data-toggle="modal" data-target="#delete-confirm" class="btn">{% trans 'Delete' %}</button>
                <div id="delete-confirm" class="modal hide fade row">
                    <div class="modal-header">{% trans 'Really Delete?' %}</div>
                    <div class="modal-body">{% blocktrans %}Are you sure you want to delete this {{verbose}}?{% endblocktrans %}</div>
                    <div class="modal-footer">
                        <div class="actions">
                            <button data-dismiss="modal" class="btn primary pull-right">{% trans 'Cancel' %}</button>
                            <a class="btn pull-right" href="{{ delete_url }}">{% trans 'Delete' %}</a>
                        </div>{# /actions #}
                    </div>{# /modal=footer #}
                </div>{# /delete-confirm #}
            {% endif %}
            <a href="{{ success_url }}" class="btn">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn primary" id="profile-save">{% trans 'Save' %}</button>
        </div>{# /actions #}
    </form>
{% endblock form %}

{% block extra-js %}
    {{ block.super }}
    <script type="text/javascript">
        var form_count = {{ formset.total_form_count }};
        var form = '{{ formset.empty_form|escapejs }}';
        $(document).ready(function() {
            accordion('.header', '.contents');
            expand_errors('.contents');
            add_locations();
            create_location_events();
        });
    </script>
{% endblock %}
