{% extends "base.html" %}
{% load i18n %}

{% block site-title %}
    <title>Post a Job Overview - My.jobs</title>
    <meta name="title" content="Post a Job Overview - My.jobs">
{% endblock %}
{% load i18n %}

{% block content %}

    <h1>Post a Job</h1>
    <div class="row">
        <div class="span12">
            <a class="btn" href="{% url 'job_add' %}">Post a New Job</a>
            <br/><br/>
            <div class="formBox no-padding">
                <h4>Jobs</h4>
                <table class="table table-bordered table-striped">
                    {% if jobs %}
                    <thead>
                        <tr>
                            <td>Job Title</td>
                            <td>Company</td>
                            <td class="mobile_hide">Req ID</td>
                            <td>Expired</td>
                            <td class="mobile-hide">Expiration Date</td>
                            <td class="mobile_hide">Job URL</td>
                            <td></td>
                        </tr>
                    </thead>
                    {% endif %}
                    {% include "postajob/includes/job_rows.html" %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra-js %}

{% endblock %}
