<div id="grouping-list">
    {% for grouping in product_groupings %}
        <div id="products-{{ grouping.pk }}">
            <strong>{{ grouping.display_title }}</strong>
            <p>{{ grouping.explanation }}</p>
            <ul>
                {% for product in grouping.products.all %}
                {% if product.is_displayed %}
                    <li id="product-{{ grouping.pk }}-{{ product.pk }}"><a href="https://secure.my.jobs{% url 'purchasedproduct_add' product.pk %}">{{ product }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <p>There are no products configured for purchase.</p>
    {% endfor %}
</div>
