{% extends 'seo_base.html' %}

{% block directseo_title %}
    {{site_title}} - {{group|capfirst}} Job Purchasing
{% endblock %}

{% block directseo_main_content %}
    <link rel="stylesheet" href="/style/def.ui.dotjobs.css" type="text/css">
    <div id="contents"></div>
    <script>
        function add_contents(html) {
            $('#contents').html(html);
        }

        $.ajax({
            url: 'https://secure.my.jobs/postajob/list/?site={{ site }}&callback=add_contents',
            dataType: 'jsonp',
            type: 'get',
            crossDomain: 'true',
            jsonp: false,
            processData: false,
            headers: {
                'Content-Type': 'application/json',
                Accept: 'text/javascript'
            }
        })
    </script>
{% endblock %}

{% block direct_extraHeaderContent %}{%endblock%}
{% block seo_description %}{% endblock %}
{% block directseo_searchbox %}{% endblock %}
