{% extends "base.html" %}
{% load i18n %}

{% block site-title %}
<title>Purchased Jobs Overview - My.jobs</title>
<meta name="title" content="Purchased Jobs Overview - My.jobs">
{% endblock %}
{% load i18n %}

{% block content %}

<h1>Purchases</h1>
<div class="row">
    <div class="span12">
        <h4>Active Products</h4>
        <div class="active-products">
            {% if active_products %}
                {% for product in active_products %}
                    {% include "postajob/includes/purchasedproduct_formBox.html" with purchased_product=product %}
                {% endfor %}
            {% else %}
                You currently have no active products.
            {% endif %}
        </div>
        <br/><br/><br/>
        <h4>Expired Products</h4>
        <div class="expired-products">
            {% if expired_products %}
                {% for product in expired_products %}
                    {% include "postajob/includes/purchasedproduct_formBox.html" with purchased_product=product %}
                {% endfor %}
            {% else %}
                You currently have no expired products.
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}


{% block extra-js %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}postajob.157-16.css{{ gz }}"></style>
{% endblock %}
