{% extends "postajob/myjobs/postajob_template.html" %}
{% load i18n %}

{% block site-title %}
<title>Purchased Job Overview - My.jobs</title>
<meta name="title" content="Purchased Job Overview - My.jobs">
{% endblock %}
{% load i18n %}

{% block page_title %}
Purchased Jobs
{% endblock page_title %}

{% block goback_link %}
<a href="{% url 'purchasedmicrosite_admin_overview' %}">Back to Admin Overview</a>
{% endblock %}

{% block postajob_content %}
<div class="row">
    <div class="span8">
        {% include "postajob/includes/purchasedjob_admin_formBox.html" with formBox_title="Purchased Jobs" formBox_footer=False %}
    </div>
    <div class="span4">
        {% include "postajob/includes/postajob_navigation.html" %}
    </div>
</div>
{% endblock %}


{% block extra-js %}

{% endblock %}