{% extends 'mysearches/email_base.html' %}
{% load email_tags %}

{% block style %}
    <style>
        {% include 'includes/email.css' %}
    </style>
{% endblock %}

{% block email-title %}
    {% has_attr saved_searches.0.0 'partnersavedsearch' as is_partner_saved_search %}
    <td style="text-align: left; vertical-align: middle;"><b>Saved Search {% if is_partner_saved_search %}Notification{% else %}Confirmation{% endif %}</b></td>
{% endblock %}

{% block content %}
    {% with saved_search=saved_searches.0.0 %}

    <div style="margin-left:auto;margin-right:auto; width:95%;">
        {% has_attr saved_search 'partnersavedsearch' as is_partner_saved_search %}
        <p>On {{ saved_search|time_created }} (UTC),
            {% if is_partner_saved_search %}
                {% if saved_search.created_by.get_full_name %}
                    {{ saved_search.created_by.get_full_name }}
                {% else %}
                    {{ saved_search.created_by.email }}
                {% endif %}
                 created this saved search on your behalf:
            {% else %}
                the following saved search was added to your account:
            {% endif %}
        </p>

        <table style="width: 100%; border-spacing:0; display: table; margin-bottom: 5px;">
            <tr>
                <td style="border: 1px solid #ddd; border-bottom:0; padding: 5px 7px; text-align: right;">Name:</td>
                <td style="border: 1px solid #ddd; border-bottom:0; border-left: 0; padding: 5px 7px"><b>{{ saved_search.label }}</b></td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; border-bottom:0; padding: 5px 7px; text-align: right;">Source:</td>
                <td style="border: 1px solid #ddd; border-bottom:0; border-left: 0; padding: 5px 7px"><b>{{ saved_search.url }}</b></td>
            </tr>
            <tr>
                <td style="border: 1px solid #ddd; padding: 5px 7px; text-align: right;">Email Used:</td>
                <td style="border: 1px solid #ddd; border-left: 0; padding: 5px 7px"><b>{{ saved_search.email }}</b></td>
            </tr>
        </table>
        {% if not is_partner_saved_search %}
            <p>
            Please confirm to continue receiving this saved search.
            </p>
        {% endif %}
        <div style="margin-left: 30px; margin-bottom: 10px;">
            {% if not is_partner_saved_search %}
            <a href="https://secure.my.jobs{% get_created_url saved_search %}" class="btn">
                Yes, I created "{{ saved_search.label }}"
            </a>
            <div style="display: block; margin-bottom: 5px;"></div>
            <a href="https://secure.my.jobs{% url 'delete_saved_search' %}?id={{ saved_search.id }}&verify={{saved_search.user.user_guid}}" class="btn">
                Delete "{{ saved_search.label }}"
            </a>
            <div style="display: block; margin-bottom: 5px;"></div>
            {% endif %}
            <a href="https://secure.my.jobs{% get_created_url saved_search %}" class="btn">
                View "{{ saved_search.label }}"
            </a>
            <br>
        </div>
    </div>

    {% endwith %}
{% endblock %}

{% block completion %}
    {# Don't show profile completion on initial saved search email #}
{% endblock %}

{% block footer %}
    Sent to: {{saved_searches.0.0.email}}<br>
    Sent as Digest: No<br>
    <a href="https://secure.my.jobs{% url 'unsubscribe' %}?id={{ saved_searches.0.0.id }}&verify={{saved_searches.0.0.user.user_guid}}">unsubscribe</a><br>
{% endblock %}
