{% extends 'mysearches/email_base.html' %}

{% load i18n %}

{% block content %}
    {% if saved_search.custom_message or custom_msg %}
        {% if saved_search.custom_message and not custom_msg %}
        <p>{{ saved_search.custom_message }}</p>
        {% elif custom_msg and not saved_search.custom_message %}
        <p>{{ custom_msg }}</p>
        {% else %}
        <b>Message from My.jobs</b>
        <p>{{ custom_msg }}</p>
        <b>Message from provider</b>
        <p>{{ saved_search.custom_message }}</p>
        {% endif %}
    {% endif %}
    {% include 'mysearches/email_table_include.html' with saved_search=saved_searches.0 %}
{% endblock %}

{% block footer-right %}
    Sent to: {{saved_searches.0.0.email}}<br>
    Sent as Digest: No<br>
    <a href="https://secure.my.jobs{% url 'unsubscribe' %}?id={{ saved_searches.0.0.id }}&verify={{saved_searches.0.0.user.user_guid}}">{% trans 'Deactivate this saved search' %}</a><br>
    <a href="https://secure.my.jobs{% url 'unsubscribe' %}?id=digest&verify={{saved_searches.0.0.user.user_guid}}">{% trans 'Deactivate all saved searches' %}</a><br>
    <a href="https://secure.my.jobs{% url 'unsubscribe_all' %}?verify={{saved_search.user.user_guid}}">{% trans 'Unsubscribe from all My.jobs emails' %}</a><br>
{% endblock %}
