{% load i18n %}

{% block style %}
{% endblock %}
{% load email_tags %}

<table style="display: table;">
    <tr>
        <td colspan=2>
            <table>
                <tr>
                    <td style="text-align: left;">
                        <a href="https://secure.my.jobs">
                            <img src="https://d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_small.png" alt="My.jobs logo">
                        </a>
                    </td>
                    <td style="text-align: left; vertical-align: middle;"><b>Partner Saved Search Update</b></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            {% include 'mysearches/email_opt_out_message.html' with company=company %}
        </td>
    </tr>
    <tr>
        <td colspan=2 style="padding: 8px; line-height: 20px; border-top: 1px solid #ddd;">
            <p>My.jobs <a href="https://secure.my.jobs{% url 'terms' %}">Terms</a> and <a href="https://secure.my.jobs{% url 'privacy' %}">Privacy</a></p>
        </td>
    </tr>
</table>


