<script>
    var user_email = {% if user %} '{{ user.email }}' {% else %} 'None' {% endif %};
</script>
<link rel="stylesheet" type="text/css" href="//d2e48ltfsb5exy.cloudfront.net/myjobs/tools/widget/def.myjobs.widget.152-06.css">
<div id="direct-saved-search">
    <div class="saved-search-form">
    {% if success %}
        <em class="success">Success</em>{% if not user %}<p>Your search was successfully saved. Results will be sent to {{ success }}.</p>{% endif %}
    {% endif %}
    {% if not search and not success %}
        <input placeholder="Your email address" type="text" id="saved-search-email" name="saved-search-email" {% if user.email %}value="{{ user.email }}"{% endif %}>
        <div class="direct-action-btn" id="saved-search-btn"><a href="#" onclick="save_search();">Save Search to My.jobs</a></div>
        <em class="subtext">Cancel Anytime</em>
    {% elif search %}
                {% if not success %}
                    <p><b>This search is being sent to {{ search.email }}.</b></p>
                {% endif %}
                <div class="direct-action-btn" id="saved-search-edit-btn"><a href="https://secure.my.jobs/saved-search/view/edit?id={{ search.id }}" target="_blank">Edit Search on My.jobs</a></div>
    {% endif %}
    </div>
</div>
