{% load humanize_abbr %}
{% if total %}
    <div>
        <div class="count-box" id="total-{{ id }}" style="width:100%;"
             data-original-title="<span class='count-text count-box-left'>{{ auth|intabbr }}</span> <span class='count-box-right'>&nbsp;{{ type }}{{auth|pluralize }} From My.jobs Users</span>">
            <span class="count-text count-box-left">
                {{ total|intabbr }}
            </span>
            <span class="count-box-right">&nbsp;Total {{ type }}{{ total|pluralize }}</span>
        </div>
    </div>
    <br>
{% endif %}
