<div>
    <div class="count-box" id="total-clicks">
        <span class="count-text">
            {% if total_apply %}
                {{ total_apply }}
            {% else %}
                0
            {% endif %}
        </span>
        <span>Total Application Click{{ total_apply|pluralize }}</span>
    </div>
</div>
<br>

<div>
    <div class="count-box" id="auth-clicks">
        <span class="count-text">
            {% if auth_apply %}
                {{ auth_apply }}
            {% else %}
                0
            {% endif %}
        </span>
        <span>Authenticated Application Click{{ auth_apply|pluralize }}</span>
    </div>
</div>
<br>
