{% load user_ops %}
{% load i18n %}

<div>    
    <div id="count-box">
        <span id="count-text">
            {% if candidates  %}
                {% with candidates|count_candidates as count %}
                    {{ count }}
                {% endwith %}
            {% else %}
                0
            {% endif %}
        </span>
    </div>
</div>
<br>
<div id="export_menu">
    <a href="#" class="toggle_btn">Export Candidate List<i class="icon icon-plus"></i></a>
</div>
<div class="export_options">
    <a class="btn" href="{% url 'export_candidates' %}?company={{ company_id }}&ex-t=csv">CSV</a>    
    <a class="btn" href="{% url 'export_candidates' %}?company={{ company_id }}&ex-t=json">JSON</a>
    <a class="btn" href="{% url 'export_candidates' %}?company={{ company_id }}&ex-t=xml">XML</a>
</div>

