/*DirectEmployers Foundation UI Framework
********************************************************************************
This system is built on Bootstrap, by twitter.

Copyright 2011-13 DirectEmployers Foundation
Updated Apr 10 2014
*******************************************************************************/
/*Load the base bootstrap css (v2.2.1)*/
@import url(//d2e48ltfsb5exy.cloudfront.net/framework/v2/secure/css/code/bootstrap.221.min.css);

/*Load the jquery themeroller css*/
@import url(//d2e48ltfsb5exy.cloudfront.net/framework/v2/secure/css/code/jqsmoothness.css);

/*Document level classes*/

.topbar h3 a {
    padding: 0 20px;
}

.btn {
    padding-top: 6px;
    padding-bottom: 7px;
}

.clear {
    clear: both;
}

.btn.pull-left {
    margin-left: 10px;
}

#focusBox {
    margin-bottom: 10px;
}

html,
body {
    height: 100%;
    background: transparent;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 960px;
    height: auto;
}

header,
footer {
    background-color: transparent;
    color: #fff;
    margin: 0;
}

footer {
    padding-top: 0;
    border-width: 0;
}

.wrapper{
    margin: 0 auto;
    width: 960px;
    display: block;
}

/*Header Level Elements*/
h1 {
    color: #900;
}

h2 {
    line-height: 1;
    font-size: 1.7em;
    color: #333;
}

.h2block {
    background-color: #fff;
    padding: 5px 20px;
    border-width: 1px;
    border-color: #d4d0c5;
    border-style: solid;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.h2block h2 {
    margin-bottom: 10px;
}

p + h2 {
    margin-top: 20px;
}

/*Forms*/
input,
textarea{
    width: auto;
}

/*Tables*/
.rowTitle {
    font-weight: bold;
}

/*Lists*/
li {
    color: #000;
}

dd {
    margin-bottom: 10px;
}

/*Blockquote*/
.section blockquote {
    margin: 10px;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #999;
    border-color: rgba(127,127,127,.5);
    background-color: rgba(255,255,255,.5);
}

/*Contant Containers*/
.hero-unit h1 {
    background: #333;
    color: #fff;
    margin: -60px -60px 0 -60px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-topleft-radius: 6px;
    -moz-border-topright-radius: 6px;
}

.roundedCorners6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.roundedCorners6 > h2 {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-topleft-radius: 6px;
    border-topright-radius: 6px;
}

#focusBox {
    border-width: 8px;
    border-color: #d2cdc1;
    border-color: rgba(187, 181, 165, 0.6);
    border-style: solid;
    background-color: #d7d2c3;
    background-color: rgba(196,190,167,0.6);
    background-clip: padding-box;
    border-radius: 8px;
    padding: 10px;
}

.takeover {
    margin: -10px;
}

.takeover + .takeover {
    margin-top: 20px;
}

.section p,.section dl,.section ol,.section ul {
    padding: 10px;
}

.section .topbar p,.section .topbar ul {
    padding: 0;
}

p.columns{
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
}

p.col3 {
    -moz-column-count:3;
    -webkit-column-count: 3;
    column-count: 3;
}

p.col2 {
    -moz-column-count:2;
    -webkit-column-count: 2;
    column-count: 2;
}

.hide-desktop {
    display: none;
}

/*Footer elements*/
#bottomLinks a {
    color: #fff;
}

#bottomTabs {
    background: #251c02;
    border-width: 0;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color:#a3aeb1;
    border-style: solid;
    color:#fff;
}

#bottomTabs h3 {
    padding-top: 10px;
    color: #fff;
    font-weight: normal;
    line-height: 1em;
    padding-bottom: 5px;
    background-color: transparent;
}

#bottomTabs p {
    line-height: 1.5em;
}

#bottomLinks {
    padding-top: 5px;
    color: #fff;
 }

#bottomLinks a {
    color: #fff;
}

#bottomLinks #footerSubLinks a {
    font-weight: normal;
}

#bottomLinks .subpageLinks a {
    margin-left: 30px;
}

/*Top bar dimensions*/
.topbar-inner {
    background-color: #333;
    height: 30px;
}

.topbar form {
    margin-top: 2px;
}

.topbar fieldset{
    margin-bottom: 0;
}

.topbar-wrapper {
    height: 40px;
    margin: 5px 0 15px;
}

.topbar-wrapper .topbar {
    position: absolute;
    margin: 0;
}

.topbar h3{
    height: 1em;
    margin: 0;
    line-height: 1em;
}

.topbar h3 a {
    height: 26px;
    padding: 4px 0 0 0;
}

.topbar .btn {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0;
    margin-bottom: 10px;
}

/*Grid Structure additions*/
.span-one-fifth {
    width: 172px;
}

.span-two-fifths {
    width: 364px;
}

.span-two-fifths input[type=text] {
    width: 300px;
}

.span-three-fifths {
    width: 556px;
}

/*Text focusing classes*/
em.underline {
    font-style: normal;
    text-decoration:underline;
}

/*Default Page level styles*/
.subpage {
    background-color: #f4f1ee;
    background-position: top left;
    background-repeat: repeat;
    padding-bottom: 20px;
    padding-top: 25px;
}

/*Tablet friendly under 1024*/
@media screen and (max-width:992px) {
    body{
        min-width: 960px;
    }

    .wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .row {
        margin-left: -10px;
    }

    .subpage {
        padding-top: 10px;
    }

    .hide-desktop {
        display: block;
    }

    .hide-tablet {
        display: none;
    }

    .footer a,
    .section a,
    .topbar li a {
        background-color: rgba(255,255,255,.5);
        border-width: 1px;
        border-style: solid;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 6px 25px 7px 25px;
        display: inline-block;
        }
}
/*Single column under 500*/
@media screen and (max-width: 500px) {
    body {
        min-width: 0;
    }

    .row {
        margin-left: 0;
    }

    [class*="span"],
    .span4, .span5, .span6, .span7,
    .span9, .span10, .span11, .span12,
    .span-one-fifth,
    .span-two-fifths,
    .span-three-fifths {
        width: auto;
        margin: 0 10px;
        display: block;
        float: none;
    }

    .offset1, .offset2, .offset3, .offset4,
    .offset5, .offset6, .offset7, .offset8,
    .offset9, .offset10, .offset11 {
        margin-left: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h1.mark span {
        display: block;
    }

    p.col3,p.col2 {
        -moz-column-count:1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    .h2block {
        padding-left: 6px;
        padding-right: 6px;
    }

    .footer a {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    .section p a.btn,
    article p a.btn {
        padding: 6px 10px 7px 10px;
        border-width: 1px;
    }

    .topbar h3 a,
    .topbar .brand {
        float: none;
        border-width: 0;
    }

    .hide-desktop,
    .hide-tablet {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
