#direct_header,
#direct_navigation,
#direct_listingDivTitle,
#direct_horzRule,
#direct_listingDiv,
#direct_disambiguationDiv,
#direct_shareDiv,
#direct_container .direct_highlightedText,
#direct_container hr,
#direct_colophon,
.direct_searchContainer,
a.direct_mobileJumpLink{
    display: none !important;
}
#direct_shareDivHolder {
    display: none !important;
}
#mainContent {
    width: 100%;
    min-width: 600px;
    margin: 0 auto;
    text-align: justify;
    font-family: Helvetica, sans-serif;
}
#SEOheader img,
#contentHeader,
#contentContents {
    padding-left: 20px;
    padding-right: 20px;
}
#contentHeader {
    margin-top: 0px;
}
#contentHeader h2 {
    padding-top: 15px;
padding-bottom: 15px;
}
.releaseNote{
    font-size: .9em;
    font-weight: normal;
    color: #000;
    display: block;
    float: right;
}
#contentContents {
    padding-bottom: 20px;
}
#contentContents p#firstParag{
    margin-top: 5px;
    padding-bottom: 10px;
}
table.settingdisplay {
    margin: 15px 0 15px 30px !important;
    width: 400px;
    display: block;
}
table.settingdisplay tr td{
    width: 200px;
    border-bottom: 1px solid #eee;
}
table.settingdisplay tr:first-child td{
    border-top: 1px solid #eee;
}
#SEOfooter {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DDDDDD;
    border-top: 5px solid #888888;
    height: 40px;
    padding-top: 15px;
    font-size: 11px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 20px;
}
#leftFooter {
    float: left;
    margin-top: 15px;
}
#rightFooter {
    float: right;
    margin-top: -10px;
}
.exampleURL{
    font-weight: bold;
    color: #990000;
}
