.section-header {
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

#direct_container .account-settings-list ul li {
    list-style: disc;
}

#direct_container .account-settings-list ul {
    margin-left: 4%;
}

.indented-section {
    margin-left: 10%;
}

.btn {
    margin-bottom: 10px;
}

.modal-footer .btn {
    float: right;
    margin-right: 5px;
}