@media screen and (max-width:800px){
    .featured_jobListing h4 a {
        padding-left: 30px !important;
    }

    .featured_jobListing .direct_joblocation {
        margin-left: 30px !important;
    }

    .featured_jobListing h4 {
        background-position-y: 6px;
    }
}

html, body {
	background-color: transparent !important;
	-webkit-font-smoothing: antialiased;
}

.direct_dotjobsWideHeader > #direct_dotjobsHeader {
    margin-bottom: 0;
}

#direct_wideFooter > #direct_dotJobsFooter {
	margin-top: 0;
}

.cp-container ul, ol {
	padding: 0;
	margin: 0 0 0 0;
}

.cp-row {
	display: block;
	clear: both;
	margin: 0 auto 0;
	width: 100%;
	padding: 3% 0;
	border-bottom: 2px groove #fff;
}

.cp-row.no-border {
	border-bottom: none;
	padding: 5% 0 0;
}

.cp-row.marquee {
	padding: 2% 0;
}

.cp-row:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.cp-grid-full {
	width: 960px;
	margin: 0 auto;
}

.cp-row-jobs {
	display: block;
	clear: both;
	margin: 0 auto 0;
	width: 100%;
	padding: 3% 0;
	border-bottom: 2px groove #fff;
	background: url("http://seo.nlx.org/my.jobs/img/jobs-banner3.jpg");
}

.cp-row-network {
	display: block;
	clear: both;
	margin: 0 auto 0;
	width: 100%;
	padding: 3% 0;
	border-bottom: 2px groove #fff;
	background: url("http://seo.nlx.org/my.jobs/img/network-banner3.jpg");
}

.cp-grid-half {
	float: left;
	width: 49%;
	margin: 0 2% 0 0;
}

.cp-grid-fourth {
	float: left;
	width: 23%;
	margin: 0 2% 0 0;
}

.cp-row .last {
	margin: 0 0 0 0;
}

.cp-grid-threeFourth {
	float: left;
	width: 73.75%;
	margin: 2% 0;
}

.cp-container h1 {
	margin: 0 0 20px 0;
	color: #4b4b4b;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	font-size: 440%;
	letter-spacing: .01em;
	line-height: 1.1;
	text-shadow: 0 1px 1px #333;
}

.cp-container h2 {
	margin: 0 0 30px 0;
	color: #454140;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	line-height: 1;
	font-size: 400%;
	width: 48%;
	text-shadow: 0 1px 1px #333;
}

.cp-container h4 {
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	line-height: 1;
	font-size: 175%;
	color: #333;
	margin: 0 0 10px;
}

.bot-left {
	position: relative;
}

.bot-left:after {
	content: "";
	position: absolute;
	bottom: -16px;
	left: -16px;
	right: -16px;
	height: 6px;
	background: rgb(232,232,230); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRhNDY0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(232,232,230,1) 0%, rgba(74,70,69,1) 50%, rgba(232,232,230,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(232,232,230,1)), color-stop(50%,rgba(74,70,69,1)), color-stop(100%,rgba(232,232,230,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(232,232,230,1) 0%,rgba(74,70,69,1) 50%,rgba(232,232,230,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(232,232,230,1) 0%,rgba(74,70,69,1) 50%,rgba(232,232,230,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(232,232,230,1) 0%,rgba(74,70,69,1) 50%,rgba(232,232,230,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(232,232,230,1) 0%,rgba(74,70,69,1) 50%,rgba(232,232,230,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e6', endColorstr='#e8e8e6',GradientType=1 ); /* IE6-8 */
	opacity: .5;
}

.cp-row.marquee {
	background: #ECEDED url('http://seo.nlx.org/my.jobs/img/fabric_of_squares_gray2.png') repeat 0 0;
	background: url('http://seo.nlx.org/my.jobs/img/marquee-bg2.png') no-repeat center 400px,
	#ECEDED url('http://seo.nlx.org/my.jobs/img/fabric_of_squares_gray2.png') repeat 0 0;
}

.cp-row.sub-marquee {
	background: #ECEDED url('http://seo.nlx.org/my.jobs/img/fabric_of_squares_gray2.png') repeat 0 0;
	background: url('http://seo.nlx.org/my.jobs/img/marquee-bg2.png') no-repeat center 124px,
	#ECEDED url('http://seo.nlx.org/my.jobs/img/fabric_of_squares_gray2.png') repeat 0 0;
}

/* ======================== begin EMPLOYERS ICON NAVIGATION ======================*/
.navigation {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	width: 100%;
	margin: 0 auto;
}

.navigation li {
	display: inline-block;
	margin-right: 5.15787%;
	width: 15.545217%;
}

.navigation li.last {
	margin-right: 0;
}

.navigation a {
	color: #4B4B4B;
	font-size: 150%;
	display: block;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid transparent;
	border-radius: 80px;
	padding: 30px 0;
}

.navigation a:hover{
	background: #fff;
	color: #4b4b4b !important;
}

.navigation a .nav-icon {
	background: url('http://seo.nlx.org/my.jobs/img/nav-icons.png') no-repeat 0 0;
	width: 54px;
	height: 50px;
	margin: 0 auto 10px;
	display: block;
}

.navigation a#employers .nav-icon {
	background-position: 11px 0;
}

.navigation a#story .nav-icon {
	background-position: -46px 0;
}

.navigation a#products .nav-icon {
	background-position: -115px 0;
}
.navigation a#portfolio .nav-icon {
	background-position: -185px 0;
}
.navigation a#blog .nav-icon {
	background-position: -255px 0;
}

.navigation .selected-tab a#employers .nav-icon {
	background-position: 11px -68px;
}

.navigation .selected-tab a#story .nav-icon {
	background-position: -46px -68px;
}

.navigation .selected-tab a#products .nav-icon {
	background-position: -115px -68px;
}

.navigation .selected-tab a#portfolio .nav-icon {
	background-position: -185px -68px;
}

.navigation .selected-tab a#blog .nav-icon {
	background-position: -255px -68px;
}
.navigation a:hover {
	background: none;
}
.navigation li{
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.navigation ul ul li {
	margin-right: 0;
	border-bottom: 1px solid #D8DDE2;
	border-radius: 0;
	display: block;
	text-align: center !important;
}

.navigation > ul > li:nth-child(3) > div > ul > li:nth-child(2) {
	border-bottom: none;
}

.navigation ul ul li:hover {
	border-radius: 8px;
}

.navigation li:hover {
	background-color: #fff;
	border-radius: 80px;
}

.navigation ul li.selected-tab:hover {
	background-color: transparent;
}

/* ======================== end EMPLOYERS ICON NAVIGATION ======================*/
#tagline {
	text-align: center;
	width: 100%;
	margin: 2% auto;
	display: block;
}

#tagline > h1 > span {
	font-weight: 400;
}

#tagline > p {
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	font-size: 180%;
	line-height: 1.6;
	color: #4b4b4b;
	width: 90%;
	margin: 0 auto;
}

.video-button {
	background: url('http://seo.nlx.org/my.jobs/img/play-button.png') no-repeat 0 0;
	width: 68px;
	margin: 24px auto 0;
	display: block;
	padding: 70px 0 0;
	color: #4b4b4b;
	text-align: center;
}

.video-button:hover {
	color: #4b4b4b !important;
	opacity: .5;
}

#schedule-demo {
	margin: 8% auto 0;
	font-size: 150%;
	text-align: center;
	line-height: 1.4;
}

#schedule-demo .demo-button, .button-secondary {
	margin-bottom: 10px;
	padding: 8px 16px;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-size: 120%;
	font-weight: 400;
	background: #a3be5b;
	border: 1px solid;
	color: #fff;
	border-radius: 24px;
}

#schedule-demo .demo-button:hover, .button-secondary:hover {
	border-color: transparent;
	background: #8fbe8f;
	color: #fff;
}

.button-secondary {
	background: #364E81;
}

.button-secondary:hover {
	background: #4d4d4d;
	color: #fff !important;
}

#schedule-demo span {
	display: block;
	margin-top: 10px;
}

#schedule-demo.schedule-demo-employers-page {
	margin: 3% auto 0;
}

/* ======================== begin CAMPAIGN ROW ======================*/
.campaign-row .campaign-module a {
	width: 100%;
	height: 212px;
	display: block;
	border: 1px solid #EBEBEB;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: 100%;
}

#campaign-1 a {
	background-image: url('http://de.nlx.org/dot-jobs-banners/prm-banner.jpg');
}

#campaign-2 a {
	background-image: url('http://de.nlx.org/dot-jobs-banners/deam15-banner.jpg');
}

#campaign-3 a {
	background-image: url('http://de.nlx.org/dot-jobs-banners/ec-banner.jpg');
}

/* ======================== end CAMPAIGN ROW ======================*/
/* ======================== begin VIDEO POP OVER ======================*/
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	display: none;
}

.modal{
	display: none;
	background:#eee;
	margin: 0;
	padding:0 20px 20px;
	overflow:auto;
	z-index: 9999;
	position:absolute;
	width: 560px;
	min-height: 315px;
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}

#video-button-mobile {
	display: none;
}

a.closeBtn {
	float: right;
	font-weight: bold;
	color: #4d4d4d !important;
	text-decoration: none !important;
}

/* ======================== end VIDEO POP OVER ======================*/

/* ======================== begin BIG QUOTE ======================*/
.quote {
	background: #4b4b4b;
}

.quote p {
	font-size: 260%;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 300;
	color: #fff;
	line-height: 1.2;
}

p.quote-attribution {
	font-size: 200%;
}

/* ======================== end BIG QUOTE ======================*/

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

#toggleNav {
	display: none;
}

#direct_container a.back-to-top {
	display: none;
}

/* ============================ styles for use on custom page configuration ============================ */


/* ======================== begin PRDUCTS ======================*/


.bold {
	font-weight: bold;
}

.cp-grid-oneFourth.product-blurb {
	float: left;
	width: 31%;
	margin: 0 0 0 0;
}

.cp-grid-threeFourth.product-blurb {
	width: 67%;
	margin: 0 0 0 0;
}

.cp-grid-oneFourth.product-blurb.last, .cp-grid-threeFourth.product-blurb.last {
	margin: 0 0 0 0;
	float: right;
}

.product-img-right, .product-img-left {
	display: block;
	width: 306px;
	position: absolute;
	margin-top: 0;
}

.product {
	width: 100%;
	height: 100%;
	padding: 50% 0;
	opacity: .7;
}

.product-blurb > p {
	font-size: 138%;
	line-height: 1.2;
	padding: 0 0 0;
	color: #454140;
}

.white, .ltgray, .gray, .dkgray, .red {
	min-height: 100%;
	padding: 5% 0;
}

.cp-container h2 {
	margin: 0 0 10px 0;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	line-height: 1;
	font-size: 320%;
	width: auto;
}

.dkgray .product-blurb > p,
.gray .product-blurb > p,
.red .product-blurb > p,
.cp-container .dkgray h2,
.cp-container .gray h2,
.cp-container .red h2 {
	color: #fff;
}

.white .product-blurb > p,
.ltgray .product-blurb > p,
.cp-container .white h2,
.cp-container .ltgray h2 {
	color: #454140;
}

.campaign-row.white-plain {
    background-color: white;
}

.white {
	background: url('http://seo.nlx.org/my.jobs/img/white-bg2.jpg');
}

.ltgray {
	background: url('http://seo.nlx.org/my.jobs/img/ltgray-bg2.jpg');
}

.gray {
	background: url('http://seo.nlx.org/my.jobs/img/gray-bg2.jpg');
}

.dkgray {
	background: url('http://seo.nlx.org/my.jobs/img/dkgray-bg2.jpg');
}

.red {
	background: url('http://seo.nlx.org/my.jobs/img/red-bg2.jpg');
}

#product-1 {
	background: url('http://seo.nlx.org/my.jobs/img/flexible-306.png') no-repeat center 0;
	margin-top: -82px;
}

#product-2 {
	background: url('http://seo.nlx.org/my.jobs/img/2visibility-306.png') no-repeat center 42px;
	margin-top: -52px;
}

#product-3 {
	background: url('http://seo.nlx.org/my.jobs/img/experience-306.png') no-repeat center 0;
	margin-top: -82px;
}

#product-4 {
	background: url('http://seo.nlx.org/my.jobs/img/responsive-306.png') no-repeat center 0;
	margin-top: -52px;
}

#product-5 {
	background: url('http://seo.nlx.org/my.jobs/img/social-306.png') no-repeat center 0;
	margin-top: -52px;
}

#product-6 {
	background: url('http://seo.nlx.org/my.jobs/img/global-306.png') no-repeat center -24px;
	margin-top: -52px;
}

#product-7 {
	background: url('http://seo.nlx.org/my.jobs/img/analytics-306.png') no-repeat center 0;
	margin-top: -52px;
}

#product-8 {
	background: url('http://seo.nlx.org/my.jobs/img/locks2.png') no-repeat center 0;
	margin-top: -52px;
}

#product-9 {
	background: url('http://seo.nlx.org/my.jobs/img/stamp4.png') no-repeat center 0;
	margin-top: -52px;
}

#direct_container .cp-container .product-blurb a {
	background: #922B2C;
	color: #fff;
	padding: 4px 6px;
	border-radius: 5px;
}

.cp-container .product-blurb a:hover {
	color: #fff !important;
	background: #666;
}

.cp-container h3 {
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-weight: 700;
	line-height: 1;
	font-size: 240%;
	color: #333;
	margin: 30px 0 20px;
	text-align: center;
}

.product-blurb.last img {
	float: right;
}

#direct_container .product-blurb li {
	list-style: disc;
	list-style-position: outside;
	text-align: left;
	font-size: 138%;
	color: #454140;
	margin: 0 0 0 30px;
	width: 90%;
}

.portfolio-img, .cs-img{
	margin-bottom: 10px;
	padding: 32.5% 0;
	border: 1px solid #ababab;
	display: block;
}

.cs-img {
	padding: 0;
}

#case-study-1 {
	background: #fff url('http://seo.nlx.org/my.jobs/img/portfolio-starbucks-logo2.jpg') no-repeat 0 0;
	background-size: 100%;
}

#case-study-2 {
	background: #fff url('http://seo.nlx.org/my.jobs/img/portfolio-ironmountain-logo2.jpg') no-repeat 0 0;
	background-size: 100%;
}

#case-study-3 {
	background: #fff url('http://seo.nlx.org/my.jobs/img/portfolio-rei-logo2.jpg') no-repeat 0 0;
	background-size: 100%;
}

#case-study-4 {
	background: #fff url('http://seo.nlx.org/my.jobs/img/portfolio-providence-logo2.jpg') no-repeat 0 0;
	background-size: 100%;
}

.slide-text-top {
	margin: 24px 0 0 10px;
	color: #fff;
	font-size: 200%;
	line-height: 1;
	position: absolute;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.slide-text {
	padding: 24px 6px;
	color: #fff;
	font-size: 250%;
	background: #252525;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1MjUyNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #252525 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #252525 0%,#000000 100%);
	background: -o-linear-gradient(top,  #252525 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #252525 0%,#000000 100%);
	background: linear-gradient(to bottom,  #252525 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#000000',GradientType=0 );
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
	background: #fff;
	border-radius: 40px;
}

.flex-control-paging li a.flex-active {
	background: #879141;
}

.flex-direction-nav .flex-prev {
	background: #fff url('http://seo.nlx.org/my.jobs/img/prev-button.png') no-repeat 5px 7px;
}

.flex-direction-nav a {
	width: 50px;
	height: 50px;
	border: 1px solid #96a0aa;
}

.flex-direction-nav .flex-next {
	background: #fff url('http://seo.nlx.org/my.jobs/img/next-button.png') no-repeat 22px 7px;
}

.flex-direction-nav a.flex-prev:before, .flex-direction-nav a.flex-next:before  { content: ''; }
/* Loading
***********************/
.loading #container {opacity: 0;}
.loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: #fff; font-weight: bold; font-size: 60px; opacity: 0.3; }
body {width: 100%; float: left; opacity: 1; -webkit-transition: opacity 1s ease;}
/* ========================= begin TIMELINE ============================== */

#timeline div.slider {
	background: #f2f2f2 url('http://seo.nlx.org/my.jobs/img/jobs-symbol4.png') no-repeat center center;
}

#timeline div.flexslider.carousel {
	background: url('http://seo.nlx.org/my.jobs/img/timeline-graphic2.png') no-repeat center 592px;
}

.flex-control-nav {
	width: 12%;
	position: relative;
	xbottom: 0;
	float: right;
	margin: -12px 0 0;
	z-index: 99;
}

#timeline .flex-control-nav {
	width: 100%;
	position: absolute;
	margin: 10px 0 0;
	float: right;
	z-index: 99;
	top: 0;
}

#timeline .flex-direction-nav .flex-prev, #timeline .flex-direction-nav .flex-next {
	background: #333;
	border-radius: 0;
}

#timeline .slide-text2 {
	padding: 40px 94px 30px;
	border: 1px solid #333;
	box-shadow: inset 0 0 4px #464646;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	min-height: 600px;
}

#timeline .slide-text2 p {
	color: #454140;
	font-size: 100%;
	font-size: 130%;
	line-height: 1.4;
}

#timeline .slide-text2 h3 {
	color: #454140;
	font-size: 180%;
}

#timeline .slide-text2 h4 {
	color: #454140;
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

#timeline .flex-control-nav li {
	margin: 0 2px;
}

#timeline .flex-control-paging li a.flex-active {
	background: #666;
	color: #fff;
}

#timeline .flex-control-paging li a:hover {
	background: #666;
	color: #fff !important;
}

#timeline .flex-control-paging li a {
	width: 25%;
	height: 26px;
	text-align: center;
	display: block;
	background: #922B2C;;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	text-indent: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	padding: 6px;
	line-height: 1;
	font-size: 130%;
	display: table-cell;
	vertical-align: middle;
}

#timeline .flex-direction-nav a {
	top: 40%;
	padding: 48px 10px 32px;
	width: 32px;
	margin: -20px -4px 0;
	-webkit-transition: all 0s ease;
	transition: all 0s ease;
	color: #fff;
	font-size: 130%;
	background: rgba(0, 0, 0, 0.2);
}

#timeline .flex-direction-nav a:hover {
	color: #fff !important;
	background: #666;
}

#timeline .flex-direction-nav .flex-next {
	right: 0;
	text-align: right;
}

#timeline .slider > div > ol > li:nth-child(1) > a:after {
	content: "2010";
}

#timeline .slider > div > ol > li:nth-child(2) > a:after {
	content: "2011";
}

#timeline .slider > div > ol > li:nth-child(3) > a:after {
	content: "2012";
}

#timeline .slider > div > ol > li:nth-child(4) > a:after {
	content: "2013";
}

/* ========================== end TIMELINE =========================== */
.sub-head {
	font-size: 180%;
}

.italic {
	font-style: italic;
}

.cp-container ul.key-points {
	font-size: 150%;
	margin-left: 30px;
}

.cp-container ul.key-points li{
	margin: 5px 0;
}

.breadcrumb {
	font-size: 120%;
}

.breadcrumb a {
	color: #922B2C;
}

.next-product {
	float: right;
}

.cp-container #case-study h3 {
	margin: 0 0 40px 0;
	text-align: center;
}

.cp-container .quick-link a {
	background: #922B2C;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	display: inline-block;
	margin: 0 0 5px;
	font-size: 140%;
}

.cp-container ul.quick-link {
	float: left;
	width: 32%;
	margin: 0 0;
}
/* ========================== begin HOMEPAGE =========================== */

#save {
	background: url('http://seo.nlx.org/my.jobs/img/save-icon.png') no-repeat center 0;
}

#share {
	background: url('http://seo.nlx.org/my.jobs/img/share-icon.png') no-repeat center 0;
}

#control {
	background: url('http://seo.nlx.org/my.jobs/img/control-icon.png') no-repeat center 0;
}

#connect {
	background: url('http://seo.nlx.org/my.jobs/img/connect-icon.png') no-repeat center 0;
}

#mkt-icons {
	margin-top: 4%;
}

#mkt-icons p {
	margin: 10px 0 0 0;
	font-size: 80%;
}

#mkt-icons  .cp-grid-oneFourth {
	float: left;
	width: 23.5%;
	margin: 0 2% 0 0;
	padding: 56px 0 0;
	text-align: center;
	color: #333;
	font-size: 150%;
}

#mkt-icons  .cp-grid-oneFourth.last, #browse-sites .cp-grid-oneFourth.last a{
	margin: 0 0 0 0;
}

#browse-sites .cp-grid-oneFourth a {
	float: left;
	width: 23%;
	margin: 0 2% 0 0;
	background: #922B2C;
	border-radius: 12px;
	padding: 20px 0;
	text-align: center;
	color: white;
	font-size: 150%;
	border: 1px solid #fff;
}

#browse-sites .cp-grid-oneFourth a:hover {
	border: 1px solid #922B2C;
}

.carousel-icon {
	margin: 0 10px 0 10px;
}

#company-links {
	margin: 28px 0 0 0;
	text-align: center;
}

a.companyLink {
	font-weight: bold;
	padding: 5px 14px;
	display: inline-block;
	height: 20px;
	margin-top: -5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	color: #fff;
}

a.companyLink:hover {
	color: #fff !important;
	background-color: #5a6d81;
}

.lt-gray, .gray {
	min-height: 100%;
	background: #4b4b4b;
}

.cp-container h2.homepage {
	color: white;
}

.action-buttons {
	margin: 0 auto 3%;
	text-align: center;
}

#create-profile.create-profile, #employers-page.employers-page {
	margin: 1%;
	font-size: 150%;
	text-align: center;
	line-height: 1.4;
	clear: both;
	display: inline-block;
}

#create-profile .profile-button, #employers-page .employers-button {
	padding: 8px 16px;
	font-family: 'Roboto Slab', Georgia, "Times New Roman", Times, serif;
	font-size: 120%;
	font-weight: 400;
	background: #922B2C;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 24px;
	width: 156px;
	display: block;
}

#create-profile .profile-button:hover, #employers-page .employers-button:hover {
	border: 1px solid #922B2C;
	color: #fff !important;
}


/* ========================== end HOMEPAGE =========================== */
@media screen and (max-width: 800px) {
	.cp-grid-full {
		width: 92%;
		padding: 0 4%;
	}

	#standardSearch {
		background: transparent;
	}

	#direct_container #direct_header {
		margin: 0;
		background: white;
		padding-bottom: 14px;
		border-bottom: 2px solid #999;
	}

	.navigation a {
		font-size: 120%;
	}

	#direct_container a, #direct_container a:hover {
		background-color: transparent;
		border-color: transparent;
	}

	#direct_container .navigation a:hover, .navigation li:hover {
		background-color: transparent;
		border-color: transparent;
		color: #4b4b4b !important;
	}

	#tagline > p {
		font-size: 154%;
		width: 98%;
	}

	.cp-container h1 {
		font-size: 300%;
	}

	.cp-container h2 {
		font-size: 280%;
	}

	.campaign-row .campaign-module a {
		height: 136px;
	}

	.lt-gray, .gray {
		min-height: 500px;
		background: #4b4b4b;
	}

	.video-button, .overlay, .modal {
		display: none;
	}

	.navigation li {
		margin-right: 5%;
	}

	#video-button-mobile {
		display: inline-block;
		margin: 20px 0 0;
	}

	#video-button-mobile a {
		background: url('http://seo.nlx.org/my.jobs/img/play-button.png') no-repeat 0 0;
		color: #4b4b4b;
		padding: 70px 0 0;
		width: 68px;
		display: block;
	}

	#direct_container #video-button-mobile a:hover {
		border-color: transparent;
		background-color: transparent;
		color: #4b4b4b !important;
	}

	.product-img-left, .product-img-right {
		position: relative;
		width: 100%;
	}

	#product-1, #product-2, #product-3, #product-4, #product-5, #product-6, #product-7 {
		background-size: 100%;
	}

	.quote p {
		font-size: 190%;
	}

	.cp-grid-threeFourth.product-blurb {
		width: 60%;
	}

	#direct_container .hp-searchTab {
		float: none;
		width: 100%;
		margin: 0 0 2% 0;
		padding-right: 0%;
	}

	input[type="submit"] {
		margin: 0 0 0 0;
	}

	#browse-sites .cp-grid-oneFourth a {
		width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.navigation a {
		font-size: 90%;
	}

	.product-blurb > p {
		font-size: 100%;
	}

	.lt-gray {
		min-height: 100%;
	}

	.gray {
		min-height: 100%;
	}

	.quote p {
		font-size: 160%;
	}
	/* //////////////////////// begin MOBILE NAVIGATION \\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
	#mobile-menu-icon {
		background: #fafafa url('http://seo.nlx.org/my.jobs/img/fabric_of_squares_gray2.png') repeat 0 0;
	}

	.navigation {
		display: none;
	}

	#toggleNav {
		background: #333;
		font-size: 125%;
		font-weight: normal;
		color: #fff !important;
		padding: 10px;
		display: inline-block;
		margin: 3% 4% 1% 0;
		float: right;
		cursor: pointer;
	}

	.navigation li {
		display: block;
		margin-right: 0;
		width: 100%;
		background: rgba(0, 0, 0, 0.14);
		border-bottom: 2px groove #fff;
	}

	.navigation a {
		font-size: 150%;
		border-radius: 0px;
		padding: 20px 0;
	}

	.navigation a .nav-icon {
		width: auto;
		height: auto;
		margin: 0;
		background: none;
	}
	/* //////////////////////// end MOBILE NAVIGATION \\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
	.cp-container h1 {
		font-size: 250%;
	}

	#tagline > p {
		font-size: 140%;
	}

	#schedule-demo .demo-button, .button-secondary {
		padding: 4px 12px;
		font-size: 110%;
	}

	.cp-container h2 {
		font-size: 230%;
		width: 100%;
		margin-top: 3%;
	}

	.bot-left:after {
		bottom: -12px;
		left: -12px;
		right: -12px;
		height: 4px;
	}

	.product-blurb > p {
		padding: 0 0 0;
		font-size: 120%;
	}

	.campaign-row .campaign-module a {
		height: auto;
		padding: 62px 0;
	}

	.cp-grid-half.product-blurb, .cp-grid-oneFourth.product-blurb , .cp-grid-threeFourth.product-blurb  {
		width: 100%;
	}

	.product-img-left, .product-img-right {
		position: relative;
		width: 70%;
		margin: 4% auto;
	}

	#product-1, #product-2, #product-3, #product-4, #product-5, #product-6, #product-7 {
		background-size: 100%;
	}

	#direct_container a.back-to-top {
		display: block;
		background-color: #333;
		padding: 4%;
		color: #fff;
		font-size: 150%;
		text-align: center;
	}

	.quote p {
		font-size: 150%;
	}

	.cp-grid-half.product-blurb, .cp-grid-oneFourth.product-blurb , .cp-grid-threeFourth.product-blurb  {
		width: 100%;
	}

	.product-img-left, .product-img-right {
		position: relative;
	}

	.cp-grid-half {
		float: left;
		width: 100%;
		margin: 0 0 0 0;
	}

	.cp-container ul.quick-link {
		width: 94%;
	}

	#timeline {
		display: none;
	}
}

#direct_container {
	padding: 0 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 100% !important;
	background: transparent !important;
}

.cp-container h2 {
	margin: 0 0 40px 0;
	text-align: center;
}

#direct_dotjobsHeader h1{
	background: none;
}

#direct_dotjobsHeader h1 > a{
	background: url(http://d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_md.145-03.png) center 20px no-repeat;
	display: inline-block;
	margin-left: -320px;
}

#direct_tagline{
	display: inline-block;
	padding-top: 0;
	position: absolute;
	margin-top: 56px;
	font-size: .7em;
	margin-left: 10px;
    padding-left: 25px;
    width: 500px;
    text-align: left;
}

#direct_dotjobsHeader h1 #direct_tagline a{
	display: inline-block;
	text-indent: 0;
	width: auto;
	height: auto;
	font-weight: bold;
}

#direct_dotjobsHeader h1 #direct_tagline a:hover{
	color: #922B2C;
	text-decoration: underline;
}

.cp-row.marquee {
background: #ECEDED url('http://seo.nlx.org/my.jobs/img/fabric_of_squares_gray2.png') repeat 0 0;
}
/* ============================ begin SEARCH ============================ */
#standardSearch {
    background-color: #ffffff;
}

#direct_container div.row.standard > .searchHeader > .searchTab {
	width: 432px;
}

#direct_container .standard .searchTab input {
	display: block;
	width: 422px;
}

#direct_container #standardSearch .searchHeader {
	background-color: #f2f2f2;
	height: 64px;
	border-bottom: none;
	background: #E7E8EB;
	background: rgba(214,218,226,.35);
	padding: 6px 14px 20px;
}

#direct_container .searchFooter {
	background: #E7E8EB;
	background: rgba(214,218,226,.35);
	border-top: none;
    box-sizing: border-box;
	padding: .25%;
}

#direct_container .btn.primary {
	background-color: #5a6d81;
	border-color: #5a6d81;
	color: #fff !important;
	filter: none !important;
	background-position: -2px 0;
	background-image: url(/files/button-gradient-33.png);
	height: 33px;
	margin-top: 29px;
}

#direct_container .btn.primary {
	text-indent: -9000px;
}

#direct_container .btn.primary:hover {
	background-color: #5a6d81;
	border-color: #5a6d81;
	color: #fff !important;
	filter: none !important;
	background-position: -2px 0;
	background-image: url(/files/button-gradient-33.png);
}

.action-title {
	font-size: 110%;
	font-weight: bold;
	display: block;
}
