.products-field ul {
    display: inline-block;
}

.products-field ul {
    list-style: none;
    margin-left: 0;
    padding-bottom: 0;
}


.field-job_limit > div > ul,
.job-limit-field > ul,
.field-products > div > ul,
.field-apply_type > div > ul,
.field-post_to > div > ul,
.field-site_packages > div > ul,
.field-customer-of > div > ul,
.post-to-field > ul,
.customer-of-field > ul,
.application-method-field > ul {
    list-style: none;
    display: table;
    padding: 0;
}

.field-job_limit > div > ul > li,
.job-limit-field > ul > li,
.field-products > div > ul > li,
.field-apply_type > div> ul > li,
.field-site_packages > div > ul > li,
.field-post_to > div > ul > li {
    list-style-type: none;
}

#id_exp_date_0,
#id_exp_date_1 {
    width: 130px;
}

.companyuser-validation-label {
    margin-left: 10px;
    margin-top: 0;
    position: absolute;
}

.header {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.purchasedjob-request-field {
    display: table-row;
}

/* Job posting location formset styles */
[id$=-DELETE],
[for$=-DELETE] {
    display: none;
}

#job-location-display .location-display div {
    display: inline-block;
    width: 50%;
}

#job-location-display .location-display div:nth-child(2) {
    text-align: right;
    vertical-align: middle !important;
}

.location-display + .location-display {
    border-top: 1px solid #e6e6e6;
}

.location-display:last-of-type {
    margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
    .location-display {
        height: auto;
    }

    .location-display + .location-display {
        padding-top: 5px;
        margin-top: 5px;
    }
}

fieldset > div > .card-wrapper {
    margin-left: 20px;
    margin-top: 15px;
}

fieldset > div > .card-wrapper > .product-card {
    padding-right: 10px;
}
