body {
background-color:#ccc;
}

#container {
width: 900px;
margin:auto;
background-color:#FFF;
border:1px solid black;
padding:0 10px;
}

#listingDiv{
float:left;
}

#disambiguationDiv{
float:right;
}

#navigation{
margin:20px 0 0 0;
}

#navMenu{
padding-bottom:5px;
}

#navMenu a{
padding-right:10px;
font-weight:bold;
}

#subNavMenu{
padding-left:5px;
}

#header img{
margin:0 6px;
}

#clearDiv{
clear:both;
}
