#direct_subNavMenu {
    position:relative;
    z-index: 2;
}

#direct_navMenu a#country2.country, #direct_navMenu a#city2.city, #direct_navMenu a#state2.state, #direct_navMenu a#title2.title, #direct_navMenu a#facet2.facet {
    padding: 2px 16px 10px;
    position: relative;
	z-index: 99;
}

#direct_navMenu {
	position:relative;
	z-index: 99;
}

#browseBox #branchTabs div{
	height: 177px;
}
.direct_dotjobsBillboardImageBackground span.hotspotWrapper{
    filter:alpha(opacity=100) !important;
    opacity:1 !important;
}
