{% extends 'static_page.html' %}
{% block site-title %}
        <title>.JOBS Overview</title>
        <meta name="title" content="About My.jobs">
{% endblock site-title%}
{% block meta-extra %}{% endblock %}
{% block header %}
    <h1>About My.jobs</h1>
{% endblock header %}
{% block text %}

    <div>
        <p>
        As the hub of the .JOBS Network of sites, My.jobs acts as a starting point to match those looking for a 
        new job with those who want to hire them. By utilizing keywords and locations for the URL naming structure, 
        the network strives to create a page that is relevant to all job seekers, regardless of location, occupation 
        or specialty. For example, engineers can start their search at <a href="http://engineering.jobs">http://engineering.jobs</a>
        and people living in Columbus, Ohio can begin their search at <a href="http://ohio.jobs">http://ohio.jobs</a>.
        You can rest assured that the jobs listed on each network site are current, open positions from verified 
        employers. With over 1 million job opportunities available stateside, and many more located internationally, 
        My.jobs is poised to help you begin your job search and develop your career path.
        </p>
        <h2>How My.jobs Can Work for You</h2>
        <p>
        With the overabundance online job resources of today, it can be difficult to determine the best place for 
        you to find jobs from credible employers. You can search over 2 million jobs from 
        thousands of employers, all updated daily, save searches based on your keyword and geographical criteria, 
        and apply for jobs with just a few clicks of your mouse. And when you apply for a job, My.jobs sends you directly to the 
        employers listing on their site, connecting you with the employer without any go-between forms or technologies. 
        My.jobs has also been awarded TRUSTe's Privacy 
        Seal signifying that our privacy policy and practices have been reviewed for compliance in regards to the 
        collection and use of our job seeker’s personal information. All of this combined with its ease of use, 
        flexible functionality and direct connection to employers makes My.jobs a preferred and safe place to 
        search for your next career. 
        </p>


        <h2>Who Runs My.jobs</h2>
        <p>
        My.jobs is powered by <a href="http://directemployers.org" target="_blank">DirectEmployers Association</a> 
        in partnership with  <a href="http://www.goto.jobs" target="_blank">EmployMedia</a>, the registrar of the 
        .JOBS top-level domain (TLD).
        </p>

        <p>
        My.jobs is a joint venture of <a href="http://directemployers.org" target="_blank">DirectEmployers Association</a> 
        and <a href="http://www.goto.jobs" target="_blank">EmployMedia</a>.
        </p>
    </div>
{% endblock text %}
