{% extends 'static_page.html' %}
{% block site-title %}
        <title>.JOBS Overview</title>
        <meta name="title" content=".JOBS Overview">
{% endblock site-title%}
{% block meta-extra %}{% endblock %}
{% block header %}
    <h1>About My.jobs</h1>
{% endblock header %}
{% block text %}

    <div>
        <p>
        My.jobs is the hub for the my.jobs network, a system of sites using .jobs top level domain. The goal of 
        the network is to match those looking for a new job with those who want to hire them. utilizing keywords 
        and locations as domain names, the network strives to create a page that is relevant to each and every 
        person, highlighting what is useful and trimming what is not. Thus engineers can start at 
        <a href="http://engineering.jobs">http://engineering.jobs</a> and Buckeyes can start at 
        <a href="http://ohio.jobs">http://ohio.jobs</a>, both knowing that jobs they are not interested in have 
        already been filtered out. Or you can start http://www.my.jobs if you want to see everything.
        </p><p>
        My.jobs goal is to match you with the perfect job. We have over 1 million open positions from more than 
        2000 employers in every US state (and even international positions). Employers on our sites are looking 
        for you. We want to help you find them in turn.
         </p>
        <h2>What My.jobs is Not</h2>
        <p>
        My.jobs is not an applicant tracking system. This means you don’t actually apply for a job on the network 
        site. Instead, when you click on the apply button, you will be directed to the listing on the employer’s 
        system. This means you only have one application to fill out, and you are removing any middlemen between 
        you and the employer. 
        </p><p>
        My.jobs is also not another social network. Our goal is to provide you tools you need to find and apply 
        for a job. Extra bells and whistles just get in the way of that, and have been solved elsewhere.
        </p>        
        <h2>Who Runs My.jobs</h2>
        <p>
        My.jobs is a joint venture of <a href="http://directemployers.org" target="_blank">DirectEmployers Association</a> 
        and <a href="http://www.goto.jobs" target="_blank">EmployMedia</a>.
        </p>
    </div>
{% endblock text %}
