{% extends "seo_base.html" %}
{% load i18n %}
{% load seo_extras %}
{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">
{%endblock%}
{% block directseo_title %}
{{site_title}} - {{group|capfirst}} Companies{%if alpha and alpha != 'all' %} beginning with {{alpha|upper}}{%endif%}
{% endblock %}
{% block seo_description %}{% endblock %}
{% block directseo_main_content %}
<h3 class="direct_highlightedText">
{% with alpha2=alpha|upper group2=group|capfirst %}
    {{ group2 }} companies {%if alpha and alpha != 'all' %} beginning with "{{ alpha2 }}"{%endif%} with open positions
{%endwith%}        
</h3>
{% if group != 'featured' %}
<div id="direct_allCompanyFilters">
<div id="direct_allCompanyQuickLookup">
    {% with alpha|upper as alpha2 %}
    {% if group == "all" %}
    {% blocktrans %} Find a company that starts with "{{alpha2}}":{%endblocktrans%}
    {% else %}
    {% blocktrans %} Find a {{group}} company that starts with "{{alpha2}}":{%endblocktrans%}
    {% endif %}
    <br/>    
    {%endwith%}
    <input type='text' id="all_company_search_text"/>
    <input type="button" value="Go" id="all_company_search_btn"/>    
</div>

<div id="direct_allCompanyAlphaFilter">  
    {% for filter in alpha_filters %}
        <a class="btn{%if alpha == filter%}  btn-primary{%endif%} alpha-{{filter}}" href="/{{group}}-companies/{{filter}}/">{{filter}}</a>
    {% endfor %}
</div>
</div>
{% endif %}
{% if column_count %}
{% for company in company_data %}
    {% if forloop.first %}    
    <div class="company_group">
        <ul>
    {% endif %}    
            <li class="company">
                <a href="{{company.url}}">{{company.name}}</a>                
            </li>    
    {% if forloop.counter|divisibleby:column_count %}
        </ul>
    </div>
    <div class="company_group">
        <ul>
    {% endif %}
    {% if forloop.last %}
        </ul>
    </div>
    {% endif %}
{% endfor %}
{% else %}
    {% if alpha %}
    <div class="no_company_group">
        <ul>
            <li>
            {% if group == "all" %}
            There are no companies beginning with <b>{{alpha|upper}}</b> that have jobs on this site.
            {% else %}
            There are no {{group}} companies beginning with <b>{{alpha|upper}}</b> that have jobs on this site.
            {% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
{% endif %}
    <div id="direct_supportMessage"><b>The <a href="http://www.my.jobs">My.jobs Network</a> is available through the financial support of <a href="http://directemployers.org">DirectEmployers Association</a> member companies.</b></div>
    <div style="text-align: center;" class="row" id="direct_allCompaniesFamilyLinks">
        {% if group = "all" or group = "member" %}    
            {% if featured == "true" %}
            <a class="companyLink" href="/featured-companies/">
                {% blocktrans %}Featured Companies{% endblocktrans %}
            </a>
            {% endif %}
        {% endif %}
        {% if group = "all" or group = "featured" %}
        <a class="companyLink" href="/member-companies/">
            {% blocktrans %}Member Companies{% endblocktrans %}
        </a>
        {% endif %}
        {% if group = "member" or group = "featured" %}
        <a class="companyLink" href="/all-companies/">
            {% blocktrans %}All Companies{% endblocktrans %}
        </a>
        {% endif %}
    </div>    
<script>
link_list = [];
$(".company_group li a").each(function(){
    display = $(this).html()
    url = $(this).attr('href')
    link_list.push({label:display,value:display,url:url});
});
selected_company = "";
$("#direct_allCompanyQuickLookup input").autocomplete({
    source: link_list,
    focus: function(event,ui){
        selected_company = ui.item.url;
    },
    select: function(event,ui){
        window.location.href=ui.item.url;
    }
});
$("#all_company_search_btn").click(function(){
    window.location.href=selected_company;
});
</script>
{% endblock %}
