{%load seo_extras %}
<link rel="stylesheet" type="text/css" href="/style/style.css?version={{site_config.id}}-{{site_config.revision}}">
<!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styleIE.css">
<![endif]-->
<style type="text/css">
/* Main CSS */
body {
    background-color: #{{site_config.backgroundColor}} !important;
    color: #{{site_config.fontColor}};
}
{% if carousel %}
.scrollable, .browse {
    height: {{carousel.display_rows|multiply_value:30}}px;
}
{% if carousel.link_sites.all|length <= carousel.display_rows|multiply_value:3 %}
a.browse, .navi {
    display: none;
}
.scrollable {
    margin-left: 40px;
}
{% endif %}
{% endif %}

</style>
