body{
    background-color: #f7f8f9 !important;
}
#direct_container{
    margin: 20px auto;
    padding: 0 30px 10px 30px;
    border: 1px solid #DDD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;    
    border-radius: 2px;
    box-shadow: 0px 2px 2px #999;    
    background-color: #FFF;
    width: 900px;
}
#direct_innerContainer{
    padding-bottom: 14px;
}
#direct_disambiguationDiv ul{
    margin: 0px;
}
#direct_companyModule ul{
    margin: 0px;
}
ul#direct_jobListing{
    margin: 0;
}
#standardSearch .veteran  .searchHeader{
    padding: 6px 6px 9px 6px !important;
}
.featured_jobListing,
.direct_rightColBox {
    border: 1px solid #e6e6e6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#direct_applyDiv #direct_shareDiv{
    border: none !important;
}
.featured_jobListing, .default_jobListing {
    clear: left;
    margin-left: 0px;
}
.featured_jobListing {
    background-color: #F7F8F9;
    padding-top: 18px;
    padding-right: 32px;
    margin-bottom: 10px !important;
    width: 520px;
    position: relative;
}
.featured_jobListing div, .default_jobListing div {
    margin-left: 28px;
}
.featured_jobListing h4 a{ 
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: 8px 1px;
    display: inline-block;
}
#direct_listingDiv a:hover .resultHeader {
    background-color: #{{css.primaryColor}};
    color: #fff;
    font-weight: bold;
}
.featured_jobs_note {
    top: 2px;
    right: 6px;
    position: absolute;
    color: #999;
}
.default_jobListing h4 {
    margin-left: 28px;
}
.featured_jobListing .listingHyphen, .default_jobListing .listingHyphen {
    display: inline;
}
#button_moreJobs {
    display: inline-block;
    clear: left;
    width: 100%;
    border: 1px solid #cccccc;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 28px;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #e0e0e0) );
    background:-moz-linear-gradient( center top, #f2f2f2 5%, #e0e0e0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e0e0e0');
    background-color:#f2f2f2;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    color:#777777;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    margin-top: 9px;
}
#button_moreJobs:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background: none;
    background-color: #{{css.primaryColor}};
}
#button_moreJobs:active {
    position:relative;
    top:1px;
}