@import url(//d2e48ltfsb5exy.cloudfront.net/framework/css/def.ui.no-medium.css);
/*Base Overrides*/
html,body{
    background-color: #{{css.backgroundColor}} !important;    
    height: auto;
    font-size: 12px;
    font-family: Arial, Verdana, Helvetica, sans-serif;
}
.row{
    margin-left: 0px;
}
h1, h2, h3, h4, h5, h6, label{
    color: #{{css.primaryColor}};
}

.btn-primary,
.btn-primary:hover{
    background-color:#{{css.primaryColor}};
    border-color: #5a6d81;
    color: #fff !important;
    filter: none !important;
    background-image:-moz-linear-gradient(top, rgba(255,255,255,.5), #{{css.primaryColor}},  #{{css.primaryColor}});
    background-image:-ms-linear-gradient(top, rgba(255,255,255,.5), #{{css.primaryColor}},  #{{css.primaryColor}});
    background-image:-webkit-linear-gradient(top, rgba(255,255,255,.5), #{{css.primaryColor}},  #{{css.primaryColor}});
    background-image:-o-linear-gradient(top, rgba(255,255,255,.5), #{{css.primaryColor}},  #{{css.primaryColor}});
    background-image:linear-gradient(top, rgba(255,255,255,.5), #{{css.primaryColor}},  #{{css.primaryColor}});
}
#direct_wideHeader .direct_dotjobsWideHeader{
    background: #fff;
}
#direct_container .direct_searchContainer .btn.primary{
    background-position: -2px 0px;
    background-image: url(/static/button-gradient-33.png);
    height: 33px;
    margin-top: 29px;    
}
form,#standardSearch{
    margin: 0px;
}
#standardSearch .searchHeader{
    float: left;
    height: auto;
    padding-bottom: 0px;
}
#direct_dotjobsMetaBoxSearch #standardSearch .searchHeader,
#direct_dotjobsMetaBoxSearch #standardSearch .searchFooter{
    background-color: #f2f2f2;
	background-color: rgba(242, 242, 242, .85);
}
#standardSearch .searchHeader input{
    margin-bottom: 0px;
}
#direct_container .row .stub{
    width: 40px;
}
#direct_container .veteran .stub{
    width: 42px;
}
#direct_colophon ul{
    line-height: 0px;
    margin: 0;
}

/*Home page styles*/
#home-social-footer .direct_offsiteContainer {
    width: 237px;
}
#home-social-footer .direct_offsiteHoverDiv {
    width: 233px;
    z-index: 100;
}
#home-microsite-carousel #direct_micrositeCarousel {
    width: auto;
}

/*Header Styles*/
.tabSpacer {
    width: 1px;
    height: 26px;
    background: transparent url(/static/tabBG.png);
    display: block;
    float: left;
}

.menu-tabs {
    border-bottom: 0 solid #333;
}

.menu-tabs a,
#current-microsite-name {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding-top: 4px !important;
    padding-bottom: 5px !important;
    font-size: 1.2em;
}

#current-microsite-name {
    margin-left: 11px;
}

.menu-tabs .active a,
div>ul.menu-tabs .active>a,
div#megaMenu ul a:hover,
div#megaMenu .menu-tabs a:hover {
    color: #FFF;
    background-color: #a95051;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Mega Menu dropdown network navigation */
#megaMenu {
    height: 300px;
    background: #f2f2f2;
    position: absolute;
    width: 960px;
    top: 29px;
    left: -1px;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    display: none;
    font-size: 12px;
}
#megaMenu .container{
    background: #a95051;
    width: 960px;
    position: relative;
}
.megaTabSelected {
    background-color: #67696B;
}
#megaMenuContent {
    height: 273px;
    display: block;
}
#megaMenuStates {
    height: inherit; 
    display: block;
}
.megaMenuTab{
    background-color: #444;
    color: #FFF;
    width: 128px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #555;
}
#megaMenu ul#mega-menu-navigation > li > a:hover,
#megaMenu ul#mega-menu-navigation > li.active > a,
#megaMenu ul#mega-menu-navigation > li.active > a:hover{
    background-color: #f2f2f2;
    color: #000;
    text-shadow: none;
}
#megaMenu ul#mega-menu-navigation li a:hover{
    background-color: #ccc;
}
.siteTagsList.showTagList{
    display: block;
}
.siteTagsList.hideTagList{
    display: none;
}
#megaMenuStates > div {
    margin-left: 16px;
    margin-top: 10px;
    height: 250px;
}
#megaMenuStates li, #megaMenuStates ul {
    float: none;
}
div#megaMenuStates ul > li a {
    color: #000;
    font-size: 1em;
    padding: 1px 0 1px 10px;
    width: 172px;
    margin: 0;
    text-shadow: none;
}

div#megaMenuStates ul > li a:hover,
div#megaCompanyColumnWrapper ul > li a:hover {
    background-color: #5a6d81;
    border-radius: 4px;
    color: #fff;
}

.moreLocs {
    padding-top: 2px;
    padding-bottom: 1px;
    margin-top: 42px;
}

#megaMenuCities,
#megaMenuSiteTags {
    display: none;
}

#megaMenuCities h4,
#megaMenuSiteTags h4{
background: #444;
margin-right: 21px;
margin-top: 10px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
color: #fff;
padding-left: 5px;
padding-bottom: 2px;
}

.megamenu-social-tabs {
    float: right;
    height: 25px;
    margin-top: 3px;
    margin-right: 5px;
}

#megaMenuCities div.selectBox {
    height: 251px;
    margin-top: -1px;
    float: left;          
}

.topbar #megaMenu h3 {
    line-height: 27px;
    font-size: 18px;
    height: auto;
}

.cityList,
.tagList {
    background: #fff;
    height: 228px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #000;
    font-size: 1em;
    line-height: 14pt;
    position: relative;
}
#cityStatesDiv,
#cityCitiesDiv,
.tagList{     
    background: #fff;
    border: 1px solid #999;
    border-bottom-left-radius: 4px;
}
#siteTagDiv{
    height: 198px;
}
#megaMenuCities div#cityCitiesSelect{
    margin-left: -1px;
}
#megaMenuSiteTags h4#left-block-corner{
    border-top-left-radius: 0px;
}
#megaMenuSiteTags h4#right-block-corner{
    border-top-right-radius: 0px;
}
#megaMenuSiteTags h4.fix-right-margin{
    margin-right: 0px;
}
#megaMenuSiteTags div#fix-left-margin{
    margin-left: -1px;
}
#megaMenuSiteTags div.no-left-margin{
    margin-left: 0px;
}
#megaMenuSiteTags div#siteTagSelect{
    width: 619px;
}
#cityCitiesList{
    border-bottom-right-radius: 4px;
}
#popularCityList,
#popularTagList{
    background: #fff;
    border: 1px solid #999;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 21px;
}
#cityCitiesList a,
#cityPopularCities a,
#associatedList a{
    margin: 0;
    padding: 0;
    text-shadow: none;
    color: #000;
    font-size: 1em;
    line-height: 12px;
}
ul#cityCitiesList  li  a:hover,
ul#cityPopularCities  li  a:hover,
ul#associatedList  li  a:hover {
    background-color: transparent; 
}
#cityLoading,
#associatedLoading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('{{ STATIC_URL }}ui-anim_basic_16x16.gif');
    top: 0;
    left: 0;
    display: none;
}
#megaMenuCities li,
#megaMenuSiteTags li {
    float: none;
    font-size: 1em;
    padding: 2px 0px 3px 10px;
}
#megaMenuCities ul,
#megaMenuSiteTags ul {
    float: none;
    cursor: default;
}
li.menu-item-active,
#megaMenuCities li:hover,
#megaMenuSiteTags li:hover {
    background: #5a6d81;
    color: #fff;
}
#megaMenuCities li:hover a,
#megaMenuSiteTags li:hover a {    
    color: #fff;
}

/*-----------  Military Family CSS  -----------*/
#megaMenuMF {
    display: none;
}
#megaMenuMF > div {        
    display: block;    
    font-size: 1em;
}
#MilitaryFamilySearch {    
    padding: 6px 0px 3px 5px;
    font-size: 1em;
}
.MFsearchlabel {
   display: block;
   font-style: italic;
   font-size: .8em;
   text-indent: 10px;
   margin-top: -15px;   
}
.direct_popBaseList {
   padding: 15px 10px 0 5px;   
   font-size: 1.2em;
   margin-top: -4px;
   background-color: transparent; 
}
.direct_popBaseList a {
    color: #000;
    font-size: 1em;    
    margin: 0px;
    text-shadow: none;
    text-decoration: none;
    display: block;
}

.direct_popBaseList ul {
    list-style-type: none;
    margin: 0;
}

.direct_popBaseList li {
    padding-bottom: 3px;
}

.direct_popBaseList li a {
    padding: 2px 5px;
    margin: 0 4px;
}

div.direct_popBaseList ul li a:hover,
#megaMenuMF div#MilitaryFamilySearch a:hover {
    background: #5a6d81;
    border-radius: 4px;
    color:#fff;
}

.direct_popBaseList td {
   width: 186px;
   border-left: 1px solid #999;
   padding: 3px 0;
}

.direct_popBaseList th {
   background-color: #5a6d81;
   padding-left: 4px;
   color: #FFF;
   font-size: 1.2em;
   height: 28px;
   width: 186px;
   border-left: 1px solid #888;
   border-bottom: 1px solid #888;
}

.direct_popBaseList h3 {
   padding-left: 4px;
   color: #FFF;
}

.direct_popBaseList table {
    background-color: #FFF;
    border-collapse:separate;
    border:solid #999 1px;    
    border-radius:4px;
    -moz-border-radius:4px;
}
.direct_popBaseList td:first-child {
    border-left: none;
}
.direct_popBaseList th:first-child {
    border-left: none;
}
.direct_popBaseList tr:first-child {
    background-color: #444;
} 
input.mocSearchField {
    font-size: 1.3em;
    font-weight: bold;
    width: 930px;
    border: 1px solid #000;
    height: 25px;
    background-color: #eef5ff;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
  /* IE 6 doesn't support max-height*/
* html .ui-autocomplete {
    height: 160px;
}
.ui-autocomplete-category {
    font-weight: bold;
    color: #fff;
    background: #5c99f0;
    padding: 5px;
}
.ui-menu-item {
    display: inline-block;
    padding-right: 15px;
    text-indent: 9px;
    font-size: .9em;
}
.column_one {
    font-weight: bold;
    float:left;
    width: 350px;
}
.column_two { 
    float:left;
    width: 200px;
}
/*--------------------*/

#megaMenuCompanies {
    display: none;
}
#megaCompanyButtons {
    margin-left: 15px;
    margin-top: 15px;
    width: 200px;
    float: left;
    background-color: transparent;
}
#megaCompanyColumnWrapper {
    overflow-y: auto;
    margin-top: 15px;
    float: left;
    width: 729px;
    background-color: #fff;
    border: 1px solid #999;
    height: 240px;
    position: relative;
    border-radius: 4px;
}
#megaCompanyColumnWrapper a {
    color: #000;
    font-size: 1em;
    padding: 1px 0px 1px 10px;
    width: 221px;
    margin: 0px;
    text-shadow: none;
}
.megaCompanyColumn {
    width: 231px;
    float: left !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    margin-bottom: 5px !important;
}
.megaCompanyColumn li {
    float: none;
    width: inherit;
}
#megaCompanyButtons .btn {
    width: 10px;
    margin-left: 0px !important;
    margin-bottom: 5px;
    margin-right: 3px;
    text-transform: capitalize;
}
#megaCompanyButtons > .alpha-0-9 {
    width: 48px;
}

.topbar div#megaMenu div > ul, .topbar .nav{
    margin: 0;
}
.topbar div#megaMenu div > ul a.interLink {
    /*padding: 6px 8px 10px 8px;
    z-index: 9999;
    text-align: center;
    height: 8px;
    font-size: 11ox;
    border: 1px solid #444;
    float: left;
    background: none;
    color: white !important;
    display: block;
    font-weight: bold;
    text-shadow: none;
    margin-top: 0px;
    line-height: 13px;    
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;*/
}
.topbar div#megaMenu div > ul a.interLink:hover {
    background: #a95051;
    cursor: pointer;
}
h1{
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
}
#direct_dotjobsHeader{
    border-bottom: 2px solid #999;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}
#direct_dotjobsHeader h1,
h1#direct_mobileH1{
    font-size: 3.4em;
    color: #333;
    padding: 0px 0px 15px 0;
    margin-top: -11px;
}
#direct_dotjobsHeader h1{
    height: 90px;
}
#direct_dotjobsHeader h1 a,
#direct_dotjobsHeader h1 a:hover{
    text-decoration: none;
    color: #333;
}
h1#direct_mobileH1{
    min-height: 80px;
}
#direct_dotjobsHeader h1.noDotJobs{
    padding: 37px 0px 15px 0;
    height: 39px;
}
#direct_dotjobsHeader h1 img,
h1#direct_mobileH1 img{
    position: relative;
    top: 19px;
}
/* Member company financial support DIV */
#direct_supportMessage {
    clear: left;
    text-align: center;
    position: relative;
    top: 22px;
    color: #666;
}
/*Footer Styles*/
#direct_dotJobsFooter{
    background: #ddd;
    margin-top: 20px;
    border-top: 2px solid #333;
}
#direct_dotJobsFooter #direct_dotjobsFooterContent{
    width: 960px;
    margin: 0 auto;
    background: none;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #666;
}
#direct_dotJobsFooter a{
    color: #666;
    font-weight: bold;
}
#direct_dotJobsFooter a.direct_dotjobsFooterLink:hover,
#direct_dotJobsFooter a.direct_dotjobsFooterLink:active{
    background-color: #{{css.primaryColor}};
    color: #fff;
    border-left-width: 2px;
    position: relative;
    left: -1px;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

a.direct_dotjobsFooterLink{
    display: block;
    padding: 6px 11px;
    margin: 0 0 3px 0;
    border-left: 1px solid #8c8c8c;    
}
#subfooter p{
    text-align: center;
}

#subfooter #verisign_link img{
    margin: 0;
}

.social_icon {
    background: url("{{ STATIC_URL }}social_icons.png") 0 0 no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
}

.social_icon + .social_icon {
    margin-left: 5px;
}

.social_icon:hover {
    -webkit-filter: opacity(90%);
}

.facebook_icon {
    background-position: 0 0;
}

.twitter_icon {
    background-position: -65px 0;
}

.google_icon {
    background-position: -32px 0;
}

.linkedin_icon {
    background-position: -97px 0;
}

#direct_dotjobsScamAlert {
    position: absolute;
    bottom: 0;
    margin-left: -240px;
}
/**/
a, a.direct_optionsMore,
#direct_navMenu a:hover, #direct_selected, #direct_listingDiv a:hover{
    color: #{{css.primaryColor}};
}
.direct_joblisting a, a.direct_optionsMore {
    color: #{{css.primaryColor}} !important;
}
.direct_highlightedText {
    color: #{{css.primaryColor}};
}

#direct_container{
    padding-left: 10px;
    padding-right: 10px; 
    width: 960px;
    background: transparent;
}
/*Billbaord search styles*/
#direct_container .direct_searchContainer{
    background: none;
    background-color: #3F5D79;
    background-image: url("//d2e48ltfsb5exy.cloudfront.net/content_profile/0/images/bottomHeadliner_bg.png");
    background-image: url("//d2e48ltfsb5exy.cloudfront.net/content_profile/0/images/bottomHeadliner_bg.png");
    background-repeat: repeat;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;
    background-position: top left;
    background-position: -25px 40px, right -80px, bottom right, top left;    
    width: 100%;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#direct_container .direct_searchContainer .direct_dotjobsBillboardImageBackground{
    width: 960px;
    height: 522px;
    z-index: 99;
    position: absolute;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#hotspot_mobile.hotspotWrapper{
    display: none !important;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper{    
    display: block;
    filter:alpha(opacity=40);
    opacity:.4;
    z-index: 99;
}
#direct_dotjobsMetaBoxSearch:hover span.hotspotWrapper{ 
    display: block
    filter:alpha(opacity=85);
    opacity:.85;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper{
    position: absolute;
    width: 100px;
    height: 38px;
    border-radius: 20px;
    padding-left: 50px;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper a.hotspotButton{
    display: block;
    position: absolute;
    /*margin: 2px;*/    
    background: #{{css.primaryColor}};
    border: none;
    height: 34px;
    width: 34px;
    border-radius: 20px;
    padding: 2px;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper a.hotspotButton span{
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 20px;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper:hover{    
    filter:alpha(opacity=100);
    opacity:1;
    z-index: 100;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper a.hotspotButton:hover{
    cursor: pointer;
}
#direct_dotjobsMetaBoxSearch span.hotspotWrapper span.hotspotDetail{
    cursor: pointer;
    display: none;
    margin-left: 45px;
    position: absolute;
    width: 358px;
    min-height: 68px;    
    background: #{{css.primaryColor}};
    color: #fff;
    border-radius: 5px;
}
#direct_dotjobsMetaBoxSearch span.hotspotDetail p{
    padding: 5px 10px;
    display: block;
    margin: 2px;
    border: 2px solid #FFF;
    width: 330px;
    min-height: 50px;
    border-radius: 4px;
}
#direct_dotjobsMetaBoxSearch span.hotspotDetail p b,
#direct_dotjobsMetaBoxSearch span.hotspotDetail p a,
#direct_dotjobsMetaBoxSearch span.hotspotDetail p a:hover{
    display: block;
    color: #FFF;
    font-weight: bold;
    color: inherit !important;
}
/*Job Detail Styles*/
#direct_applyButton a:link, #direct_applyButton a:visited, 
#direct_applyButtonBottom a:link, #direct_applyButtonBottom a:visited,
#direct_searchOptions li a,
#direct_container .direct_searchContainer .btn.primary{
    background-color: #{{css.primaryColor}};
    border-color: #{{css.primaryColor}};
    color: #fff !important;
    filter: none !important;
}
#direct_container .direct_searchContainer .btn.primary {
    text-indent: -9000px;
}
#direct_container .searchFooter a{
    color: #{{css.primaryColor}};
    margin: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
} 
#direct_container #direct_allCompanyFilters{
    height: 70px;
}

#direct_dotjobsMetaBoxSearch #standardSearch{
    display: block;
    margin: 170px 20px 230px 20px;
    border: 2px solid #{{css.primaryColor}};
    z-index: 99;
    position: relative;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#standardSearch .searchHeader{
    float: left;
    height: auto;
    padding-bottom: 0px;
}
#standardSearch .searchHeader input{
    margin-bottom: 0px;
}
#direct_dotjobsMetaBoxSearch #standardSearch .searchHeader,
#direct_dotjobsMetaBoxSearch #standardSearch .searchFooter{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#direct_dotjobsMetaBoxSearch #standardSearch .searchHeader{
    padding-bottom: 9px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-width: 0px;
}
#direct_dotjobsMetaBoxSearch #standardSearch .searchFooter{
    border-top-width: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
#direct_container .searchTab label{
    color: #{{css.primaryColor}};
}
#direct_container .row.standard .searchTab{
    width: 402px;
}
#direct_container .veteran .searchTab{
    padding-right: 19px;
    width: 268px;
}
#direct_container .row.standard .searchTab input{
    /*width: 400px;*/
}
#direct_container #direct_dotjobsMetaBoxSearch .row.standard .searchTab input{
    width: 400px;
}
#direct_container #direct_dotjobsMetaBoxSearch .row.standard .searchTab{
    width: 410px;
}
#direct_searchBoxBottom{
    height: 60px;
    background-color: #000;
    background-color: rgba(0,0,0,.5);
    z-index: 99;
    position: absolute;
    margin-top: -58px;
    width: 960px;
    box-shadow: 0px 2px 2px #999; 
}
#direct_searchBoxBottom.nobg{
    background-color: transparent;
    height: 0px;
    box-shadow: none;
}
#direct_searchBoxBottom #direct_dotjobsBottomSponsor{
    float: left;
    background: transparent;
    height: 60px;
    width: auto;
    margin: 5px;
}
#direct_searchBoxBottom #direct_dotjobsBottomSponsor img{
    height: 50px;
}
#direct_searchBoxBottom #direct_dotJobsImageControls{
    width: auto;
    margin-left: 20px;
    text-align: right;
    padding: 20px;
    float: right;
}
#direct_searchBoxBottom #direct_dotJobsImageControls .imageControl{
    display: block;
    float: left;
    height: 23px;
    width: 30px;
    margin: 0 5px;
    color: #FFF;
    text-align: center;
    background-image: url(/static/billboard-nav.png);
    background-position: 0 -60px;
    padding-top: 7px;
    font-weight: bold;
    font-size: 1.3em;
}
#direct_searchBoxBottom #direct_dotJobsImageControls .imageControl:hover,
#direct_searchBoxBottom #direct_dotJobsImageControls span.active{
    color: #000;
    background-position: -30px -60px;
    cursor: pointer;
}
#direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_prev{
    background-position: 0px 0px;
}
#direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_next{
    background-position: 0px -30px;
}
#direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_prev:hover{
    background-position: -30px 0px;
}
#direct_searchBoxBottom #direct_dotJobsImageControls #direct_imageControl_next:hover{
    background-position: -30px -30px;
}
.copyrightControl{
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: 70px;
    height: 20px;
    width: 20px;
    text-indent: -9000px;
    background-image: url(/static/billboard-nav.png);
    background-repeat: no-repeat;
    background-position: 0 -90px; 
}
.copyrightControl:hover{
    background-position: -30px -90px;
}
.copyrightControlActive{
    text-indent: 0px;
    padding: 10px;
    height: auto;
    text-align: left;
    background: #FFF;
    color: #333;
    width: auto;
    font-size: 1em;
    border: 2px solid #fff;
    padding: 4px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;*
}
#sponsor-dotjobs{
    position: absolute;
    background: url({{ STATIC_URL }}sponsor_badge.png) 0 0 no-repeat;
    width: 136px;
    height: 136px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    display: block;
    text-decoration: none;
    margin-top: -505px;
    left: 852px;
    text-indent: -99999px; 
    outline: none; 
}
a#sponsor-dotjobs:hover{
    background-position: 0 -135px;
}
#direct_dotjobsIconContainer{
    display: block;
    text-align: center;
}
#direct_dotjobsIconBar,
#direct_dotjobsCustomNavBar,
#direct_dotjobsFilterCarousel{
    height: 60px;
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #e0e0e0;
    margin: 10px 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #999; 
}
#direct_dotjobsCustomNavBar{
    text-align: center;
}
#direct_dotjobsCustomNavBar a{
    font-weight: bold;
    padding: 5px 14px;
    display: inline-block;
    height: 20px;
    margin-top: -5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;    
    text-align: center;
    color: #{{ css.primaryColor }};
}
#direct_dotjobsCustomNavBar a:hover{	
    color:#fff;
    background-color: #{{ css.primaryColor }};
}
                

#direct_dotjobsIconBar .icon{    
    margin: 0 10px;
    background: #DDD;
    width: 102px;
    height: 52px;
} 
#direct_dotjobsIconBar .icon img{
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
}
#direct_dotjobsIconBar .browse{
    height: 60px;
}
#direct_dotjobsIconBar .span15,
#direct_dotjobsFilterCarousel .span15{
    width: 856px;
    margin-left: 14px;
    padding-left: 0px;
    margin-right: 0px !important;
}
#direct_dotjobsIconBar .span15{
    margin-left: 10px;
    padding-right: 0px;
}
#direct_dotjobsFilterCarousel .browse{
    height: 250px;
}
#direct_dotjobsFilterCarousel{
    height: auto;
}
.spanOneHalf{
    width: 20px;
    margin-left: 0px;
    margin-right: 10px;
    height: 1px;
}
#direct_dotjobsCarouselContainer .direct_scrollBox{    
    position: relative;
    left: 0px;
    width: 10000px;
}
#direct_dotjobsCarouselContainer{
    overflow-x: hidden;
}
#direct_companyList{
    height: 30px;
}
#direct_companyList a{
    padding: 2px 5px 5px 5px;
    background-color: #F2F2F2;
    margin: -12px auto 0 auto;
    width: 150px;
    text-align: center;
    color: #{{css.primaryColor}};
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px #999;
    display: block;
}
#direct_companyList a:hover{
    color: #FFF;
    background-color: #{{css.primaryColor}};    
}
#direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer{
    display: block;
    float: left;
    background: #FFF;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 270px;
    padding: 5px;
    margin-right: 5px;
    min-height: 245px;
}
#direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer h3 .direct_filterLabel{
    font-weight: normal;
    color: #666;
}
#direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer h3 span{
    display: inline;
    border: none;
    margin: 0;
}
.direct_dotjobsFilterContainer h3{
    padding: 5px;
    background: #f2f2f2;
    border: 1px solid #e0e0e0;
    color: #{{css.primaryColor}};
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.direct_dotjobsFilterContainer ul{
    margin-top: 5px;
    margin-bottom: 5px;
}
.direct_dotjobsFilterContainer a{
    color: #666;
    line-height: 1.2em;
}
.direct_dotjobsFilterContainer a:hover{
    color: #900;
}
.direct_dotjobsFilterContainer .more_less_links_container {
    margin-left: 25px;
}
.ui-autocomplete .ui-state-hover,
.ui-menu .ui-menu-item a{
    padding: 0px;
    border: 0px;
    margin: 0 0 0 0 !important
}
/*#direct_micrositeCarousel{
    width: 920px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    padding: 20px;
}*/
.account_btn {
    display: none;
}

@media screen and (max-width: 800px){
    body{
        padding-top: 0px;
        min-width: 0;
    }
    h1#direct_mobileH1{
        min-height: 0 !important;
    }
    #direct_dotjobsMetaBoxSearch .searchFooter{
        display: block;
        position: static;
        border-width: 1px;
        background: #fff;
        float: none;
        width: 100%;
        text-align: left;
    }
    #direct_dotjobsMetaBoxSearch .searchFooter a{
        border: 1px solid #{{css.primaryColor}};
    }
    #direct_dotjobsIconBar,
    #direct_dotJobsImageControls{
        display: none;
    }
    #direct_companyList a{
        margin-top: 12px;
    }
    #direct_container .direct_searchContainer{
        width: auto;
    }    
    #direct_container #standardSearch .searchHeader{
        height: auto;
        width: 100%;
    }
    #direct_container #direct_allCompanyQuickLookup{
        display: none;
    }
    #direct_innerContainer #direct_allCompanyAlphaFilter .btn{
        margin: 10px;
        width: 45px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 3em;
    }
    #direct_innerContainer #direct_allCompanyAlphaFilter a.alpha-0-9{
        font-size: 30px;
        width: 55px;
    }
    #direct_innerContainer .company_group{
        width: 100%;
        padding: 0;
    }
    #direct_innerContainer .company_group ul{
        margin: 0 25px 9px 25px;
    }
    #direct_dotjobsMetaBoxSearch #standardSearch{
        margin: 0px;        
        border-left: 0px;
        border-right: 0px;
    }
    #standardSearch{
        background: #fff;
        background: rgba (255,255,255,.75);
    }
    .direct_dotjobsBillboardImageBackground{
        display: none !important;
    }
    #direct_searchBoxBottom{
        width: auto;
        position: static;
        display: none;
    }
    #direct_searchBoxBottom #direct_dotjobsBottomSponsor{
        width: 100%;
    }
    #direct_disambiguationDiv ul{
        margin: 0px;
        padding: 0px;
    }

    .direct-action-btn a:link, .direct-action-btn a:visited,
    #direct_searchOptions li a,
    #direct_container a:hover,
    #direct_disambiguationDiv ul#direct_titleDisambig li a:hover,
    #direct_disambiguationDiv ul#direct_cityDisambig li a:hover,
    #direct_disambiguationDiv ul#direct_stateDisambig li a:hover,
    #direct_subnavUl li a:hover,
    #direct_innerContainer .company_group ul a:hover,
    #direct_container .direct_searchContainer .btn.primary,
    #direct_container #direct_allCompaniesFamilyLinks a:hover{
        background-color: #{{css.primaryColor}};
        border-color: #{{css.primaryColor}};
        color: #fff !important;
        filter: none !important;
    }
    #direct_dotjobsFilterCarousel,
    #direct_dotjobsFilterCarousel .span15,
    #direct_dotjobsCarouselContainer.span15,
    #direct_dotjobsCarouselContainer .direct_scrollBox{
        width: auto;
        margin-left: 0px !important;
    }
    #direct_dotjobsFilterCarousel .span15 {
        width: 100%;    
    }    
    #direct_dotjobsFilterCarousel .spanOneHalf,
    .navi{
        display: none !important;
    }
    #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer{
        float: none !important;
        width: auto !important;
        min-height: 0 !important;
    }
    #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer li,
    #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer ul{
        margin: 0px;
    }
    #direct_dotjobsCustomNavBar a,
    #direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer a,    
    #direct_innerContainer .company_group ul a,
    .direct_dotjobsFilterContainer a,
    #direct_container #direct_allCompaniesFamilyLinks a{
        display: block;
        border-width: 2px;
        border-color: #{{css.primaryColor}};
        border-style: solid;
        font-size: 1.2em;
        padding: 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        margin: 2px auto;
    }
    a.direct_optionsMore {
        color: #5a6d81 !important;        
    }
    a.direct_optionsMore:hover {
        background: #5a6d81 !important;
    }
    #direct_dotjobsCustomNavBar {
        height: auto;
    }
    #direct_container #direct_allCompaniesFamilyLinks{
        top: 0;
    }    
    #direct_container #direct_allCompaniesFamilyLinks a{
        margin: 2px 20px;
        background: #FFF;
    }
    .hotspotWrapper {
        display: none;
    }
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile.hotspotWrapper{
        display: block !important;
        filter:alpha(opacity=100);
        opacity:1;
        z-index: 100;
        width: auto;
        height: auto;
        margin: 5px 2px;
        position: relative;
        background: #{{css.primaryColor}};
        width: auto;
        border-radius: 4px;
    }
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile.hotspotWrapper a.hotspotButton{
        display: none;
    }
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile.hotspotWrapper span.hotspotDetail{
        display: block;
    }
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile span.hotspotDetail{
        display: block;
        width: auto;
        padding: 1px;
        background: #{{css.primaryColor}};
        color: #fff;
        border-radius: 5px;
    }
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile span.hotspotDetail p{
        padding: 5px 10px;
        display: block;
        margin: 2px;
        border: 2px solid #FFF;
        border-radius: 4px;
    }
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile span.hotspotDetail p b,
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile span.hotspotDetail p a,
    #direct_dotjobsMetaBoxSearch + span#hotspot_mobile span.hotspotDetail p a:hover{
        display: block;
        color: #FFF;
        font-weight: bold;
        color: inherit !important;
    }
    .account_btn {
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        margin-top: 12px;
        margin-bottom: -15px;
        background-color: #5a6d81;
        color: #fff !important;
        border-color: #5a6d81;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 8px;
    }
}

/* Topbar navigation menu */
.topbar .arrow {
    float: right;
    display: block;
    width: 0;
    border: 4px solid transparent;
    border-right: 6px solid #999;
    border-left: 0;
    margin-top: -15px;
    margin-left: 30px;
    margin-bottom: 12px;
}

.topbar #nav:hover .arrow {
    border: 4px solid transparent;
    border-top: 6px solid #eee;
    border-bottom: 0;
    position: relative;
    left: 2px;
    top: 2px;
}

.topbar #current-microsite .arrow {
    position: absolute;
    float: left;
    margin-left: 2px;
    border-right: 0px;
    border-left: 6px solid #fff;
    margin-top: -13px;
}

.topbar #current-microsite {
    float: left;
    margin-top: 6px;
}

#grouping-list {
    border: 1px solid;
    margin-top: 15px;
}

#grouping-list * {
    margin-left: 30px;
}

#grouping-list ul {
    padding-left: 30px;
}

#grouping-list [id^='products-']:first-of-type {
    margin-top: 30px;
}

#grouping-list [id^='products-']:last-of-type {
    margin-bottom: 30px;
}
