#direct_container .direct_searchContainer .direct_dotjobsBillboardImageBackground{
    margin-left: -20px;
}
#direct_dotjobsCarouselContainer .direct_scrollBox{
    width: auto;
    height: auto;
    margin: 0 auto;
}
#direct_dotjobsFilterCarousel .spanOneHalf,
#direct_dotjobsFilterCarousel .navi{
    display: none;
}
#direct_dotjobsFilterCarousel .direct_dotjobsFilterContainer{
    width: 30%;
}
#sponsor-dotjobs{
    margin-top: -510px;  
}
