{% extends "seo_base.html" %}
{% load i18n %}
{% load humanize %}
{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.css" type="text/css">
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">
{%endblock%}
{% block directseo_title %}
{{ site_name }}
{% endblock %}
{% block directseo_main_content %}
<script>
    error_page="404";
</script>
<div id="direct_errorContainer">
  <div id="direct_errorTitle">
    <h3 class="direct_errorTitle">{% blocktrans %}Page not found{% endblocktrans%}</h3>
  </div>
  <div id="direct_errorExplanation">
      <span id="direct_errorJob">
          {% if jobdata.jobtitle %} 
          {{ jobdata.jobtitle }}{% if jobdata.joblocation %} in {{ jobdata.joblocation }}{% endif %}{% blocktrans %} is no longer available. {% endblocktrans %}
          {% else %}
          {% trans "The page you are looking for, " %}{{ domain }}{{ path }}{% trans ", does not exist." %} <br/>
          {% trans "If you found this page from a job link, then that job is expired." %} <br/>
          <h3 class="direct_highlightedText">{% blocktrans %}Where can you go from here?{% endblocktrans %}</h3>
          {% endif %}
          <ul>
          <li><a href="{{ domain }}/jobs/">{% blocktrans %}View All Jobs{% endblocktrans %}</a> ({{total_jobs_count|intcomma}})</li>
          <li><a href="/">{% blocktrans %}Home Page{% endblocktrans %}</a></li>
          <li>{% blocktrans %}Or use the search form above to try again.{% endblocktrans %}</li>
          </ul>
      </span>
  </div>
  <div id="direct_errorFooter">
    <div id="direct_errorHomeLink"><a href="{{ domain }}">{{ site_name }}</a></div>
    <div id="direct_errorStatusCode">{% blocktrans %}Status Code: 404{% endblocktrans %}</div>
  </div>
</div>
{% endblock directseo_main_content %}
