{% extends "seo_base.html" %}
{% load i18n %}
{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.css" type="text/css">
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">
{%endblock%}
{% block directseo_title %}
{{ site_name }}
{% endblock %}
{% block directseo_main_content %}
<script>
    error_page="500";
</script>
<div id="direct_errorContainer">
  <div id="direct_errorTitle">
    <h3 class="direct_errorTitle">Internal Server Error</h3>
  </div>
  <div id="direct_errorExplanation">
    <span id="direct_errorJob">
      {% trans "The website encountered a temporary error while retrieving" %}<br/>
      {{ domain }}{{ path }}<br/>
      {% trans "It may be down for maintenance or configured incorrectly." %}
    </span>
  </div>
  <div id="direct_errorFooter">
    <div id="direct_errorHomeLink"><a href="{{ domain }}">{{ site_name }}</a></div>
    <div id="direct_errorStatusCode">{% blocktrans %}Status Code: 500{% endblocktrans %}</div>
  </div>
</div>
{% endblock directseo_main_content %}
