{% if has_widgets %}

    <div id="direct_dotjobsFilterCarousel">
        <div class="row">
            <div class="spanOneHalf">
                <a class="prev browse left" style="display: none;"></a>
            </div>
            <div id="direct_dotjobsCarouselContainer" class="span15">
                <div class="navi">
                </div>
                <div class="direct_scrollBox">
                {% for widget in widgets %}                    
                    {% if widget.render %}
                        <div class="direct_dotjobsFilterContainer">
                        {{ widget.render }}
                        </div>
                    {% endif %}                    
                {% endfor %}
                </div>
            </div>
            <div class="spanOneHalf">
                <a class="next browse right" style=""></a>
            </div>
        </div>
    </div>
{% endif %}