<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

// variable to track if this is a standard or error (404/500) page
var error_page = false;
// pageview is handled in the wide footer to allow for page and error page
// differentation

ga('create', 'UA-16316580-1', 'auto');
ga('set', 'dimension1', '{{ build_num }}');    
{% if view_source %}
ga('set', 'dimension2', '{{ view_source }}');
{% else %}
ga('set', 'dimension2', 'Default (10)');
{% endif %}

{% for ga in google_analytics %}
ga('create', '{{ga.web_property_id}}', 'auto', {'name': 'g{{ga.id}}'});
ga('g{{ga.id}}.set', 'dimension1', '{{ build_num }}', 2);    
{% if view_source %}
ga('g{{ga.id}}.set', 'dimension2', '{{ view_source }}');
{% else %}
ga('g{{ga.id}}.set', 'dimension2', 'Default (10)');
{% endif %}  
{% endfor %};

function goalClick(goalURL, the_url){
        {% for ga in google_analytics %}
        ga('g{{ga.id}}.set', 'dimension1', '{{ build_num }}');    
        {% if view_source %}
        ga('g{{ga.id}}.set', 'dimension2', '{{ view_source }}');
        {% else %}
        ga('g{{ga.id}}.set', 'dimension2', 'Default (10)');
        {% endif %}  
        ga('g{{ga.id}}.send', 'pageview', goalURL)
        {% endfor %}

        ga('set', 'dimension1', '{{ build_num }}', 2);    

        {% if view_source %}
        ga('set', 'dimension2', '{{ view_source }}');
        {% else %}
        ga('set', 'dimension2', 'Default (10)');
        {% endif %}

        ga('send', 'pageview', goalURL)
    var nw = window.open(the_url, '_blank')
    nw.focus()
}
</script>
<!-- End Google Analytics -->
