{% extends "seo_base.html" %}
{% load i18n %}
{% load seo_extras %}
{% load job_setup %}
{% load cache %}
{% cache 600 joblisting %}

{% block directseo_title %}
{% build_title site_title title_term location_term breadbox.company_breadcrumb.display_title results_heading %}
{% endblock %}
{# meta description only on homepage #}
{% block seo_description %}{% endblock %}
{% block directseo_bodySchema %}itemscope itemtype="http://schema.org/ItemCollection"{% endblock %}
{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">
{%endblock%}

{% block rss_feed %}
<link rel="alternate" type="application/rss+xml" title="{% build_title site_title title_term location_term breadbox.company_breadcrumb.display_title results_heading %}" href="{{request.build_absolute_uri|build_rss_link}}">
{% endblock %}

{% block directseo_blurb %}
<div id="direct_blurbDiv">
    {% if facet_blurb_facet %}
        <h3>{{ facet_blurb_facet.name }}</h3>
        <div id="direct_blurbContents">
            <p>{{ facet_blurb_facet.blurb|safe }}</p>
        </div>
    {% else %}
    {% if site_config.defaultBlurbTitle %}<h3>{{site_config.defaultBlurbTitle}}</h3>{% endif %}
    <div id="direct_blurbContents">
        <p>{{site_config.defaultBlurb|safe}}</p>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block directseo_main_content %}
<a href="#filters" class="direct_mobileJumpLink">{% blocktrans %}Jump to Filters{% endblocktrans %}</a>
<h3 class="direct_highlightedText">
{% if not count_heading %}
    {% blocktrans %}All Jobs{% endblocktrans %}
{% else %}
    {% if breadbox.company_breadcrumb %}
        <span class="direct_jobListingCompany">{{ breadbox.company_breadcrumb.display_title }} Careers</span>
    {% endif %}
    {{ count_heading }}
{% endif %}
</h3>
{% include 'includes/job_list.html' %}
{% endblock %}

{% block directseo_right_hand_column %}
{% if company %}
<div id="direct_companyModule" class="direct_rightColBox" role="menu">
  {% include 'includes/company_module.html'%}
</div>
{% endif %}

{% if default_jobs or featured_jobs %}
    {% if "network" in site_tags or site_config.show_saved_search_widget %}
        <script src="//d2e48ltfsb5exy.cloudfront.net/myjobs/tools/def.myjobs.widget.153-05.js"></script>
        <div id="direct-saved-search-box" class="direct_rightColBox direct-action-box">
            <div id="de-myjobs-widget"></div>
        </div>
    {% endif %}
    <a name="filters"></a>  
    <div id="direct_shareDiv" class="direct_rightColBox direct_shareSolo" role="menu">
        <h3>{% trans "Share" %}</h3>
        {% include 'includes/add_this.html' %} <!--replace with my.jobs sharing when ready. JPS 10-4-12-->
    </div>
    <a href="#top" class="direct_mobileJumpLink">{% blocktrans %}Return to top{% endblocktrans %}</a>

{% endif %}
<div id="direct_disambiguationDiv" class="direct_rightColBox" role="menu">
    {# If clear_breadcrumb exists, we know at least one search term that can be removed has been applied, so include the breadbox #}
    {% if breadbox.clear_breadcrumb %}
        {% include 'includes/breadbox.html' %}
    {% endif %}
    {% if default_jobs or featured_jobs %}
        {% include 'includes/seo_sort.html' %}
        {% for widget in widgets %}
            {% if widget.render %}
                {{ widget.render }}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
{% endcache %}
