{% extends "seo_base.html" %}
{% load i18n %}
{% load seo_extras %}
{% block direct_extraHeaderContent %}
<link rel="stylesheet" href="/style/def.ui.dotjobs.results.css" type="text/css">

<title>{{ the_job.title}}</title>
{%endblock%}
     
{% block direct_extraMetaOpenGraph %}
    <meta property="og:title" content="{{ pg_title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{request.build_absolute_uri}}"/>
    <meta property="og:image" content="{% firstof og_img company.image %}"/>
    <meta property="og:site_name" content="{{site_title}}"/>
{% endblock %}

{% block directseo_title %}
{{site_title}} - {{ pg_title }}
{% endblock %}
{% block seo_description %}{% endblock %}
{% block directseo_bodySchema %}itemscope itemtype="http://schema.org/ItemPage"{% endblock %}
{% block directseo_primary_navigation %}{% endblock %}
{% block directseo_main_content %}

<div itemscope itemtype="http://schema.org/JobPosting" role="main">
    {% if site_commitments_string %}
    <meta itemprop="specialCommitments" content="{{site_commitments_string}}" />
    {% endif %}
    <meta itemprop="employmentType" content="Paid Work" /> 
    <div id="direct_jobListingTitle">
        <h3>
          <span class="direct_jobListingCompany" itemprop="hiringOrganization" 
            itemscope itemtype="http://schema.org/Organization">
          <span itemprop="name">{{the_job.company}}</span>
          </span>
          <span class="direct_highlightedText">
            <span itemprop="title">{{ the_job.title|cut:"?"|cut:"~" }}</span> in 
            <span itemprop="jobLocation" itemscope itemtype="http://schema.org/Place">
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% if the_job.city != None %}
                <span itemprop="addressLocality">{{ the_job.city }}</span>
                {% endif %}
                {% if the_job.state != None %}
                <span itemprop="addressRegion">{{ the_job.state }}</span>
                {% endif %} 
                <span itemprop="addressCountry">{{ the_job.country }}</span>
              </span>
            </span>
          </span>
        </h3>
    </div>
    <div id="direct_horzRule"></div>
    <div id="direct_listingDiv">
        <meta itemprop="datePosted" content="{{the_job.date_updated|date:'c'}}"/>
        <div id="direct_jobDescriptionText" itemprop="description">
            {% if the_job.html_description %}        
                {{ the_job.html_description|safe|cut:"??"|cut:"~" }}
            {% else %}
                {{ the_job.description|safe|linebreaks|cut:"??"|cut:"~" }}
            {% endif %}
            <meta name="de-buid" content="{{the_job.buid.id}}"/>
            <meta name="de-buid-associated-jobs" content="{{the_job.buid.associated_jobs}}"/>
            <meta name="de-buid-title" content="{{the_job.buid.title}}"/>
            <meta name="de-buid-date-crawled" content="{{the_job.buid.date_crawled|date:'c'}}"/>
            <meta name="de-buid-date-updated" content="{{the_job.buid.date_updated|date:'c'}}"/>        
            <meta name="de-special-commits" content="{% for commitment in site_commitments.all %}{{commitment.commit}} {% endfor %}"/>
            <meta name="de-buid-title-slug" content="{{the_job.buid.title_slug}}"/>
        </div>
        <div class='direct-action-btn' id="direct_applyButtonBottom">
            {% if the_job.link %}
            <a href="{{the_job.link}}" onclick="goalClick('/G/apply-click', this.href); return false;">{% blocktrans %}Apply Now{% endblocktrans %}</a>
            {% elif the_job.apply_info %}
            <div id="apply-block">{{ the_job.apply_info }}</div>
            {% endif %}
        </div>
        
    </div>
</div>
{% endblock %}

{% block directseo_right_hand_column %}
{% if company %}
<div id="direct_companyModule" class="direct_rightColBox" role="menu">
  {% include 'includes/company_module.html'%}
</div>
{% endif %}

<div id="direct_applyDiv" class="direct_rightColBox">
    <div id="direct_applyButton" class="direct-action-btn" role="menu">
        {% if the_job.link %}
        <a href="{{the_job.link}}" onclick="goalClick('/G/apply-click', this.href); return false;">{% blocktrans %}Apply Now{% endblocktrans %}</a>
        {% elif the_job.apply_info %}
        <br/>
        <div id="apply-block">{{ the_job.apply_info }}</div>
        {% endif %}
    </div>
    <div id="direct_shareDiv" role="menu">
        <h3>{% trans "Share" %}</h3>
        {% include 'includes/add_this.html' %}<!--replace with my.jobs sharing when ready. JPS 10-4-12-->
    </div>
 </div>
 <div id="direct_disambiguationDiv">
    <div id="direct_searchCriteria" role="menu">
        <h3 id="direct_searchCriteriaHeader" style="float:left;">{% blocktrans %}Current Search Criteria{% endblocktrans %}</h3>
        <div style="clear:left;"></div>
        <ul id="direct_searchOptions">
          {% if site_config.browse_company_show %}
          <li>
            <a href="{{ crumbs.company.path }}" title="Remove {{ crumbs.company.display }}">
              {{ crumbs.company.display|smart_truncate }}
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{{ crumbs.title.path }}" title="Remove {{ crumbs.title.display }}">
              {{ crumbs.title.display|smart_truncate }}
            </a>
          </li>
          {# if crumbs.city.display #}
          <li>
            <a href="{{ crumbs.city.path }}" title="Remove {{ crumbs.city.display }}">
              {{ crumbs.city.display|smart_truncate }}
            </a>
          </li>
          {# endif #}
          {% if crumbs.state %}
          {# crumbs.state won't exist for international listings, e.g. Beijing, China #}
          <li>
            <a href="{{ crumbs.state.path }}" title="Remove {{ crumbs.state.display }}">
              {{ crumbs.state.display|smart_truncate }}
            </a>
          </li>
          {% endif %}
          {% if crumbs.q %}
          <li>
            <a href="{{ crumbs.q.path }}" title="Remove {{ crumbs.q.display }}">
              {{ crumbs.q.display|smart_truncate }}
            </a>
          </li>
          {% endif %}
          {% if crumbs.moc %}
          <li>
            <a href="{{ crumbs.moc.path }}" title="Remove {{ crumbs.moc.display }}">
              {{ crumbs.moc.display|smart_truncate }}
            </a>
          </li>
          {% endif %}

          <li><a href="/jobs/" title="Clear All">{% blocktrans %}Clear All{% endblocktrans %}</a></li>
        </ul>
    </div>
</div>
<script>
$(document).ready(function(){RetrieveExternalCampaignCookie();});
</script>
{% endblock %}
