{% load seo_extras %}
{% for job in default_jobs %}
{% with job_url=job|joblist_url %}
{% if forloop.counter <= site_config.num_job_items_to_show %}
  <li class="direct_joblisting" itemscope itemtype='http://schema.org/JobPosting'>
{% else %}
  <li class="direct_joblisting direct_hiddenOption" itemscope itemtype='http://schema.org/JobPosting'>
{% endif %}
    <a href="{{ job_url }}">{{ job.title|cut:"?"|cut:"~" }}</a>
    {% if job.highlighted %}
    {% if site_config.browse_company_show %}
    <div class="direct_joblocation"><b>{{ job.company }}</b> - {{ job.location }}</div>
    {% else %}
    <div class="direct_joblocation">{{ job.location }}</div>
    {% endif %}
    <div class="directseo_jobsnippet" itemprop="description">{{ job.highlighted|merge_snippets|safe }}</div>
    <div class="posted_date" itemprop="datePosted">Posted {{ job.date_new|timesince }} ago</div>
    {% endif %}
  </li>
{% endwith %}
{% endfor %}
