{% if displayed %}
    <div id="direct_dotjobsIconBar">
        <div class="row">
            <div class="spanOneHalf">
                 {% if num_of_cos > 7 %}
                      <a class="prev browse left" id="direct_dotJobsLogoPageLeft"></a>
                  {% endif %}
            </div>   
            <div class="span15">
                  <span id="direct_dotjobsIconContainer">
                    <script>
                          var logos = populateCarousel();
                          document.write(logos);
                    </script>
                  </span>
            </div>            
            <div class="spanOneHalf">
                  {% if num_of_cos > 7 %}
                      <a class="next browse right"></a>
                  {% endif %}
            </div>
        </div>
    </div>
{% endif %}