{% load seo_extras %}
{% load i18n %}
<div id="direct_clearDiv"></div>
<div id="direct_colophon">
	<div class="direct_offsiteContainer">
		<div class="direct_offsiteHoverDiv">
			<ul>
			{% for slink in social_links.company %}
				<li><a class="direct_companyLink" href="{{slink.link_url}}" title="{{slink.link_title}}">{{slink.link_title|smart_truncate:20}}</a></li>
			{% endfor %}
			</ul>
		</div>
        <div class="direct_offsiteTileDiv{% if social_links.company|length > 0 %}">{% blocktrans %}Career Sites{% endblocktrans %}{% else %} noHover">{% endif %}</div>
    </div>
    <div class="direct_offsiteContainer">
		<div class="direct_offsiteHoverDiv">
			<ul>
			{% for slink in social_links.social %}
				<li><a style="background-image: url('{{slink.get_icon}}');" class="direct_socialLink" target="_blank" href="{{slink.link_url}}" title="{{slink.link_title}}">{{slink.link_title|smart_truncate:20}}</a></li>
			{% endfor %}
			</ul>
		</div>
        <div class="direct_offsiteTileDiv{% if social_links.social|length > 0 %}">{% blocktrans %}Social Media{% endblocktrans %}{% else %} noHover">{% endif %}</div>
	</div>
	<div class="direct_offsiteContainer">
		<div class="direct_offsiteHoverDiv">
            <ul>
              {% if default_jobs %}
                <li class="direct_feeditem"><a class="direct_feedLink" target="_blank" href="{% append_search_querystring request "feed/rss" %}">RSS 2.0</a></li>
                <li class="direct_feeditem"><a class="direct_feedLink" target="_blank" href="{% append_search_querystring request "feed/atom" %}">Atom</a></li>
                <li class="direct_feeditem"><a class="direct_feedLink" target="_blank" href="{% append_search_querystring request "feed/xml" %}">XML</a></li>
                <li class="direct_feeditem"><a class="direct_feedLink" target="_blank" href="{% append_search_querystring request "feed/json" %}">JSON</a></li>
              {% endif %}
			</ul>
		</div>
	    <div class="direct_offsiteTileDiv{% if default_jobs %}">{% blocktrans %}Job Feeds{% endblocktrans %}{% else %} noHover">{% endif %}</div>
    </div>
	<div id="direct_deBadgeContainer" class="direct_offsiteContainer">
		<div class="direct_offsiteHoverDiv">
			<ul>
			{% for slink in social_links.directemployers %}
            <li><a class="direct_deBadgeLink" style="background-image: url('{{slink.get_icon}}')" href="{{slink.link_url}}" title="{{slink.link_title}}">{{slink.link_title|smart_truncate:20}}</a></li>
			{% endfor %}
			</ul>
		</div>
	    <div id="direct_deBadge" class="direct_offsiteTileDiv"></div>
	</div>
    <div id="direct_clearDiv"></div>
</div>
