/* posting styles */
.product-card {
    border: 1px solid #eee;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 70px 10px 10px;
    position: relative;
    width: 100%;
}

.product-card:first-of-type {
    border-top: 1px solid #eee;
}

.product-card .big-title {
    color: #{{css.fontColor}};
    font-size: 1.2em;
    font-weight: bold;
}

.product-card a.btn,
#direct_container .btn.primary,
.btn {
    background: #{{css.primaryColor}} url("{{ STATIC_URL }}bg-gradient.png") bottom repeat-x !important;
    color: #fff !important;
    width: auto;
    height: auto;
    margin: 8px 0 0;
    padding: 5px 10px;
    cursor: pointer;
}

.product-card .btn.disabled {
    background: #999 url("{{ STATIC_URL }}bg-gradient.png") bottom repeat-x !important;
    color: #fff !important;
    width: auto;
    height: auto;
    margin: 8px 0 0;
    padding: 5px 10px;
    cursor: default;
}

#direct_container .btn.primary {
    font-weight: 700;
}

.product-card a.btn {
    bottom: 10px;
    position: absolute;
    right: 10px;
}

.product-card.left-gutter {
    padding-left: 50px;
    min-height: 80px;
}

.product-card .product-group-order a.btn {
    right: initial;
    bottom: initial;
    padding: 3px 8px;
}

.product-card .product-group-order a:first-of-type {
    left: 10px;
    top: 5px;
}

.product-group-order a i {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    margin: 3px 0;
}

.product-group-order a:first-of-type i {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 12px solid #FFF;
}

.product-card .product-group-order a:last-of-type {
    left: 10px;
    top: 35px;
    margin-left: 0;
}

.product-group-order a:last-of-type i {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 12px solid #FFF;
}

.wrapper-header,
.wrapper-footer {
    border: 1px solid #eee;
    padding: 3px 10px;
}

.wrapper-footer {
    border-top: none;
}

.wrapper-footer a {
    color: #{{css.primaryColor}};
    float: right;
}

.clearfix {
    clear: both;
}

.card-wrapper + .card-wrapper {
    margin-top: 20px;
}

.navigation a.btn,
#direct_container .navigation a.btn.primary {
    display: block;
}

.product-grouping {
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #eee;
    display: inline-block;
    margin-right: 10px;
    min-height: 180px;
    vertical-align: top;
}
.product-grouping + .product-grouping {
    margin-left: 10px;
}

.product-grouping:nth-child(n+4) {
    margin-top: 20px;
}

.product-grouping:nth-child(3n+4) {
    margin-left: 0;
}

.product-grouping .heading {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
}

.product-grouping .heading,
.product-grouping .group-description {
    margin-bottom: 10px;
}

.product-grouping .product-listing {
    font-weight: 700;
    text-decoration: underline;
}

ul#ul-posting-nav li {
    float:left;
    width: 25%;
    box-sizing: border-box;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
}

ul#ul-posting-nav li:last-of-type {
    border-right: 1px solid #ddd;
}

ul#ul-posting-nav a {
    display: block;
    padding: 10px;
}

ul.product-tabs {
    height: 24px;
}

ul.product-tabs li:first-of-type {
    margin-left: 5px;
}

ul.product-tabs li {
    cursor: pointer;
    border: 1px solid #eee;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: inline;
    padding: 7px 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

ul.product-tabs li.active {
    font-weight: bold;
    cursor: default;
    text-decoration: none;
}

#grouping-list {
    margin-top: 18px;
}

/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* Form Styles */
.form-label {
    text-align: right;
    margin-right: 20px;
    width: 240px;
    display: inline-block;
    vertical-align: top;
}

.form-label label {
    font-weight: bold;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    padding: 8px 0 8px 0;
    position: relative;
    left: -2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input.comboboxWidget {
    float: left;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

ul.ui-autocomplete {
    height: 12em;
    overflow-y: scroll;
}

.formBox select {
    width: 221px;
}

.expiration-date-field select {
    width: 126px;
}

form select,
input#id_attachment {
    width: 256px;
    margin-bottom: 10px;
}

#contact-record-form ul {
    list-style-type: none;
    display: block;
}

.profile-form-input {
    display: inline-block;
    width: 256px;
}

fieldset textarea,
.profile-form-input input[type="text"],
.profile-form-input input[type="number"],
.profile-form-input input[type="password"] {
    width: 242px;
}

.checkbox-help-block {
    padding-top: 7px;
}

.reset-pass-input{
    width: 100% !important;
}

.profile-form-input textarea {
    height: 100px;
}

.required input,
.required select {
    border: 1px solid #900;
}

.required {
    display: inline;
}

.required label {
    color: #900;
}

.required-label,
.error-text {
    color: #900;
    margin-bottom: 5px;
}

.required-border {
    border: 1px solid #900;
}

.required input::-webkit-input-placeholder,
.required textarea::-webkit-input-placeholder {
    color: #900;
}

.required input:-ms-input-placeholder,
.required textarea:-ms-input-placeholder {
    color: #900;
}

.required input::-moz-placeholder,
.required textarea::-moz-placeholder {
    color: #900;
    opacity: 1;
}

.required input:-moz-placeholder,
.required textarea:-moz-placeholder {
    color: #900;
    opacity: 1;
}

input [type='text'] + .help-block,
div + .help-block,
div > .help-block{
    display: block;
    max-width: 96%;
    margin: -12px 0 5px 0;
    color: #555;
    font-size: .85em;
    font-style: italic;
}

input[type='checkbox'] + .help-block {
    display:inline;
    padding-left: 5px;
}

form input[type='checkbox'] {
    margin-top: -1px;
}

.direct_rightColBox label {
    display: inline-block;
}
