{% load seo_extras %}
{% load i18n %}
<div id="direct_navigation">
    <div id="direct_navMenu">
            {% for option in primary_nav_options|dictsort:"order" %}
            <a id="{{option.type}}" class="{{item_type}}" href="{{option.url}}">{{option.text}}</a>
            {% endfor %}
    </div>
    <div id="direct_subNavMenu">
    {% if primary_nav %}
        <ul id="direct_controlBar">
            {% if bread_box_path.title_slug %}
                <li id="direct_selected" class="direct_highlightedText">{{ bread_box_title.title_slug }}</li>
            {% endif %}
            {% if bread_box_path.location_slug %}
                <li id="direct_selected" class="direct_highlightedText">{{ bread_box_title.location_slug }}</li>
            {% endif %}
            {% if bread_box_path.facet_slug %}
                <li id="direct_selected" class="direct_highlightedText">{{ bread_box_title.facet_slug }}</li>
            {% endif %}
			{% if bread_box_path.moc_slug %}
                <li id="direct_selected" class="direct_highlightedText">{{ bread_box_title.moc_slug }}</li>
            {% endif %}
            <li id="direct_controls">
                <a id="direct_numeric" href="#" rel="nofollow">{% blocktrans %}No. of Jobs{% endblocktrans %}</a>
                <a id="direct_alpha" href="#" rel="nofollow">{% blocktrans %}Alphabetically{% endblocktrans %}</a>
                {% if primary_nav|length > site_config.num_subnav_items_to_show %}
                <span id="direct_moreLessLinks_subnavUl" data-type="subNav" data-num-items="{{site_config.num_subnav_items_to_show}}">
                    	{% include "includes/more_less_links.html" %}
				    </span>
                {% endif %}
            </li>
        </ul>
        <ul id="direct_subnavUl">
            {% include 'subnav_items.html' %}
        </ul>
        <div id="subNavClear"></div>
    {% endif %}
    </div>
</div>
