{% load i18n %}
{% load humanize %}
{% load seo_extras %}
  {% if search_url %}
  <form id="standardSearch" action="{{ search_url }}">
  {% else %}
  <form id="standardSearch" action="/jobs/">
  {% endif %}
    <div class="row standard">
      <div class="searchHeader" role="search">
          <div class="searchTab">
              <label for="location">{{ site_config.where_label|default:_("Where") }}</label>
              <input title="Search Location" type="text" name="location" id="location" class="micrositeLocationField" {% if location_term != "\*" %}value="{{ location_term }}"{% endif %} {% if site_config.where_placeholder %}placeholder="{{ site_config.where_placeholder }}"{% endif %}/>
              <span class="helptext" id="where">{% if site_config.where_helptext %}{{ site_config.where_helptext|safe }}{% else %}{% blocktrans %}city, state, country{% endblocktrans %}{% endif %}</span>
          </div>
          <div class="searchTab">
              <label for="q">{{ site_config.what_label|default:_("What") }}</label>
              <input title="Search Phrase" type="text" name="q" id="q" class="micrositeTitleField" {% if title_term != "\*" %}value="{{ title_term }}"{% endif %} {% if site_config.what_placeholder %}placeholder="{{ site_config.what_placeholder }}"{% endif %}/>
              <span class="helptext" id="what">{% if site_config.what_helptext %}{{ site_config.what_helptext|safe }}{% else %}{% blocktrans %}job title, keywords{% endblocktrans %}{% endif %}</span>
          </div>
        <div class="stub">
          <div class="pull-right">
            <input title="Submit Search" type="submit" class="btn primary" value="search" />
          </div>
        </div>
      </div><!-- .searchHeader -->
      <div class="clear"></div>
    </div>
    <div class="row">
    
      <div class="searchFooter">
        <a href="/" class="homeLink">{% blocktrans %}Home{% endblocktrans %}</a>
        <a href="/jobs/" class="viewAllLink">
            {% view_all_jobs_label site_config.view_all_jobs_detail %}
            <span class="totaljobs">
                <span>(</span>{{total_jobs_count|intcomma}}<span>)</span>
            </span>
        </a>        
        <div style="clear:both"></div>
      </div>
    </div>
  </form>
