{% load humanize %}
{% load i18n %}
{% load seo_extras %}
  {% if search_url %}
  <form id="standardSearch" action="{{ search_url }}">
  {% else %}
  <form id="standardSearch" action="/jobs/">
  {% endif %}
    <div class="row veteran">
      <div class="searchHeader" role="search">
        <div class="searchTab">
          <label for="location">{{ site_config.where_label|default:_("Where") }}</label>
          <input title="Search Location" type="text" name="location" id="location" class="micrositeLocationField" {% if location_term != "\*" %}value="{{ location_term }}"{% endif %} {% if site_config.where_placeholder %}placeholder="{{ site_config.where_placeholder }}"{% endif %}/>
          <span class="helptext" id="where">{% if site_config.where_helptext %}{{ site_config.where_helptext|safe }}{% else %}{% blocktrans %}city, state, country{% endblocktrans %}{% endif %}</span>
        </div>
        <div class="searchTab">
          <label for="q">{{ site_config.what_label|default:_("What") }}</label>
          <input title="Search Phrase" type="text" name="q" id="q" class="micrositeTitleField" {% if title_term != "\*" %}value="{{ title_term }}"{% endif %} {% if site_config.what_placeholder %}placeholder="{{ site_config.what_placeholder }}"{% endif %}/>
          <span class="helptext" id="what">{% if site_config.what_helptext %}{{ site_config.what_helptext|safe }}{% else %}{% blocktrans %}job title, keywords{% endblocktrans %}{% endif %}</span>
        </div>
        <div class="searchTab">
          <label for="moc">{{ site_config.moc_label|default:_('Military') }}</label>
          <input title="Search MOC" type="text" name="moc" id="moc" class="micrositeMOCField" {% if moc_term != "\*" %}value="{{ moc_term }}"{% endif %} {% if site_config.moc_placeholder %}placeholder="{{ site_config.moc_placeholder }}"{% endif %} />
          <span class="helptext" id="moc">{% if site_config.moc_helptext %}{{ site_config.moc_helptext|safe }}{% else %}{% blocktrans %}military job title or code{% endblocktrans %}{% endif %}</span>
	      <input type="hidden" name="moc_id" id="moc_id" {% if moc_id_term != "\*" %}value="{{ moc_id_term }}"{% endif %}/>
        </div>
        <div class="stub">
          <div class="pull-right">
            <input title="Submit Search" type="submit" class="btn primary" value="search"/>
          </div>
        </div>
      </div><!-- .searchHeader -->
    </div>
    <div class="row">
      <div class="searchFooter">
        <a href="/" class="homeLink">{% blocktrans %}Home{% endblocktrans %}</a>
        <a href="/jobs/" class="viewAllLink">
            {% view_all_jobs_label site_config.view_all_jobs_detail %}
            <span class="totaljobs">
                <span>(</span>{{total_jobs_count|intcomma}}<span>)</span>
            </span>
        </a>
        <div style="clear:both"></div>
      </div>
    </div>
  </form>
