{% extends "seo_base.html" %}
{% load i18n %}
{% load seo_extras %}
{% load cache %}
{% cache 600 joblisting %}

{% block directseo_title %}
    {{site_title}}
{% endblock %}

{% block meta_title %}
<meta name="title" content="{{site_title}}">
{% endblock %}

{% block direct_billboardExtraHeaderContent %}
<script>
    var leftLogo = 0;
    var rightLogo = 6;
    var companyLogoCount = {{company_images|length}}-1;
    var companyLogos = {{company_images_json|safe}};
    var featured_exists = new Boolean({{featured}});
    var billboardImagePosition = 0;
    var billboardImagePositionMax = {{billboard_images|length}}-1;        
</script>
{% if not "network" in site_tags %}
    <link rel="stylesheet" href="/style/def.ui.dotjobs.css" type="text/css">
    <script type="text/javascript">var ABSOLUTE_URL = "{{ ABSOLUTE_URL }}";</script>
    <script src="{{ STATIC_URL }}def.ui.dotjobs.153-26.js" type="text/javascript"></script>
    <style>
    body{
        padding-top: 0px;
    }
    </style>
{% endif %}

{% endblock direct_billboardExtraHeaderContent%}

{% block publisher %}
    {% if site_config.publisher and "network" not in site_tags %}
        <link href="https://plus.google.com/{{ site_config.publisher }}" rel="publisher" />
    {% else %}
        <link href="https://plus.google.com/100406566063094579991" rel="publisher" />
    {% endif %}
{% endblock %}

{% block directseo_primary_navigation %}{% endblock directseo_primary_navigation %}

{% block directseo_container %}
    <div id="direct_header">
        <h1 id="direct_mobileH1">
            {% if "network" in site_tags %}
                {% with site_heading|cut:".jobs" as site_heading_base %}
                    {%if site_heading_base == site_heading %}
                        {% with site_heading|cut:" Jobs" as site_heading_base2 %}
                            {%if site_heading_base2 == site_heading %}
                                {{site_heading}}
                            {% else %}
                                {{site_heading_base2}}<img src="//d2e48ltfsb5exy.cloudfront.net/content_ms/img/dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {{site_heading_base}}<img src="//d2e48ltfsb5exy.cloudfront.net/content_ms/img/dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                    {% endif %}
                {% endwith %}
            {% else %}
                {% if site_heading|lower == "default" %}
                    {{host}}
                {%else%}
                    {{site_heading}}
                {% endif %}    
            {% endif %}            
        </h1>
        {% block directseo_header %}{% include "header.html" %}{% endblock directseo_header %}
        {% if "network" in site_tags %}
        <a href="http://secure.my.jobs" class="account_btn">My Account</a>
        {% endif %}
    </div><!--direct_header-->

    {% block before_billboard %}{% endblock before_billboard %}

    <div class="direct_searchContainer" id="direct_dotjobsMetaBoxSearch">
        <script>
            var billboard_list = [];
            var billboard_written=false;
            var mobile_width = 500;
            // populate the billboard array from the DB
            {%for billboardImage in billboard_images %}                
                temp = [];
                temp.image_url="{{billboardImage.image_url}}";
                temp.logo_url="{{billboardImage.logo_url}}";
                temp.sponsor_url="{{billboardImage.sponsor_url}}";
                temp.copyright_info="{{billboardImage.copyright_info}}";
                temp.source_url="{{billboardImage.source_url}}";
                hotspot_set = [];
                {% for hotspot in billboardImage.billboardhotspot_set.all %}
                    hotspot_item = [];
                    hotspot_item.title = "{{hotspot.title}}";
                    hotspot_item.url = "{{hotspot.url}}";
                    hotspot_item.display_url = "{{hotspot.display_url}}";
                    hotspot_item.text = "{{hotspot.text|escapejs}}";
                    hotspot_item.x = "{{hotspot.offset_x}}";
                    hotspot_item.y = "{{hotspot.offset_y}}";
                    hotspot_item.primary_color = "{{hotspot.primary_color}}";
                    hotspot_item.font_color = "{{hotspot.font_color}}";
                    hotspot_item.border_color = "{{hotspot.border_color}}";
                    hotspot_set.push(hotspot_item);
                {% endfor %}                
                temp.hotspots = hotspot_set;
                billboard_list.push(temp);
            {% endfor %}
            // randomize the array
            billboard_list = fisherYates(billboard_list);
            //Undefined Check     
            if(typeof billboard_list[0] != "undefined")             
            {	
		    // preload the first image for a leg up on display time
		    if(billboard_list[0].image_url !="" && 
		       billboard_list[0].image_url.toLowerCase()!="none" &&
		       detectWidth()>width){
			preload_image = new Image();
			preload_image.src = billboard_list[0].image_url;
		    }
		    // write the billboard html
		    billboard_written=WriteMobileSafeBillboard(
			billboard_list,
			billboard_written,
			mobile_width);
	     }
        </script>        
        
        
        {% if site_config.browse_moc_show %}
            {% include "search_box_vets.html" %}
        {% else %}
            {% include "search_box.html" %}
        {% endif %}
        {% block directseo_main_content %}
        {% if billboard_images.0.logo_url %}
        <div id="direct_searchBoxBottom">
        {% else %}
        <div id="direct_searchBoxBottom" class="nobg">
        {% endif %}
            <div id="direct_dotjobsBottomSponsor">
            </div>
            {% if "network" in site_tags %}
            <script>
                // Call BuildSponsorLogo twice since the function can return two 
                // different div values.  Once with empty values to get the 
                // Sponsor Watermark added to all network billboards.
                // The second call adds the 'sponsored by' logo to the billboard.
                $("#direct_dotjobsBottomSponsor").append(BuildSponsorLogo("",""));
            </script>
            {% endif %}
            {% if billboard_images.0.logo_url %}
            <script>
                $("#direct_dotjobsBottomSponsor").append(
                    BuildSponsorLogo(billboard_list[0].logo_url, billboard_list[0].sponsor_url)
                    );
            </script>
            {% endif %}
                        
            
            {% if billboard_images|length >= 2 %}
            <div id="direct_dotJobsImageControls">
                <span class="imageControl" data-node="prev" id="direct_imageControl_prev" ></span>
                {%for billboardImage in billboard_images %} 
                <span 
                    class="imageControl {% if forloop.counter0 == 0 %}active{%endif%}" 
                    data-node="{{forloop.counter0}}" 
                    id="direct_imageControl_{{forloop.counter0}}" >{{forloop.counter}}</span>
                {% endfor %}
                <span class="imageControl" data-node="next" id="direct_imageControl_next"></span>                
                <div class="clear"></div>
            </div>
            {% endif %}
        </div>
        
    </div>
    {% if site_config.browse_company_show %}
    <div id="direct_dotjobsCustomNavBar">
        <div class="row">
            {% custom_page_navigation as nav %}
            {% if not nav %}
                {% if featured == "true" %}
                <a class="companyLink" href="/featured-companies/">
                    {% blocktrans %}Featured Companies{% endblocktrans %}
                </a>
                {% endif %}                
                <a class="companyLink" href="/member-companies/">
                    {% blocktrans %}Member Companies{% endblocktrans %}
                </a>
                <a class="companyLink" href="/all-companies/">
                    {% blocktrans %}All Companies{% endblocktrans %}
                </a>
            {% else %}
                {% autoescape off %}
                {{ nav }}
                {% endautoescape %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    
    {% block after_billboard %}{% endblock after_billboard %}
    
    {% endblock directseo_main_content%}   
    
    {% block directseo_right_hand_column %}{% endblock directseo_right_hand_column%}
    {% block directseo_off_site_links %}
        {% if site_config.show_home_social_footer %}
            <div id="home-social-footer">
                {% include "off_site_links.html" %}
            </div>
        {% else %}
            <div id="direct_clearDiv"></div>
        {% endif %}
    {% endblock directseo_off_site_links %}

    {% filter_carousel %}

    <div id="direct_footer">
        {% block directseo_footer %}{% endblock directseo_footer %}
    </div>
{% endblock directseo_container%}

    {% block directseo_micrositecarousel %}
        {% if site_config.show_home_microsite_carousel %}
            <div id="home-microsite-carousel">
                {{ block.super }}
            </div>
        {% endif %}
    {% endblock directseo_micrositecarousel %}   

{% endcache %}
