{% load seo_extras %}
{% for item in primary_nav %}
  {% with item_url=item.0|facet_url|urlencode item_name=item.0|facet_text|smart_truncate|safe %}
    {% url nav_full_slug_path full_slug_path=item_url as nav_full_slug_path %}
    {% if forloop.counter <= site_config.num_subnav_items_to_show %}
        <li>
        {% if nav_full_slug_path %}
            <a href="{{ nav_full_slug_path|slice:":-1" }}">
        {% endif %}
        {{item_name}}
        </a>
        ({{item.1}})
        </li>
    {% else %}
        <li class="direct_subNavToggles direct_hiddenOption">
        {% if nav_full_slug_path %}
            <a href="{{ nav_full_slug_path|slice:":-1" }}">
        {% endif %}
        {{item_name}}
        </a>
        ({{item.1}})
        </li>
    {% endif %}
  {% endwith %}
{% endfor %}
