{% extends 'static_page.html' %}
{% block site-title %}
        <title>.JOBS Testimonials</title>
        <meta name="title" content=".JOBS Testimonials">
{% endblock site-title%}
{% block meta-extra %}{% endblock %}
{% block header %}
    <h1>.JOBS Testimonials</h1>
{% endblock header %}
{% block text %}

    <h2>Job Seeker Testimonial</h2>
    <div class="testimonials">
        <div>
            <h5>Brittney</h5>
            <iframe src="http://player.vimeo.com/video/22713225?title=0&amp;byline=0&amp;portrait=0&amp;color=999999" width="280" height="158" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            <div class="clear"></div>
            <p>
                Job seeker, Brittney, describes her experience using The .jobs Universe to find a job in health care.
                <br><br>
                <i>“.JOBS was really easy. I just went on, typed in nursing.jobs and it brought up all the nursing related careers.”</i>
                <br><br>
                    <span class="pull-right">
                        <b>Brittney</b>
                        <br>
                        Job Seekers
                    </span>
            </p>
        </div>
    </div>

    <h2>Employer Testimonials</h2>
        <div class="testimonials">
            <div>
                <h5>Why are you excited about .JOBS?</h5>
                <iframe src="http://player.vimeo.com/video/19143109?title=0&amp;byline=0&amp;portrait=0&amp;color=999999" width="280" height="158" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                <div class="clear"></div>
                <p>
                    Getting in front of a diverse candidate pool and making it easy for job seekers to find real jobs are just some of the reasons employers are excited about The .JOBS Universe.
                    <br><br>
                    <small><strong>Featured employers:</strong> Amy Rutigliano, Level 3 Communications; Mike Rickheim, Newell Rubbermaid; Jonathan Rosenberg, ConocoPhillips; Ray Schreyer, IBM Corporation; Simon Evans, SRA International; Brian Jensen, The McGraw-Hill Companies; and Jason Capili, PricewaterhouseCoopers LLP</small>
                    <br><br>
                    <i>“I think it gives employers the opportunity to put our jobs out for the entire world to see and make it easy for the job seeker to find real and available jobs.”</i>
                    <br><br>
                    <span class="pull-right">
                        <b>Jonathon Rosenberg, ConocoPhillips</b>
                        <br>
                        Director, Recruiting and Talent Sourcing
                    </span>
                </p>
            </div>
            <div>
                <h5>Value proposition of .JOBS</h5>
                <iframe src="http://player.vimeo.com/video/19144478" width="280" height="158" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                <div class="clear"></div>
                <p>
                    A streamlined, cost-effective recruitment process is the leading .JOBS value proposition identified by employers.
                    <br><br>
                    <small><strong>Featured employers:</strong> Brian Jensen, The McGraw-Hill Companies; Ray Schreyer, IBM Corporation; Amy Rutigliano, Level 3 Communications; Simon Evans, SRA International; Mike Rickheim, Newell Rubbermaid; Jonathan Rosenberg, ConocoPhillips; and Jason Capili, PricewaterhouseCoopers LLP</small>
                    <br><br>
                    <i>“I think from a compliance perspective the .JOBS platform will be able to provide certainly easier outlets and channels that are specified for protected groups. Right now I think that there are too many options our there and this just simplifies or streamlines it all for individuals.”</i>
                    <br><br>
                    <span class="pull-right">
                        <b>Jason Capili, PricewaterhouseCoopers LLP</b>
                        <br>
                        Senior Manager, AA/EEO Compliance
                    </span>
                </p>
            </div>
            <div>
                <h5>.JOBS brings innovation</h5>
                <iframe src="http://player.vimeo.com/video/19531295?title=0&amp;byline=0&amp;portrait=0&amp;color=999999" width="280" height="158" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                <div class="clear"></div>
                <p>
                    The recruiting space is continually evolving and progressive companies see the value and innovation that .JOBS brings to employers and job seekers.
                    <br><br>
                    <small><strong>Featured employers:</strong> Ray Schreyer, IBM Corporation, and Brian Jensen, The McGraw-Hill Companies</small>
                    <br><br>
                    <i>“The recruiting space is continually evolving. We all used to go to newspapers to post our jobs and when the job boards came online, everyone was opposed to that, that was change. .JOBS now is further change and progressive companies that can see forward will see the value in this and over time everyone will move there.”</i>
                    <br><br>
                    <span class="pull-right">
                        <b>Brian Jensen, The McGraw-Hill Companies</b>
                        <br>
                        VP, Talent Acquisition
                    </span>
                </p>
            </div>
            <div>
                <h5>.JOBS in the tough economy</h5>
                <iframe src="http://player.vimeo.com/video/19169547?title=0&amp;byline=0&amp;portrait=0&amp;color=999999" width="280" height="158" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                <div class="clear"></div>
                <p>
                    In the tough economy, employers realize that providing all available opportunities is essential to helping job seekers find employment.
                    <br><br>
                    <small><strong>Featured employers:</strong> Mike Rickheim, Newell Rubbermaid and Ray Schreyer, IBM Corporation</small>
                    <br><br>
                    <i>“I am excited about the .JOBS platform because it will add efficiencies as it relates to both employers and job seekers, as well as reduce the cost of recruiting for employers.”</i>
                    <br><br>
                    <span class="pull-right">
                        <b>Ray Schreyer, IBM Corporation</b>
                        <br>
                        Program Manager Internet Recruiting Strategies
                    </span>
                </p>
            </div>
            <div>
                <h5>Ray Schreyer discusses .JOBS</h5>
                <iframe src="http://player.vimeo.com/video/19492677?title=0&amp;byline=0&amp;portrait=0&amp;color=999999" width="280" height="158" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                <div class="clear"></div>
                <p>
                    Recruitment industry veteran, Ray Schreyer of IBM, explains the misconceptions of .JOBS, the benefits for both employers and job seekers, and how he and other employers pushed to make The .jobs Universe a reality.
                    <br><br>
                    <small><strong>Featured employers:</strong> Ray Schreyer, IBM Corporation</small>
                    <br><br>
                    <i>“This will fundamentally change the way we find talent and talent finds us.”</i>
                    <br><br>
                    <span class="pull-right">
                        <b>Ray Schreyer, IBM Corporation</b>
                        <br>
                        Program Manager Internet Recruiting Strategies
                    </span>
                </p>
            </div>
        </div>

{% endblock text %}
