<div id="date_activity">
        {% if date_display = "Today" %}
            <a id="date_range_dropdown" href="#">{ date_display }}</a>
        {% else %}
            <a id="date_range_dropdown" href="#">{{ date_display }} Days</a>
        {% endif %}
    <a href="#"><div class="arrow-down"></div></a>
</div>

<div class="date_range">
    <form action='{{ date_submit_url }}' method='POST'>
        {% csrf_token %}
        <div id="date-selection">
            <input class="btn btn-success" type="hidden" name="first-hide" id="first-hide">
            <input class="btn" type="submit" name="today" id="today" value="Today">&nbsp;
            <input class="btn" type="submit" name="seven_days" id="seven_days" value="7 Days">&nbsp;
            <input class="btn" type="submit" name="thirty_days" id="thirty_days" value="30 days">
        </div>
        <div>
            <br>
            <input name="date_start" type="text" placeholder="{{ date_start|date:'m/d/Y' }}" class="datepicker"> <strong>to</strong><br>
            <input name="date_end" type="text" placeholder="{{ date_end|date:'m/d/Y' }}" class="datepicker">
        </div>
        <div class="span2 pull-right primary-btn-padding"><input type="submit" class="btn primary" value="View Activity"></div>
    </form>
</div>
