{% extends "base.html" %}

{% comment %}
This template is used when we need to provide a user with more information than a simple
404 erorr would give, but need to provide more context than is available with a regular error
box.
{% endcomment %}

{% block content %}
<div class="row">
    <div class="row" style="margin-left: 20px">
        <div class="formBox">
            <img class="mobile-img" src="/files/images/caution-badge.png">
            <p>{{ feature }} currently unavailable. {{ message }}</p>
            {% if link %}
            <a class="btn mobile-btn pull-right" href="{{ link }}">{{ link_text|default:"OK" }}</a>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
