{% load i18n %}
{% if not site_heading %}
    {% load seo_extras %}
    {% flatpage_site_heading as site_heading %}
{% endif %}
{% if site_config.wide_header %} 
    {{site_config.wide_header|safe}} 
{% elif 'network' in site_tags %}
{% load seo_extras %}
<div class="direct_dotjobsWideHeader">

    <div id="megaMenu">
        <div class="container">
            <ul role="menu" id="mega-menu-navigation" class="menu-tabs">
                <li role="menuitem">
                    <a id="megaMenuHomeLink" href="http://www.my.jobs">Home</a>
                </li>
                <li role="menuitem" class="active">
                    <a id="megaMenuStatesTab" class="mega-menu-navigation-tab">States</a>
                </li>
                <li role="menuitem">
                    <a id="megaMenuCitiesTab" class="mega-menu-navigation-tab">Cities</a>
                </li>
                <li role="menuitem">
                    <a id="megaMenuCompaniesTab" class="mega-menu-navigation-tab">Companies</a>
                </li>
                <li role="menuitem">
                    <a id="megaMenuMFTab" class="mega-menu-navigation-tab">Military Bases</a>
                </li>
                <li role="menuitem">
                    <a id="megaMenuSiteTagsTab" class="mega-menu-navigation-tab">Tags</a>
                </li>
            </ul>
            <div class="megamenu-social-tabs">
                <a id="social-link-facebook" class="social_icon facebook_icon" href="http://app.ly/1qOEmOo"></a>
                <a id="social-link-twitter" class="social_icon twitter_icon" href="http://app.ly/1qEhrDS"></a>
                <a id="social-link-google" class="social_icon google_icon" href="http://app.ly/1lOdy9j"></a>
                <a id="social-link-linkedin" class="social_icon linkedin_icon" href="http://app.ly/VA4T50"></a>
            </div>
        </div>
        <div id="megaMenuContent">
            <div id="megaMenuStates">
                <div class="span-one-fifth">
                    <ul role="menu">
                        <li role="menuitem"><a href="http://alabama.jobs/">Alabama</a></li>
                        <li role="menuitem"><a href="http://alaska.jobs/">Alaska</a></li>
                        <li role="menuitem"><a href="http://arizona.jobs/">Arizona</a></li>
                        <li role="menuitem"><a href="http://arkansas.jobs/">Arkansas</a></li>
                        <li role="menuitem"><a href="http://california.jobs/">California</a></li>
                        <li role="menuitem"><a href="http://colorado.jobs/">Colorado</a></li>
                        <li role="menuitem"><a href="http://connecticut.jobs/">Connecticut</a></li>
                        <li role="menuitem"><a href="http://delaware.jobs/">Delaware</a></li>
                        <li role="menuitem"><a href="http://florida.jobs/">Florida</a></li>
                        <li role="menuitem"><a href="http://georgia.jobs/">Georgia</a></li>
                        <li role="menuitem"><a href="http://hawaii.jobs/">Hawaii</a></li>
                        <li role="menuitem"><a href="http://idaho.jobs/">Idaho</a></li>
                    </ul>
                </div>

                <div class="span-one-fifth">
                    <ul role="menu">
                        <li role="menuitem"><a href="http://illinois.jobs/">Illinois</a></li>
                        <li role="menuitem"><a href="http://indiana.jobs/">Indiana</a></li>
                        <li role="menuitem"><a href="http://iowa.jobs/">Iowa</a></li>
                        <li role="menuitem"><a href="http://kansas.jobs/">Kansas</a></li>
                        <li role="menuitem"><a href="http://kentucky.jobs/">Kentucky</a></li>
                        <li role="menuitem"><a href="http://louisiana.jobs/">Louisiana</a></li>
                        <li role="menuitem"><a href="http://maine.jobs/">Maine</a></li>
                        <li role="menuitem"><a href="http://maryland.jobs/">Maryland</a></li>
                        <li role="menuitem"><a href="http://massachusetts.jobs/">Massachusetts</a></li>
                        <li role="menuitem"><a href="http://michigan.jobs/">Michigan</a></li>
                        <li role="menuitem"><a href="http://minnesota.jobs/">Minnesota</a></li>
                        <li role="menuitem"><a href="http://mississippi.jobs/">Mississippi</a></li>
                    </ul>
                </div>

                <div class="span-one-fifth">
                    <ul role="menu">
                        <li role="menuitem"><a href="http://missouri.jobs/">Missouri</a></li>
                        <li role="menuitem"><a href="http://montana.jobs/">Montana</a></li>
                        <li role="menuitem"><a href="http://nebraska.jobs/">Nebraska</a></li>
                        <li role="menuitem"><a href="http://nevada.jobs/">Nevada</a></li>
                        <li role="menuitem"><a href="http://newhampshire.jobs/">New Hampshire</a></li>
                        <li role="menuitem"><a href="http://newjersey.jobs/">New Jersey</a></li>
                        <li role="menuitem"><a href="http://newmexico.jobs/">New Mexico</a></li>
                        <li role="menuitem"><a href="http://newyork.jobs/">New York</a></li>
                        <li role="menuitem"><a href="http://northcarolina.jobs/">North Carolina</a></li>
                        <li role="menuitem"><a href="http://northdakota.jobs/">North Dakota</a></li>
                        <li role="menuitem"><a href="http://ohio.jobs/">Ohio</a></li>
                        <li role="menuitem"><a href="http://oklahoma.jobs/">Oklahoma</a></li>
                    </ul>
                </div>

                <div class="span-one-fifth">
                    <ul role="menu">
                        <li role="menuitem"><a href="http://oregon.jobs/">Oregon</a></li>
                        <li role="menuitem"><a href="http://pennsylvania.jobs/">Pennsylvania</a></li>
                        <li role="menuitem"><a href="http://rhodeisland.jobs/">Rhode Island</a></li>
                        <li role="menuitem"><a href="http://southcarolina.jobs/">South Carolina</a></li>
                        <li role="menuitem"><a href="http://southdakota.jobs/">South Dakota</a></li>
                        <li role="menuitem"><a href="http://tennessee.jobs/">Tennessee</a></li>
                        <li role="menuitem"><a href="http://texas.jobs/">Texas</a></li>
                        <li role="menuitem"><a href="http://utah.jobs/">Utah</a></li>
                        <li role="menuitem"><a href="http://vermont.jobs/">Vermont</a></li>
                        <li role="menuitem"><a href="http://virginia.jobs/">Virginia</a></li>
                        <li role="menuitem"><a href="http://washington.jobs/">Washington</a></li>
                        <li role="menuitem"><a href="http://westvirginia.jobs/">West Virginia</a></li>
                    </ul>
                </div>

                <div class="span-one-fifth">
                <ul role="menu">
                <li role="menuitem"><a href="http://wisconsin.jobs/">Wisconsin</a></li>
                <li role="menuitem"><a href="http://wyoming.jobs/">Wyoming</a></li>
                </ul>
                <h4 class="moreLocs">Other US Locations</h4>
                <ul role="menu">
                    <li role="menuitem"><a href="http://districtofcolumbia.jobs/">District of Columbia</a></li>
                    <li role="menuitem"><a href="http://guam.jobs/">Guam</a></li>
                    <li role="menuitem"><a href="http://puertorico.jobs/">Puerto Rico</a></li>

                    <li role="menuitem"><a href="http://usvirginislands.jobs/">Virgin Islands</a></li>
                </ul>
                </div>

            </div>

            <div id="megaMenuCities">
                <div class="row">
                    <div class="span10"><h4>All Cities</h4></div>
                    <div class="span6"><h4>Popular Cities</h4></div>
                </div>
                <div class="span3 selectBox">
                    <div class="cityList" id="cityStatesDiv">
                        <ul role="menu" id="cityStatesList">
                            <li role="menuitem">Alabama</li>
                            <li role="menuitem">Alaska</li>
                            <li role="menuitem">Arizona</li>
                            <li role="menuitem">Arkansas</li>
                            <li role="menuitem">California</li>
                            <li role="menuitem">Colorado</li>
                            <li role="menuitem">Connecticut</li>
                            <li role="menuitem">Delaware</li>
                            <li role="menuitem">Florida</li>
                            <li role="menuitem">Georgia</li>
                            <li role="menuitem">Hawaii</li>
                            <li role="menuitem">Idaho</li>
                            <li role="menuitem">Illinois</li>
                            <li role="menuitem">Indiana</li>
                            <li role="menuitem">Iowa</li>
                            <li role="menuitem">Kansas</li>
                            <li role="menuitem">Kentucky</li>
                            <li role="menuitem">Louisiana</li>
                            <li role="menuitem">Maine</li>
                            <li role="menuitem">Maryland</li>
                            <li role="menuitem">Massachusetts</li>
                            <li role="menuitem">Michigan</li>
                            <li role="menuitem">Minnesota</li>
                            <li role="menuitem">Mississippi</li>
                            <li role="menuitem">Missouri</li>
                            <li role="menuitem">Montana</li>
                            <li role="menuitem">Nebraska</li>
                            <li role="menuitem">Nevada</li>
                            <li role="menuitem">New Hampshire</li>
                            <li role="menuitem">New Jersey</li>
                            <li role="menuitem">New Mexico</li>
                            <li role="menuitem">New York</li>
                            <li role="menuitem">North Carolina</li>
                            <li role="menuitem">North Dakota</li>
                            <li role="menuitem">Ohio</li>
                            <li role="menuitem">Oklahoma</li>
                            <li role="menuitem">Oregon</li>
                            <li role="menuitem">Pennsylvania</li>
                            <li role="menuitem">Rhode Island</li>
                            <li role="menuitem">South Carolina</li>
                            <li role="menuitem">South Dakota</li>
                            <li role="menuitem">Tennessee</li>
                            <li role="menuitem">Texas</li>
                            <li role="menuitem">Utah</li>
                            <li role="menuitem">Vermont</li>
                            <li role="menuitem">Virginia</li>
                            <li role="menuitem">Washington</li>
                            <li role="menuitem">West Virginia</li>
                            <li role="menuitem">Wisconsin</li>
                            <li role="menuitem">Wyoming</li>
                        </ul>
                    </div>
                </div>

                <div class="span7 selectBox" id="cityCitiesSelect">
                    <div class="cityList" id="cityCitiesDiv">
                        <ul role="menu" id="cityCitiesList"></ul>
                        <div id="cityLoading"></div>
                    </div>
                </div>

                <div class="span6 selectBox">
                    <div class="cityList" id="popularCityList">
                        <ul role="menu" id="cityPopularCities" style="border: none;">
                            <li role="menuitem"><a href="http://newyorkmetro.jobs/">New York, NY</a></li>
                            <li role="menuitem"><a href="http://losangeles.jobs">Los Angeles, CA</a></li>
                            <li role="menuitem"><a href="http://chicago.jobs/">Chicago, IL</a></li>
                            <li role="menuitem"><a href="http://dallas.jobs/">Dallas, TX</a></li>
                            <li role="menuitem"><a href="http://philadelphia.jobs/">Philadelphia, PA</a></li>
                            <li role="menuitem"><a href="http://houston.jobs/">Houston, TX</a></li>
                            <li role="menuitem"><a href="http://dcmetro.jobs/">Washington, DC</a></li>
                            <li role="menuitem"><a href="http://miami.jobs/">Miami, FL</a></li>
                            <li role="menuitem"><a href="http://atlanta.jobs/">Atlanta, GA</a></li>
                            <li role="menuitem"><a href="http://boston.jobs/">Boston, MA</a></li>
                            <li role="menuitem"><a href="http://indianapolis.jobs/">Indianapolis, IN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="megaMenuCompanies">
                    <div id="megaCompanyButtons">
                        <a class="btn  btn-primary alpha-a">a</a>
                        <a class="btn alpha-b">b</a>
                        <a class="btn alpha-c">c</a>
                        <a class="btn alpha-d">d</a>
                        <a class="btn alpha-e">e</a>
                        <a class="btn alpha-f">f</a>
                        <a class="btn alpha-g">g</a>
                        <a class="btn alpha-h">h</a>
                        <a class="btn alpha-i">i</a>
                        <a class="btn alpha-j">j</a>
                        <a class="btn alpha-k">k</a>
                        <a class="btn alpha-l">l</a>
                        <a class="btn alpha-m">m</a>
                        <a class="btn alpha-n">n</a>
                        <a class="btn alpha-o">o</a>
                        <a class="btn alpha-p">p</a>
                        <a class="btn alpha-q">q</a>
                        <a class="btn alpha-r">r</a>
                        <a class="btn alpha-s">s</a>
                        <a class="btn alpha-t">t</a>
                        <a class="btn alpha-u">u</a>
                        <a class="btn alpha-v">v</a>
                        <a class="btn alpha-w">w</a>
                        <a class="btn alpha-x">x</a>
                        <a class="btn alpha-y">y</a>
                        <a class="btn alpha-z">z</a>
                        <a class="btn alpha-0-9">0-9</a>
                    </div>
                    <div id="megaCompanyColumnWrapper">
                        <ul role="menu" class="megaCompanyColumn"></ul>
                        <ul role="menu" class="megaCompanyColumn"></ul>
                        <ul role="menu" class="megaCompanyColumn"></ul>
                    </div>
            </div>
            <div id="megaMenuMF">
                <div id="MilitaryFamilySearch">
        <p>
        <input id="veteransFilter" class="mocSearchField" with="950px">
        <span class="MFsearchlabel">Enter the base name or location (i.e. "North Carolina" or "Pearl Harbor")</span>
        </p>

        <div class="direct_popBaseList">
        <table>
                    <tr>
                       <td colspan="5">
                       <h3>Popular Bases</h3>
                       </td>
                    </tr>
                    <tr>
                       <th>
                       Army
                       </th>
                       <th>
                       Air Force
                       </th>
                       <th>
                       Coast Guard
                       </th>
                       <th>
                       Navy
                       </th>
                       <th>
                       Marines
                       </th>
                    </tr>
                    <tr>
                       <td>
                          <ul role="menu">
                             <li role="menuitem"><a href="http://ftbragg.jobs/">Fort Bragg</a></li>
                             <li role="menuitem"><a href="http://ftcampbell.jobs/">Fort Campbell</a></li>
                             <li role="menuitem"><a href="http://ftlewis.jobs/">Fort Lewis</a></li>
                             <li role="menuitem"><a href="http://ftbenning.jobs/">Fort Benning</a></li>
                             <li role="menuitem"><a href="http://fthood.jobs/">Fort Hood</a></li>
                          </ul>
                       </td>
                       <td>
                          <ul role="menu">
                             <li role="menuitem"><a href="http://andrewsafb.jobs/">Andrews AFB</a></li>
                             <li role="menuitem"><a href="http://lacklandafb.jobs/">Lackland AFB</a></li>
                             <li role="menuitem"><a href="http://moodyafb.jobs/">Moody AFB</a></li>
                             <li role="menuitem"><a href="http://goodfellow.jobs/">Goodfellow AFB</a></li>
                             <li role="menuitem"><a href="http://grandforksafb.jobs/">Grand Forks AFB</a></li>
                          </ul>
                       </td>
                       <td>
                          <ul role="menu">
                             <li role="menuitem"><a href="http://uscgelizabethcity.jobs/">Elizabeth City</a></li>
                             <li role="menuitem"><a href="http://uscghamptonroads.jobs/">Hampton Roads</a></li>
                             <li role="menuitem"><a href="http://uscgtrainingcenteryorktown.jobs/">Training Center Yorktown</a></li>
                             <li role="menuitem"><a href="http://uscgseattle.jobs/">ISC Seattle</a></li>
                             <li role="menuitem">&nbsp;</li>
                          </ul>
                       </td>
                       <td>
                          <ul role="menu">
                             <li role="menuitem"><a href="http://navalstationnorfolk.jobs/">Naval Station Norfolk</a></li>
                             <li role="menuitem"><a href="http://pearlharbor.jobs/">Pearl Harbor</a></li>
                             <li role="menuitem"><a href="http://kingsbaynavalbase.jobs/" style="padding-right:0">
                               {# style exception to force this to single line #}
                               Naval Sub Base Kings Bay</a></li>
                             <li role="menuitem"><a href="http://navalairstationpensacola.jobs/">NAS Pensacola</a></li>
                             <li role="menuitem"><a href="http://navalbasesandiego.jobs/">Naval Base San Diego</a></li>
                          </ul>
                       </td>
                       <td>
                          <ul role="menu">
                             <li role="menuitem"><a href="http://marinecorpsbasequantico.jobs/">MCB Quantico</a></li>
                             <li role="menuitem"><a href="http://marinebasehawaii.jobs/">MCB Hawaii</a></li>
                             <li role="menuitem"><a href="http://mcasmiramar.jobs/">MCAS Miramar</a></li>
                             <li role="menuitem"><a href="http://camppendleton.jobs/">Camp Pendleton</a></li>
                             <li role="menuitem"><a href="http://camplejeune.jobs/">Camp Lejeune</a></li>
                          </ul>
                       </td>
                    </tr>
                </table>
               </div>
               </div>
            </div>
            <div id="megaMenuSiteTags">
                <div class="row">
                    <div class="span5"><h4 class="fix-right-margin">Site Tags</h4></div>
                    <div class="span11"><h4>Sites</h4></div>
                </div>
                <div class="span5 selectBox">
                    <span class="pull-left megaMenuTab active" id="topTags">Top Tags</span>
                    <span class="pull-right megaMenuTab" id="allTags">All Tags</span>
                    <div class="clear"></div>
                    <div class="tagList" id="siteTagDiv">
                        <ul role="menu" class="siteTagsList hideTagList" id="allTags">
                            {% all_site_tags as tags %}
                            {% for tag in tags %}
                                <li role="menuitem">{{tag.title}}</li>
                            {% endfor %}
                        </ul>
                        <ul role="menu" class="siteTagsList showTagList" id="topTags" style="border: none;">
                            <li role="menuitem">US Metros</li>
                            <li role="menuitem">US State/Territory</li>
                            <li role="menuitem">Asia</li>
                            <li role="menuitem">Internships</li>
                        </ul>
                    </div>
                </div>
                <div class="span11 selectBox" id="siteTagSelect">
                    <div class="tagList">
                        <ul role="menu" id="associatedList"></ul>
                        <div id="associatedLoading"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="direct_dotjobsHeader" role="banner">
        {% if site_config.home_page_template == "home_page/home_page_my_jobs.html" %}
            <h1>
                <a href="/">
                    <img src="//d2e48ltfsb5exy.cloudfront.net/myjobs/logos/myjobs_logo_md.145-03.png" id="headerLogo" alt="my.jobs" width="192" height="83" />
                </a>
                <span id="direct_tagline">
                    The Right Place for <a id="" href="https://secure.my.jobs"></a>
                </span>
            </h1>
        {% else %}
            {% if site_heading|lower == "default" %}
                <h1 class="noDotJobs">
                    {{host}}
                </h1>
            {% else %}
                {% with site_heading|cut:".jobs" as site_heading_base %}
                    {%if site_heading_base == site_heading %}
                        {% with site_heading|case_insensitive_cut:" Jobs" as site_heading_base2 %}
                            {%if site_heading_base2 == site_heading %}
                                <h1 class="noDotJobs">
                                {{site_heading}}
                                </h1>
                            {% else %}
                                <h1><a href="/">
                                {{site_heading_base2}}<img src="{{ STATIC_URL }}dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                                </a></h1>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <h1><a href="/">
                        {{site_heading_base}}<img src="{{ STATIC_URL }}dotJobs-logo.145-03.png" id="headerLogo" alt=".jobs" width="135" height="83">
                        </a></h1>
                    {% endif %}
                {% endwith %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}
