{% extends "registration/dseo/dseo_registration_base.html" %}
{% load i18n %}
{% load common_tags %}


{% block directseo_main_content %}
{% if merged %}
    <div class="row">
        <div class="span12" id="profileTitleRow">
            <h1>{% trans "Account Activated" %}</h1>
        </div>
    </div>

    <div class="row" id="profileTitleRow">
        <div class="span2" id="gravatar-1">
               {% get_gravatar activated '140' %}
        </div>
        <div class="span6" id="profileTitleBar">
            <h2 id="user_email">{{ activated.email }}</h2>
            <p>
            {% trans "Your account has been successfully merged, and you are now logged in."%}
            </p>
        </div>
    </div> {# /.row#profileTitleRow #}

{% else %}
    <div class="row">
        <div class="span12">
            <h1>{% trans "Activation failed" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="span8">
            <p>
            {% trans "Something went wrong while merging your account. "%}
            {% trans "This might mean that:"%}
                <ul>
                    <li>{% trans "The activation code was wrong" %}</li>
                    <li>{% trans "Your account has already been merged" %}</li>
                    <li>{% trans "You waited longer than 2 weeks to activate your account" %}</li>
                </ul>
            </p>
        </div>
    </div>
{% endif %}
{% endblock directseo_main_content %}