{% extends "registration/dseo/dseo_registration_base.html" %}
{% load i18n %}


{% block directseo_main_content %}
<h1>{% trans "Reset Your Password" %}</h1>
<div class="wrapper">
    <div class="row">
        <div class="span7 offset1">
            <p>{% trans "Enter your email address and we will email instructions for accessing your account." %}</p>
            <p>
                Don't have an account?
                <a href="{% url 'login' %}">{% trans "Create a free account" %}</a>
            </p>
        </div>
        <div class="span4">
            <div class="loginBox reset-form-input">
                <form action="" method="post">
                    {% include 'includes/form-error-highlight.html' %}
                    {% csrf_token %}
                    <button type="submit" class="btn primary pull-right" >{% trans 'Reset my password' %}</button>
                    <div class="clear"></div>
                </form>
            </div>
            <div class="clearfix"></div>
            <div class="loginBox">
                <span class="remembered-password">{% trans "Did you remember your password?" %}</span>
                <a href="{% url 'login' %}" class="btn primary pull-right">
                    {% trans 'Log in' %}
                </a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{% endblock directseo_main_content %}
