{% extends "registration/dseo/dseo_registration_base.html" %}
{% load i18n %}


{% block directseo_main_content %}
    <h1>{% trans "Activation Resent" %}</h1>

    <p>{% trans "If the activation message is not in your inbox:" %}</p>
    <ul>
        <li>{% trans 'Check your spam or junk mail folder.' %}</li>
        <li>{% trans 'Allow up to 15 minutes for your email provider to deliver the email we have sent.' %}</li>
        <li>{% trans 'If you are using a free email service like Gmail, Yahoo or Hotmail, please allow 30 minutes.' %}
    </ul>
{% endblock directseo_main_content %}
