{% load user_ops %}
{% load common_tags %}

{% if candidates %}
                
    {% load endless %}    
    {% paginate candidates %}    
                       
        <table id="row-link-table">
            {% for candidate in candidates %}                    
            <tr class="hide-mobile" onclick="document.location = '{% url 'candidate_information' %}?company={{ company_id }}&user={% to_string candidate.User_id %}&anchor={{ forloop.counter }}&page={{ candidates_page }}&before={{ before|date:'m/d/Y' }}&after={{ after|date:'m/d/Y' }}';">
                <td>
                    <span class="gravatar pull-left">{% get_gravatar_by_id candidate.User_id '55' %}</span>
                </td>
                <td>
                    {% if candidate.User_first_name and candidate.User_last_name %}
                        <div class="candidate-name">{{ candidate.User_first_name }} {{ candidate.User_last_name }}</div>
                    {% else %}
                        <div class="candidate-name">{{candidate.User_email }}</div>
                    {% endif %}
                    <a name="{{ candidate.User_id }}{% if candidate.SavedSearch_label %}{{candidate.SavedSearch_label}}{% else %}Unlabeled{% endif %}"></a>
                    <a href="{% url 'candidate_information' %}?company={{ company_id }}&user={% to_string candidate.User_id %}&anchor={{ candidate.User_id }}{% if candidate.SavedSearch_label %}{{candidate.SavedSearch_label}}{% else %}Unlabeled{% endif %}&page={{ candidates_page }}&before={{ before|date:'m/d/Y' }}&after={{ after|date:'m/d/Y' }}">{{ candidate.user }}</a>
                    <div class="progress activity-progress">
                        <div class="bar bar-{% completion_level candidate.User_profile_completion %}" style="width: {{ candidate.User_profile_completion }}%"></div>
                    </div>
                </td>
                <td>
                    <strong>{% if candidate.SavedSearch_label %}{{candidate.SavedSearch_label}}{% else %}Unlabeled{% endif %}</strong><br>
                    {{ candidate.SavedSearch_url|url_domain }}<br>
                    {% str_to_date candidate.SavedSearch_created_on %}
                </td>
             </tr>
             <tr class="candidate-activity-mobile">
                <td>
                    <span class="gravatar pull-left">{% get_gravatar_by_id candidate.User_id '45' %}</span>
                </td>
                <td>
                    {% if candidate.User_first_name and candidate.User_last_name %}
                        <div class="candidate-name pull-left">{{ candidate.User_first_name }} {{ candidate.User_last_name }}</div>
                    {% else %}
                        <div class="candidate-name pull-left">{{ candidate.User_email }}</div>
                    {% endif %}
                    <a href="{% url 'candidate_information' %}?company={{ company_id }}&user={% to_string candidate.User_id %}&before={{ before|date:'m/d/Y' }}&after={{ after|date:'m/d/Y' }}" class="candidate-activity-mobile pull-left">{{ candidate.user }}</a>
                    <br>
                    <div class="progress activity-progress">
                        <div class="bar bar-{% completion_level candidate.User_profile_completion %}" style="width: {{ candidate.User_profile_completion }}%"></div>
                    </div>
                </td>
             </tr>
             {% endfor %}                    
         </table>
         
         {% show_more %}
         
         <script>
         /*Add btn classes to the endless paging links*/
         $(".endless_container a").addClass("btn");
         $(".endless_container .endless_loading").addClass("btn");
         </script>
{% else %}
    <div id="no-activity">
        <strong>There is no candidate activity between {{after.date}} and {{before.date}} for {{ site_name|cut:"http://" }}</strong>
    </div>
{% endif %}   
