{% extends "seo_base.html" %}
{% load seo_extras %}
{% load i18n %}
{% load cache %}

{% cache 600 joblisting %}

{% block seo_description %}
    {% if custom_page.meta_description %}
        <meta name="description" content='{{ custom_page.meta_description }}'>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock seo_description %}

{% block flatpage_meta %}
    {{ custom_page.meta|safe }}
{% endblock flatpage_meta %}

{% block directseo_title %}
    {{ site_title }} - {{ flatpage.title }}
{% endblock %}

{% block directseo_blurb %}{% endblock %}

{% block directseo_searchbox %}{% endblock %}

{% block ga_js %}
    {% flatpage_ga %}
{% endblock %}

{% block static_title %}
    {{ site_title }}
{% endblock %}

{% block directseo_main_content %}
    {{ flatpage.content }}
{% endblock %}

{% block directseo_right_hand_column %}{% endblock %}

{% block directseo_off_site_links %}{% endblock %}

{% block directseo_footer %}
    {% flatpage_footer_ga %}
{% endblock %}

{% block directseo_micrositecarousel %}{% endblock %}

{% endcache %}
