#de-member-carousel {
    height: 52px;
    width: 100%;
    clear: both;
}
#de-member-carousel a.browse {
    display: block;
    width: 30px;
    height: 52px;
    cursor: pointer;
    font-size: 1px;
}
#de-member-carousel a.left {
    float: left;
}
#de-member-carousel a.right {
    float: right;
}
/* right */
#de-member-carousel a.right         { background: url(//dn9tckvz2rpxv.cloudfront.net/img/carousel-right.png) center no-repeat; clear:right; margin-right: 0px;}
#de-member-carousel a.right:hover   { background: url(//dn9tckvz2rpxv.cloudfront.net/img/carousel-hover-right.png) center no-repeat; clear:right;}
#de-member-carousel a.right:active  { background: url(//dn9tckvz2rpxv.cloudfront.net/img/carousel-hover-right.png) center no-repeat; clear:right;} 
/* left */
#de-member-carousel a.left          { background: url(//dn9tckvz2rpxv.cloudfront.net/img/carousel-left.png) center no-repeat; clear:right; margin-left: 0px;}
#de-member-carousel a.left:hover    { background: url(//dn9tckvz2rpxv.cloudfront.net/img/carousel-hover-left.png) center no-repeat; clear:right;}
#de-member-carousel a.left:active   { background: url(//dn9tckvz2rpxv.cloudfront.net/img/carousel-hover-left.png) center no-repeat; clear:right;} 

.carousel-icon {
    margin: 0 5px 0 5px;
    background: #DDD;
    width: auto;
    height: auto;
    float: none;
} 
.carousel-image {
    width: 100px;
    height: 50px;
    border: 1px solid #ccc;
}
#de-icon-container {
    margin-right: 0px;
    height: 52px;
    display: block;
    text-align: center;
    overflow: hidden;
}