{{ page.templatetag_library|safe }}

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css">
        <script type="text/javascript" src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/js/code/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/js/code/jquery-ui-1.8.17.custom.min.js"></script>
        {{ head }}
    </head>
    <body>
        <div class="direct-page {{ page.bootstrap_classes }}" id="direct-page-{{ page.id }}">
            {{ body }}
        </div>
    </body>
</html>