{{ page.templatetag_library|safe }}

<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="msvalidate.01" content="B9E4E5CC00BB58B097061E7DBFC6FA6B" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css">
        <script type="text/javascript" src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/js/code/jquery-1.7.1.js"></script>
        <script type="text/javascript" src="//d2e48ltfsb5exy.cloudfront.net/framework/v2/js/code/jquery-ui-1.8.17.custom.min.js"></script>
        <script type="text/javascript">var pager_num_items = {% if site_config.num_subnav_items_to_show %}{{ site_config.num_subnav_items_to_show }}{% else %}0{% endif %};</script>

        {% if num_filters > max_filter_settings %}
            <meta name="robots" content="nofollow">
        {% endif %}

        {% if site_config.meta %} {{site_config.meta|safe}} {% endif %}
        {% include "quantcast1.html" %}

        {{ head }}

        {% include "ga.html"%}
    </head>
    <body>
        <div class="direct-page {{ page.bootstrap_classes }}" id="direct-page-{{ page.id }}">
            {{ body }}
        </div>

        <script src="{{ STATIC_URL }}def.ui.microsite.analytics.151-15.js" type="text/javascript"></script>
        {{ page.pixel_template }}

        <script>
            if (error_page){
                ga('send', 'event', 'Error', error_page, 'page: ' + document.location.pathname + document.location.search + ' ref: ' + document.referrer);
            }
            else {
                ga('send', 'pageview');
                {% for ga in google_analytics %}
                    ga('g{{ga.id}}.send', 'pageview');
                {% endfor %}
            }
        </script>
        {% include "quantcast2.html" %}
    </body>
</html>

