{% extends "seo_base.html" %}

{% block myblocks_css_extras %}
<style>
    .direct-image-block {
        margin-top: 15px;
    }
    input[title="Submit Search"] {
        text-indent: 999999px;
    }
    .direct-search-filter-block h3 {
        border-bottom: 1px solid #666 !important;
    }
    .direct-search-filter-block h3:nth-of-type(n+2) {
        padding-top: 10px;
    }
    .direct_filterLabel {
        border-bottom: none !important;
        display: inline;
    }
    .direct_highlightedText {
        border-bottom: none !important;
        display: inline !important;
    }
    .direct-search-filter-block {
        margin-top: 10px;
    }
    .direct-column {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .direct-saved-search-widget-block {
        background-color: #f2f2f2;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .direct-login-form {
        margin-top: 30px;
        padding: 15px;
        border: 1px solid #e6e6e6;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background-color: #f2f2f2
    }
    .direct-image-block img {
        display: block;
        margin: auto;
    }
    .offset1 {
        margin-left: 80px !important;
    }
    .offset2 {
        margin-left: 140px !important;
    }
    .offset3 {
        margin-left: 200px !important;
    }
    .offset4 {
        margin-left: 260px !important;
    }
    .offset5 {
        margin-left: 320px !important;
    }
    .offset6 {
        margin-left: 380px !important;
    }
    .offset7 {
        margin-left: 440px !important;
    }
    .offset8 {
        margin-left: 500px !important;
    }
    .offset9 {
        margin-left: 560px !important;
    }
    .offset10 {
        margin-left: 620px !important;
    }
    .offset11 {
        margin-left: 680px !important;
    }
    .offset12 {

        margin-left: 740px !important;
    }
</style>
{% endblock myblocks_css_extras %}

{% block directseo_searchbox %}{% endblock directseo_searchbox %}

{% block directseo_main_content %}
<div class="direct-page {{ page.bootstrap_classes }}" id="direct-page-{{ page.id }}">
    {{ content }}
</div>
{% endblock directseo_main_content %}
